In [ ]:
# metodo de tratar tabelas

In [1]:
import os
import get_file_word as gf
import datetime

#setar variáveis onde estão arquivos
fileExt = r".docx"
fileDir = r"/Users/wpessoa/repositorios/NGE/words/"

# verificar se existe o diretório
print("Existe esse diretório? ",os.path.exists(fileDir)) 


#fileDir = r"/Users/wpessoa/repositorios/Fluxo_Editorial/words/"
#fileDir= r'/Users/walnerpessoa/repositories/Fluxo_Editorial/words'
files_array = [_ for _ in os.listdir(fileDir) if _.endswith(fileExt)]

print("Quantidade de arquivos do word no diretório: ",len(files_array))

# rodar método get_info para ler aquivos do Word e retornar features de cada arquivo
# argumentos (diretório e array dos arquivos word)
# retorna (NºID,Qtd_caracteres,Qtd_tabela,Qtd_image,data)

var=gf.get_info(fileDir,files_array)
print(var)

Existe esse diretório?  True
Quantidade de arquivos do word no diretório:  35
[('233893', 216, 0, 1, datetime.date(2020, 2, 14)), ('235502', 32209, 7, 8, datetime.date(2020, 5, 27)), ('233694', 74718, 12, 67, datetime.date(2019, 5, 16)), ('233896', 92519, 50, 95, datetime.date(2020, 2, 11)), ('233899', 72272, 70, 141, datetime.date(2020, 2, 18)), ('235305', 106149, 81, 165, datetime.date(2020, 4, 20)), ('233903', 125108, 103, 179, datetime.date(2020, 3, 4)), ('235512', 83759, 115, 205, datetime.date(2020, 6, 8)), ('233904', 77964, 132, 209, datetime.date(2020, 3, 6)), ('233900', 75298, 132, 224, datetime.date(2020, 3, 2)), ('233892', 13373, 161, 224, datetime.date(2019, 6, 18)), ('233909', 90955, 168, 226, datetime.date(2020, 3, 11)), ('233867', 59270, 171, 237, datetime.date(2019, 12, 6)), ('233884', 213336, 239, 238, datetime.date(2020, 1, 20)), ('235353', 65306, 242, 240, datetime.date(2020, 5, 6)), ('235313', 144436, 251, 246, datetime.date(2020, 5, 6)), ('233885', 99723, 270, 255, datetime.date(2020, 2, 5)), ('233891', 16359, 275, 255, datetime.date(2020, 2, 5)), ('233839', 216, 275, 256, datetime.date(2020, 2, 14)), ('233890', 30588, 280, 262, datetime.date(2020, 2, 5)), ('235092', 67666, 283, 264, datetime.date(2020, 3, 24)), ('233908', 584508, 303, 264, datetime.date(2020, 3, 10)), ('233888', 33606, 315, 268, datetime.date(2020, 2, 5)), ('233895', 90795, 329, 280, datetime.date(2020, 1, 29)), ('233886', 73923, 347, 303, datetime.date(2020, 2, 5)), ('235469', 29815, 349, 305, datetime.date(2020, 5, 20)), ('235293', 97465, 353, 310, datetime.date(2020, 4, 6)), ('233907', 32145, 355, 310, datetime.date(2020, 3, 10)), ('233898', 17287, 357, 317, datetime.date(2020, 2, 14)), ('235519', 125372, 363, 323, datetime.date(2020, 5, 26)), ('233889', 15598, 366, 323, datetime.date(2020, 2, 5)), ('235320', 105295, 368, 330, datetime.date(2020, 5, 21)), ('233887', 49223, 373, 335, datetime.date(2020, 2, 5)), ('235495', 33684, 383, 348, datetime.date(2020, 5, 25)), ('233906', 120816, 386, 417, datetime.date(2020, 3, 9))]

In [2]:
import pandas as pd

In [3]:
print(type(var))

<class 'list'>

In [4]:
# converter veriável de retorno do método para Dataframe
df = pd.DataFrame(var,columns=['Nº DA PLANILHA',"Qtd_carac","Qtd_tabela","Qtd_image","Data"])
df.head()

  Nº DA PLANILHA  Qtd_carac  Qtd_tabela  Qtd_image        Data
0         233893        216           0          1  2020-02-14
1         235502      32209           7          8  2020-05-27
2         233694      74718          12         67  2019-05-16
3         233896      92519          50         95  2020-02-11
4         233899      72272          70        141  2020-02-18

In [27]:
df

    Nº DA PLANILHA  Qtd_carac  Qtd_tabela  Qtd_image       Data
0           233893        216           0          1 2020-02-14
1           235502      32209           7          8 2020-05-27
2           233694      74718          12         67 2019-05-16
3           233896      92519          50         95 2020-02-11
4           233899      72272          70        141 2020-02-18
5           235305     106149          81        165 2020-04-20
6           233903     125108         103        179 2020-03-04
7           235512      83759         115        205 2020-06-08
8           233904      77964         132        209 2020-03-06
9           233900      75298         132        224 2020-03-02
10          233892      13373         161        224 2019-06-18
11          233909      90955         168        226 2020-03-11
12          233867      59270         171        237 2019-12-06
13          233884     213336         239        238 2020-01-20
14          235353      65306         242        240 2020-05-06
15          235313     144436         251        246 2020-05-06
16          233885      99723         270        255 2020-02-05
17          233891      16359         275        255 2020-02-05
18          233839        216         275        256 2020-02-14
19          233890      30588         280        262 2020-02-05
20          235092      67666         283        264 2020-03-24
21          233908     584508         303        264 2020-03-10
22          233888      33606         315        268 2020-02-05
23          233895      90795         329        280 2020-01-29
24          233886      73923         347        303 2020-02-05
25          235469      29815         349        305 2020-05-20
26          235293      97465         353        310 2020-04-06
27          233907      32145         355        310 2020-03-10
28          233898      17287         357        317 2020-02-14
29          235519     125372         363        323 2020-05-26
30          233889      15598         366        323 2020-02-05
31          235320     105295         368        330 2020-05-21
32          233887      49223         373        335 2020-02-05
33          235495      33684         383        348 2020-05-25
34          233906     120816         386        417 2020-03-09

In [5]:
# verificando tipo das variáveis
df.dtypes

Nº DA PLANILHA    object
Qtd_carac          int64
Qtd_tabela         int64
Qtd_image          int64
Data              object
dtype: object

In [6]:
# converter tipo para inteiros e data
df["Nº DA PLANILHA"] = pd.to_numeric(df["Nº DA PLANILHA"], errors='coerce')
df["Data"] = pd.to_datetime(df["Data"])

In [7]:
df.dtypes

Nº DA PLANILHA             int64
Qtd_carac                  int64
Qtd_tabela                 int64
Qtd_image                  int64
Data              datetime64[ns]
dtype: object

In [57]:
#Convertendo arquivo excel em dataframe

excelDir ="/Users/wpessoa/repositorios/Fluxo_Editorial/dados/"
excelFile = pd.read_excel(excelDir+'Exercicio_estimativa_de_paginas.xlsx',"EXECUTADO (2)")

In [58]:
excelFile.columns

Index(['ENTIDADE', 'PUBLICAÇÃO', 'Nº de páginas WORD',
       'Nº de páginas estimado',
       'Variação nº de págs estimado sobre nº de págs Word', 'COMPLEXIDADE',
       'FORNECEDOR', 'DESCRIÇÃO', 'Nº DA PLANILHA', 'CUSTO TOTAL',
       'DATA DE ENVIO', 'DATA DE APROVAÇÃO', 'ANÁLISTA RESPONSÁVEL',
       'SOLICITAÇÃO DE COMPRAS', 'PEDIDO DE COMPRAS', 'STATUS DE PGTO',
       'NOTA FISCAL', 'DATA DE PGTO', 'Nº de páginas finais',
       'Variação nº de págs do o Word sobre nº de págs finais',
       'Variação nº de págs finais sobre nº de págs estimado', 'STATUS', 'OBS',
       'ARQ EXTRA', 'LINHA SMARTSHEETS', 'PROJETO GRÁFICO'],
      dtype='object')

In [59]:
# selecionando apenas colunas necessárias
colunas=['ENTIDADE','PUBLICAÇÃO','Nº de páginas WORD','Nº de páginas estimado', 'COMPLEXIDADE','FORNECEDOR','Nº DA PLANILHA','STATUS DE PGTO','Nº de páginas finais']
excelFile2 = excelFile[colunas]

In [60]:
excelFile2.columns

Index(['ENTIDADE', 'PUBLICAÇÃO', 'Nº de páginas WORD',
       'Nº de páginas estimado', 'COMPLEXIDADE', 'FORNECEDOR',
       'Nº DA PLANILHA', 'STATUS DE PGTO', 'Nº de páginas finais'],
      dtype='object')

In [61]:
excelFile2.dtypes

ENTIDADE                   object
PUBLICAÇÃO                 object
Nº de páginas WORD         object
Nº de páginas estimado    float64
COMPLEXIDADE               object
FORNECEDOR                 object
Nº DA PLANILHA             object
STATUS DE PGTO             object
Nº de páginas finais      float64
dtype: object

In [62]:
excelFile2.dtypes

ENTIDADE                   object
PUBLICAÇÃO                 object
Nº de páginas WORD         object
Nº de páginas estimado    float64
COMPLEXIDADE               object
FORNECEDOR                 object
Nº DA PLANILHA             object
STATUS DE PGTO             object
Nº de páginas finais      float64
dtype: object

In [63]:
#excelFile2.set_index('Nº DA PLANILHA',inplace=True)

In [64]:
# verifiacando valores nulos
excelFile2.isnull().sum()

ENTIDADE                  6
PUBLICAÇÃO                6
Nº de páginas WORD        3
Nº de páginas estimado    6
COMPLEXIDADE              6
FORNECEDOR                3
Nº DA PLANILHA            6
STATUS DE PGTO            6
Nº de páginas finais      6
dtype: int64

In [65]:
# retirar registro nulos
excelFile2=excelFile2.dropna()

In [66]:
# verifiacando valores nulos
excelFile2.isnull().sum()

ENTIDADE                  0
PUBLICAÇÃO                0
Nº de páginas WORD        0
Nº de páginas estimado    0
COMPLEXIDADE              0
FORNECEDOR                0
Nº DA PLANILHA            0
STATUS DE PGTO            0
Nº de páginas finais      0
dtype: int64

In [67]:
excelFile2.dtypes

ENTIDADE                   object
PUBLICAÇÃO                 object
Nº de páginas WORD         object
Nº de páginas estimado    float64
COMPLEXIDADE               object
FORNECEDOR                 object
Nº DA PLANILHA             object
STATUS DE PGTO             object
Nº de páginas finais      float64
dtype: object

In [69]:
import numpy as np
excelFile2["Nº DA PLANILHA"] = (pd.to_numeric(excelFile2["Nº DA PLANILHA"], errors='coerce').fillna(0).astype(np.int64))#,downcast='integer'))
#excelFile2["Nº DA PLANILHA"] = excelFile2["Nº DA PLANILHA"].astype('int64',errors='ignore')

In [70]:
excelFile2.dtypes

ENTIDADE                   object
PUBLICAÇÃO                 object
Nº de páginas WORD         object
Nº de páginas estimado    float64
COMPLEXIDADE               object
FORNECEDOR                 object
Nº DA PLANILHA              int64
STATUS DE PGTO             object
Nº de páginas finais      float64
dtype: object

In [71]:
df.dtypes

Nº DA PLANILHA             int64
Qtd_carac                  int64
Qtd_tabela                 int64
Qtd_image                  int64
Data              datetime64[ns]
dtype: object

In [72]:
excelFile2

,ENTIDADE,PUBLICAÇÃO,Nº de páginas WORD,Nº de páginas estimado,COMPLEXIDADE,FORNECEDOR,Nº DA PLANILHA,STATUS DE PGTO,Nº de páginas finais
0,CNI,Relatório de Atividades da DJ,1,1.0,Alta,Editorar,233694,Pago,1.0
1,CNI,Efeitos da gestão sobre a produtividade daas e...,31,48.0,Média,Editorar,233867,Pago,52.0
2,CNI,Programas de Ajuste,56,70.0,Alta,Editorar,233895,Pago,66.0
3,SENAI,Manual para desenvolvimento de recursos didáticos,72,110.0,Alta,Editorar,233885,Pago,86.0
4,SENAI,Metodologia SENAI de Desenvolvimento,50,80.0,Alta,Editorar,233886,Pago,68.0
5,SENAI,Guia CT e QB,28,65.0,Baixa,Editorar,233887,Pago,46.0
6,SENAI,Guia Customizado,24,48.0,Baixa,Editorar,233888,Pago,30.0
7,SENAI,Guia Autoinstrucionais,10,40.0,Baixa,Editorar,233889,Pago,20.0
8,SENAI,Guia Adaptativo,22,45.0,Baixa,Editorar,233890,Pago,30.0
9,SENAI,Guia Microlearning,12,35.0,Baixa,Editorar,233891,Pago,22.0
10,SENAI,Templates,19,45.0,Baixa,Editorar,233892,Pago,24.0
11,CNI,Agenda Jurídica da Indústria 2020,158,220.0,Alta,Editorar,233884,Pago,176.0
12,CNI,Agenda Internacional da Indústria 2020,72,110.0,Alta,Editorar,233896,Pago,84.0
13,CNI,O Brasil e os Códigos de Liberalização da OCDE,66,98.0,Alta,Editorar,233893,Pago,98.0
14,CNI,Planejamento estratégico da MEI,19,45.0,Baixa,Editorar,233898,Pago,38.0
15,CNI,Tradução dos Relatórios EUA e EU sobre distorç...,67,110.0,Alta,Editorar,233903,Pago,88.0
16,CNI,Estudo sobre Medidas Compensatórias aplicadas ...,38,75.0,Alta,Editorar,233904,Pago,68.0
17,CNI,Agenda Legislativa 2020,207,310.0,Alta,Editorar,233908,Pago,296.0
18,CNI,Circular Economy Strategic Path For Brazilian ...,46,80.0,Alta,Editorar,233909,Pago,76.0
19,CNI,Caderno de Ações e Resultados 2019,67,100.0,Alta,Editorar,233899,Pago,86.0
20,CNI,Cartilha de Licenciamento Ambiental,15,15.0,Baixa,Editorar,233910,Pago,15.0
21,CNI,LGPD O que a sua empresa precisa saber,43,72.0,Alta,Editorar,235092,Pago,68.0
22,SESI,Panorama Rede SESI,78,120.0,Alta,Editorar,233906,Pago,108.0
23,SENAI,Competições científicas como forma de estímulo...,70,120.0,Alta,Editorar,233839,Pago,120.0
24,CNI,Pocket ALI 2020,17,40.0,Baixa,Editorar,233907,Pago,38.0
25,CNI,Manual sobre Cooperação Regulatória,50,80.0,Alta,Editorar,235193,Pago,66.0
26,SESI,Resultados e Desafios 2019,55,71.0,Média,Editorar,235195,Pago,57.0
27,SENAI,Resultados e Desafios 2019,55,71.0,-,Editorar,235195,Pago,57.0
28,IEL,Resultados e Desafios 2019,55,71.0,-,Editorar,235195,Pago,57.0
29,CNI,Impactos jurídicos da saída do Brasil,86,130.0,Alta,Editorar,235305,Pago,82.0
30,CNI,Análise dos impactos regulatórios da ratificaç...,90,135.0,Alta,Editorar,235313,Pago,84.0
31,CNI,Documento de referência para implantação das D...,49,84.0,Alta,Editorar,235320,Pago,84.0
32,SENAI,Relatório de Gestão 2019 - SENAI,168,168.0,Alta,Editorar,0,Pago,168.0
33,SESI,Relatório de Gestão 2019 - SESI,162,162.0,Alta,Editorar,0,Pago,162.0
34,CNI,OMC Sem Orgão de Apelação,46,70.0,Média,Editorar,235353,Pago,54.0
35,CNI,Roadmap,40,70.0,Baixa,Editorar,235469,Pago,48.0
36,CNI,Pesquisa de Percepção do Corpo Diplomático,77,120.0,Alta,Editorar,235495,Pago,100.0
37,CNI,Acordo para evitar a dupla tributação entre Br...,24,48.0,Baixa,Editorar,235502,Pago,36.0
38,CNI,Compatibilidade da cláusula de arbitragem com ...,20,48.0,Baixa,Editorar,235509,Pago,36.0
39,CNI,Modelos Aduaneiros Globais,59,90.0,Alta,Editorar,235519,Pago,78.0
40,CNI,A agenda ambiental e de químicos da OCDE e o B...,48,75.0,Alta,Editorar,235512,Pago,66.0
41,SESI,Relatório de Atividades 2019 - SESI / SENAI / ...,100,120.0,Alta,Icomunicação,233900,Pago,82.0

In [67]:
df

    Nº DA PLANILHA  Qtd_carac  Qtd_tabela  Qtd_image       Data
0           233893        216           0          1 2020-02-14
1           235502      32209           7          8 2020-05-27
2           233694      74718          12         67 2019-05-16
3           233896      92519          50         95 2020-02-11
4           233899      72272          70        141 2020-02-18
5           235305     106149          81        165 2020-04-20
6           233903     125108         103        179 2020-03-04
7           235512      83759         115        205 2020-06-08
8           233904      77964         132        209 2020-03-06
9           233900      75298         132        224 2020-03-02
10          233892      13373         161        224 2019-06-18
11          233909      90955         168        226 2020-03-11
12          233867      59270         171        237 2019-12-06
13          233884     213336         239        238 2020-01-20
14          235353      65306         242        240 2020-05-06
15          235313     144436         251        246 2020-05-06
16          233885      99723         270        255 2020-02-05
17          233891      16359         275        255 2020-02-05
18          233839        216         275        256 2020-02-14
19          233890      30588         280        262 2020-02-05
20          235092      67666         283        264 2020-03-24
21          233908     584508         303        264 2020-03-10
22          233888      33606         315        268 2020-02-05
23          233895      90795         329        280 2020-01-29
24          233886      73923         347        303 2020-02-05
25          235469      29815         349        305 2020-05-20
26          235293      97465         353        310 2020-04-06
27          233907      32145         355        310 2020-03-10
28          233898      17287         357        317 2020-02-14
29          235519     125372         363        323 2020-05-26
30          233889      15598         366        323 2020-02-05
31          235320     105295         368        330 2020-05-21
32          233887      49223         373        335 2020-02-05
33          235495      33684         383        348 2020-05-25
34          233906     120816         386        417 2020-03-09

In [73]:
# unir arquivo do NGE com o método de leitura dos arquivos Word
df_final = pd.merge(excelFile2, df, on=['Nº DA PLANILHA'], how='left')

In [74]:
# colocando ordem das colunas adequada
excelFile2.columns
colunas_final = ['Nº DA PLANILHA','ENTIDADE',  'FORNECEDOR','COMPLEXIDADE', 'STATUS DE PGTO',  'Nº de páginas WORD', 'Nº de páginas estimado', 'Qtd_carac','Qtd_tabela', 'Qtd_image','Nº de páginas finais' ]

df_final = df_final[colunas_final]

In [75]:
df_final

,Nº DA PLANILHA,ENTIDADE,FORNECEDOR,COMPLEXIDADE,STATUS DE PGTO,Nº de páginas WORD,Nº de páginas estimado,Qtd_carac,Qtd_tabela,Qtd_image,Nº de páginas finais
0,233694,CNI,Editorar,Alta,Pago,1,1.0,74718.0,12.0,67.0,1.0
1,233867,CNI,Editorar,Média,Pago,31,48.0,59270.0,171.0,237.0,52.0
2,233895,CNI,Editorar,Alta,Pago,56,70.0,90795.0,329.0,280.0,66.0
3,233885,SENAI,Editorar,Alta,Pago,72,110.0,99723.0,270.0,255.0,86.0
4,233886,SENAI,Editorar,Alta,Pago,50,80.0,73923.0,347.0,303.0,68.0
5,233887,SENAI,Editorar,Baixa,Pago,28,65.0,49223.0,373.0,335.0,46.0
6,233888,SENAI,Editorar,Baixa,Pago,24,48.0,33606.0,315.0,268.0,30.0
7,233889,SENAI,Editorar,Baixa,Pago,10,40.0,15598.0,366.0,323.0,20.0
8,233890,SENAI,Editorar,Baixa,Pago,22,45.0,30588.0,280.0,262.0,30.0
9,233891,SENAI,Editorar,Baixa,Pago,12,35.0,16359.0,275.0,255.0,22.0
10,233892,SENAI,Editorar,Baixa,Pago,19,45.0,13373.0,161.0,224.0,24.0
11,233884,CNI,Editorar,Alta,Pago,158,220.0,213336.0,239.0,238.0,176.0
12,233896,CNI,Editorar,Alta,Pago,72,110.0,92519.0,50.0,95.0,84.0
13,233893,CNI,Editorar,Alta,Pago,66,98.0,216.0,0.0,1.0,98.0
14,233898,CNI,Editorar,Baixa,Pago,19,45.0,17287.0,357.0,317.0,38.0
15,233903,CNI,Editorar,Alta,Pago,67,110.0,125108.0,103.0,179.0,88.0
16,233904,CNI,Editorar,Alta,Pago,38,75.0,77964.0,132.0,209.0,68.0
17,233908,CNI,Editorar,Alta,Pago,207,310.0,584508.0,303.0,264.0,296.0
18,233909,CNI,Editorar,Alta,Pago,46,80.0,90955.0,168.0,226.0,76.0
19,233899,CNI,Editorar,Alta,Pago,67,100.0,72272.0,70.0,141.0,86.0
20,233910,CNI,Editorar,Baixa,Pago,15,15.0,NaN,NaN,NaN,15.0
21,235092,CNI,Editorar,Alta,Pago,43,72.0,67666.0,283.0,264.0,68.0
22,233906,SESI,Editorar,Alta,Pago,78,120.0,120816.0,386.0,417.0,108.0
23,233839,SENAI,Editorar,Alta,Pago,70,120.0,216.0,275.0,256.0,120.0
24,233907,CNI,Editorar,Baixa,Pago,17,40.0,32145.0,355.0,310.0,38.0
25,235193,CNI,Editorar,Alta,Pago,50,80.0,NaN,NaN,NaN,66.0
26,235195,SESI,Editorar,Média,Pago,55,71.0,NaN,NaN,NaN,57.0
27,235195,SENAI,Editorar,-,Pago,55,71.0,NaN,NaN,NaN,57.0
28,235195,IEL,Editorar,-,Pago,55,71.0,NaN,NaN,NaN,57.0
29,235305,CNI,Editorar,Alta,Pago,86,130.0,106149.0,81.0,165.0,82.0
30,235313,CNI,Editorar,Alta,Pago,90,135.0,144436.0,251.0,246.0,84.0
31,235320,CNI,Editorar,Alta,Pago,49,84.0,105295.0,368.0,330.0,84.0
32,0,SENAI,Editorar,Alta,Pago,168,168.0,NaN,NaN,NaN,168.0
33,0,SESI,Editorar,Alta,Pago,162,162.0,NaN,NaN,NaN,162.0
34,235353,CNI,Editorar,Média,Pago,46,70.0,65306.0,242.0,240.0,54.0
35,235469,CNI,Editorar,Baixa,Pago,40,70.0,29815.0,349.0,305.0,48.0
36,235495,CNI,Editorar,Alta,Pago,77,120.0,33684.0,383.0,348.0,100.0
37,235502,CNI,Editorar,Baixa,Pago,24,48.0,32209.0,7.0,8.0,36.0
38,235509,CNI,Editorar,Baixa,Pago,20,48.0,NaN,NaN,NaN,36.0
39,235519,CNI,Editorar,Alta,Pago,59,90.0,125372.0,363.0,323.0,78.0
40,235512,CNI,Editorar,Alta,Pago,48,75.0,83759.0,115.0,205.0,66.0
41,233900,SESI,Icomunicação,Alta,Pago,100,120.0,75298.0,132.0,224.0,82.0

In [76]:
#colunas_final = ['Nº DA PLANILHA','ENTIDADE', 'PUBLICAÇÃO', 'FORNECEDOR','COMPLEXIDADE', 'STATUS DE PGTO', 'Data', 'Nº de páginas WORD', 'Nº de páginas estimado', 'Qtd_carac','Qtd_tabela', 'Qtd_image','Nº de páginas finais' ]
#df_final_num = df_final[colunas_final]

In [77]:
df_final.dtypes

Nº DA PLANILHA              int64
ENTIDADE                   object
FORNECEDOR                 object
COMPLEXIDADE               object
STATUS DE PGTO             object
Nº de páginas WORD         object
Nº de páginas estimado    float64
Qtd_carac                 float64
Qtd_tabela                float64
Qtd_image                 float64
Nº de páginas finais      float64
dtype: object

In [78]:
df_final.head()

,Nº DA PLANILHA,ENTIDADE,FORNECEDOR,COMPLEXIDADE,STATUS DE PGTO,Nº de páginas WORD,Nº de páginas estimado,Qtd_carac,Qtd_tabela,Qtd_image,Nº de páginas finais
0,233694,CNI,Editorar,Alta,Pago,1,1.0,74718.0,12.0,67.0,1.0
1,233867,CNI,Editorar,Média,Pago,31,48.0,59270.0,171.0,237.0,52.0
2,233895,CNI,Editorar,Alta,Pago,56,70.0,90795.0,329.0,280.0,66.0
3,233885,SENAI,Editorar,Alta,Pago,72,110.0,99723.0,270.0,255.0,86.0
4,233886,SENAI,Editorar,Alta,Pago,50,80.0,73923.0,347.0,303.0,68.0

In [79]:
# alterar campos typo string para categóricos 
df_final['ENTIDADE'] = df_final['ENTIDADE'].astype('category')
df_final['COMPLEXIDADE'] = df_final['COMPLEXIDADE'].astype('category')
df_final['FORNECEDOR'] = df_final['FORNECEDOR'].astype('category')
df_final['STATUS DE PGTO'] = df_final['STATUS DE PGTO'].astype('category')

In [80]:
# alterar campos typo categóricos para numérico
# aplicando .cat.codes em cada uma dessas colunas
df_final['ENTIDADE'] = df_final['ENTIDADE'].cat.codes
df_final['COMPLEXIDADE'] = df_final['COMPLEXIDADE'].cat.codes
df_final['FORNECEDOR'] = df_final['FORNECEDOR'].cat.codes
df_final['STATUS DE PGTO'] = df_final['STATUS DE PGTO'].cat.codes

In [81]:
#df_final['Nº DA PLANILHA'] = df_final['Nº DA PLANILHA'].astype('int')

In [82]:
df_final

,Nº DA PLANILHA,ENTIDADE,FORNECEDOR,COMPLEXIDADE,STATUS DE PGTO,Nº de páginas WORD,Nº de páginas estimado,Qtd_carac,Qtd_tabela,Qtd_image,Nº de páginas finais
0,233694,0,0,1,0,1,1.0,74718.0,12.0,67.0,1.0
1,233867,0,0,3,0,31,48.0,59270.0,171.0,237.0,52.0
2,233895,0,0,1,0,56,70.0,90795.0,329.0,280.0,66.0
3,233885,2,0,1,0,72,110.0,99723.0,270.0,255.0,86.0
4,233886,2,0,1,0,50,80.0,73923.0,347.0,303.0,68.0
5,233887,2,0,2,0,28,65.0,49223.0,373.0,335.0,46.0
6,233888,2,0,2,0,24,48.0,33606.0,315.0,268.0,30.0
7,233889,2,0,2,0,10,40.0,15598.0,366.0,323.0,20.0
8,233890,2,0,2,0,22,45.0,30588.0,280.0,262.0,30.0
9,233891,2,0,2,0,12,35.0,16359.0,275.0,255.0,22.0
10,233892,2,0,2,0,19,45.0,13373.0,161.0,224.0,24.0
11,233884,0,0,1,0,158,220.0,213336.0,239.0,238.0,176.0
12,233896,0,0,1,0,72,110.0,92519.0,50.0,95.0,84.0
13,233893,0,0,1,0,66,98.0,216.0,0.0,1.0,98.0
14,233898,0,0,2,0,19,45.0,17287.0,357.0,317.0,38.0
15,233903,0,0,1,0,67,110.0,125108.0,103.0,179.0,88.0
16,233904,0,0,1,0,38,75.0,77964.0,132.0,209.0,68.0
17,233908,0,0,1,0,207,310.0,584508.0,303.0,264.0,296.0
18,233909,0,0,1,0,46,80.0,90955.0,168.0,226.0,76.0
19,233899,0,0,1,0,67,100.0,72272.0,70.0,141.0,86.0
20,233910,0,0,2,0,15,15.0,NaN,NaN,NaN,15.0
21,235092,0,0,1,0,43,72.0,67666.0,283.0,264.0,68.0
22,233906,3,0,1,0,78,120.0,120816.0,386.0,417.0,108.0
23,233839,2,0,1,0,70,120.0,216.0,275.0,256.0,120.0
24,233907,0,0,2,0,17,40.0,32145.0,355.0,310.0,38.0
25,235193,0,0,1,0,50,80.0,NaN,NaN,NaN,66.0
26,235195,3,0,3,0,55,71.0,NaN,NaN,NaN,57.0
27,235195,2,0,0,0,55,71.0,NaN,NaN,NaN,57.0
28,235195,1,0,0,0,55,71.0,NaN,NaN,NaN,57.0
29,235305,0,0,1,0,86,130.0,106149.0,81.0,165.0,82.0
30,235313,0,0,1,0,90,135.0,144436.0,251.0,246.0,84.0
31,235320,0,0,1,0,49,84.0,105295.0,368.0,330.0,84.0
32,0,2,0,1,0,168,168.0,NaN,NaN,NaN,168.0
33,0,3,0,1,0,162,162.0,NaN,NaN,NaN,162.0
34,235353,0,0,3,0,46,70.0,65306.0,242.0,240.0,54.0
35,235469,0,0,2,0,40,70.0,29815.0,349.0,305.0,48.0
36,235495,0,0,1,0,77,120.0,33684.0,383.0,348.0,100.0
37,235502,0,0,2,0,24,48.0,32209.0,7.0,8.0,36.0
38,235509,0,0,2,0,20,48.0,NaN,NaN,NaN,36.0
39,235519,0,0,1,0,59,90.0,125372.0,363.0,323.0,78.0
40,235512,0,0,1,0,48,75.0,83759.0,115.0,205.0,66.0
41,233900,3,1,1,0,100,120.0,75298.0,132.0,224.0,82.0

In [ ]:
# excelFile2.iloc[233886]