In [ ]:
# metodo de tratar tabelas

In [1]:
import os
import get_file_word as gf
import datetime

#setar variáveis onde estão arquivos
fileExt = r".docx"
fileDir = r"/Users/wpessoa/repositorios/NGE/words/"

# verificar se existe o diretório
print(os.path.exists(fileDir)) 


#fileDir = r"/Users/wpessoa/repositorios/Fluxo_Editorial/words/"
#fileDir= r'/Users/walnerpessoa/repositories/Fluxo_Editorial/words'
files_array = [_ for _ in os.listdir(fileDir) if _.endswith(fileExt)]

print("Quantidade de arquivos do word no diretório: ",len(files_array))

# rodar método get_info para ler aquivos do Word e retornar features de cada arquivo
# argumentos (diretório e array dos arquivos word)
# retorna (NºID,Qtd_caracteres,Qtd_tabela,Qtd_image,data)

var=gf.get_info(fileDir,files_array)
print(var)

True
Quantidade de arquivos do word no diretório:  35
[('233893', 216, 0, 1, datetime.date(2020, 2, 14)), ('235502', 32209, 7, 8, datetime.date(2020, 5, 27)), ('233694', 74718, 12, 67, datetime.date(2019, 5, 16)), ('233896', 92519, 50, 95, datetime.date(2020, 2, 11)), ('233899', 72272, 70, 141, datetime.date(2020, 2, 18)), ('235305', 106149, 81, 165, datetime.date(2020, 4, 20)), ('233903', 125108, 103, 179, datetime.date(2020, 3, 4)), ('235512', 83759, 115, 205, datetime.date(2020, 6, 8)), ('233904', 77964, 132, 209, datetime.date(2020, 3, 6)), ('233900', 75298, 132, 224, datetime.date(2020, 3, 2)), ('233892', 13373, 161, 224, datetime.date(2019, 6, 18)), ('233909', 90955, 168, 226, datetime.date(2020, 3, 11)), ('233867', 59270, 171, 237, datetime.date(2019, 12, 6)), ('233884', 213336, 239, 238, datetime.date(2020, 1, 20)), ('235353', 65306, 242, 240, datetime.date(2020, 5, 6)), ('235313', 144436, 251, 246, datetime.date(2020, 5, 6)), ('233885', 99723, 270, 255, datetime.date(2020, 2, 5)), ('233891', 16359, 275, 255, datetime.date(2020, 2, 5)), ('233839', 216, 275, 256, datetime.date(2020, 2, 14)), ('233890', 30588, 280, 262, datetime.date(2020, 2, 5)), ('235092', 67666, 283, 264, datetime.date(2020, 3, 24)), ('233908', 584508, 303, 264, datetime.date(2020, 3, 10)), ('233888', 33606, 315, 268, datetime.date(2020, 2, 5)), ('233895', 90795, 329, 280, datetime.date(2020, 1, 29)), ('233886', 73923, 347, 303, datetime.date(2020, 2, 5)), ('235469', 29815, 349, 305, datetime.date(2020, 5, 20)), ('235293', 97465, 353, 310, datetime.date(2020, 4, 6)), ('233907', 32145, 355, 310, datetime.date(2020, 3, 10)), ('233898', 17287, 357, 317, datetime.date(2020, 2, 14)), ('235519', 125372, 363, 323, datetime.date(2020, 5, 26)), ('233889', 15598, 366, 323, datetime.date(2020, 2, 5)), ('235320', 105295, 368, 330, datetime.date(2020, 5, 21)), ('233887', 49223, 373, 335, datetime.date(2020, 2, 5)), ('235495', 33684, 383, 348, datetime.date(2020, 5, 25)), ('233906', 120816, 386, 417, datetime.date(2020, 3, 9))]

In [5]:
import pandas as pd

In [6]:
print(type(var))

<class 'list'>

In [12]:
df = pd.DataFrame(var,columns=['ID',"Qtd_carac","Qtd_tabela","Qtd_image","Data"])
df.head()

       ID  Qtd_carac  Qtd_tabela  Qtd_image        Data
0  233893        216           0          1  2020-02-14
1  235502      32209           7          8  2020-05-27
2  233694      74718          12         67  2019-05-16
3  233896      92519          50         95  2020-02-11
4  233899      72272          70        141  2020-02-18