In [ ]:
# metodo de tratar tabelas

In [1]:
import os
import get_file_word as gf
import datetime
import pandas as pd

#setar variáveis onde estão arquivos
fileExt = r".docx"
fileExt2 = r".doc"
fileDir_19 = r"/Users/wpessoa/repositorios/NGE/words_2019/"
fileDir_20 = r"/Users/wpessoa/repositorios/NGE/words_2020/"


fileDir_semNF = r"/Users/wpessoa/repositorios/NGE/words_semNota/"

# verificar se existe o diretório
print("Existe esse diretório? ",os.path.exists(fileDir_19)) 
print("Existe esse diretório? ",os.path.exists(fileDir_20)) 


#fileDir = r"/Users/wpessoa/repositorios/Fluxo_Editorial/words/"
#fileDir= r'/Users/walnerpessoa/repositories/Fluxo_Editorial/words'
files_array_19 = [_ for _ in os.listdir(fileDir_19) if _.endswith(fileExt)]
#files_array_19_2 = [_ for _ in os.listdir(fileDir_19) if _.endswith(fileExt2)]
#files_array_19=files_array_19_1+files_array_19_2


files_array_20 = [_ for _ in os.listdir(fileDir_20) if _.endswith(fileExt)]
#files_array_20_2 = [_ for _ in os.listdir(fileDir_20) if _.endswith(fileExt2)]
#files_array_20=files_array_20_1+files_array_20_2

print("Quantidade de arquivos do word no diretório: ",len(files_array_19))
print("Quantidade de arquivos do word no diretório: ",len(files_array_20))



# rodar método get_info para ler aquivos do Word e retornar features de cada arquivo
# argumentos (diretório e array dos arquivos word)
# retorna (NºID,Qtd_caracteres,Qtd_tabela,Qtd_image,data)

var_19=gf.get_info(fileDir_19,files_array_19)
var_20=gf.get_info(fileDir_20,files_array_20)

#print(var)

#Quantidade de arquivos do word no diretório:  58
# Quantidade de arquivos do word no diretório:  52

#Quantidade de arquivos do word no diretório:  56
#Quantidade de arquivos do word no diretório:  50

Existe esse diretório?  True
Existe esse diretório?  True
Quantidade de arquivos do word no diretório:  60
Quantidade de arquivos do word no diretório:  80
ID228354-CNI_ Estudo Mecanismo de Soluá∆o de Consulta Antecipada_vf+RevisaoGramatical.docx
ID235502-Investimentos_Roadmap_BrasilUK_v5_Normalizado.docx
ID232098-2019-09-16_30 CASOS_FINAL 20190820 (inglês).docx
ID225392-Manual Ouvidoria do SESI SENAI REVISADO POR DANUZIA - NORMALIZADOv2 - 06.11.18.docx
ID228307-Pesquisa Sindical 2018_Relatório_versão final.docx
ID224325-Reuso_PE-normalizado_revisado_final.docx
ID232211-Agendar for USA.docx
ID230571-10 Chamada_20190619 - - (1).docx
ID229536-Avanços da Gestão SESI-SENAI-IEL v10.docx
ID231772-Versão preliminar I-2027 MPE-2.docx
ID226842-20190115 Estudo_ApoioExportadorDefesaComercial_v08.docx
ID231928-Investimentos_Tributação_Roadmap_BrasilEUA_20190328_Normalizado_06092019_123259.docx
ID233550-2019-11-25_CNI Agências Reguladoras Subnacionais- v2 - normalização concluída.docx
ID228603-Posicao Mercosul PPT Argentina_v11.docx
ID228863-2019-03-25 _TratamentodaChinaComoEconomiadeMercado_NME_v04.docx
ID231316-Mexico_InteressesOfensivos_201907_Normalizado_v02.docx
ID229294 -Normatizado  Livro ESocial - empregado ajustado depois da DJ_revisado empresa externa.docx
ID231829-2019-08-20 Estudo_CustosAeroportuarios_Relatorio_v15_normalizado.docx
ID230908-2019-07-04 Alemanha_2019_v4.docx
ID231210-2019-09-06 NR 12 - Comentarios ao novo texto geral. edição para diagramação.docx
ID229323-Normatizado  Livro ESocial - empregado ajustado depois da DJ_revisado empresa externa.docx
ID000003-Estudo temático_Impactos da revolução digital Unesco_Unificado_19ago2019.docx
ID228837-Mercosul_Alteracao Tarifaria_201902_v09_Normalizado (1).docx
ID228437-Recuperacao_Energetica_normalizado_revisado.docx
ID230630-2019-06-24_Reuso PB_normalizada_V02.docx
ID233405-2019-11-14 1128 Cartilha licenciamento ambiental_V9_normalizado_revisado_14112019_180959.docx
ID233069-AgendaPara_MÇxico_2019.docx
ID233474-Ecommerce_ResultadosConsulta_v06_Normalizado.docx
ID000000-Manual de formatos - Oficial.docx
ID231055-AgendaPara_EstadosUnidos_2019 (1).docx
ID232596-CNI_DocumentodePosicao_Brexit_v11_Normalizado.docx
ID225531-Versão Revisada e Normalizada_FINAL.docx
ID230301-2019.06.05_reuso rj_V03.docx
ID233269-19.11 Relatorio Executivo FINAL_Normalizado.docx
ID228711-RELAToRIO SESI SENAI IEL 2018_PRELIMINAR_NORMALIZADO_2019.03.14.docx
ID231931-2019-08-26 Posiá∆o CNI_Reforma da OMC_v06_20190808_normalizado.docx
ID232943-CNI_FC_Estudo_FacilitacaoComercioMercosul_vlimpa_normalizada REVISADO_rp FINAL (2).docx
ID231201-2019-07-23_30 CASOS_FINAL REVISADO NORMALIZAÇÃO.docx
ID229345-OECD_CompatibilidadeSistemaBrasileiro_v08_Normalizado.docx
ID230277-19.05 Estudo final Esp gás_Nornalizado_Rev J (2).docx
ID231274-Versão Preliminar do Plano Estratégico_v10_enviado para Diret.docx
ID229428-Doc de Política Industrial Revisado - 02-04-2019_02052019_145149.docx
ID230874-Estudo_ProdutividadedasMultis_Normalizado.docx
ID232396-FinanciamentoeGarantias_BenchmarkingInternacional_v08_Normalizado.docx
ID232174-2019-08-23 AgendaPara_Japao_2019.docx
ID231938-AgendaPara_Alemanha_2019_Mark.docx
ID22703-FINAL_Agenda Jurídica da Indústria 2019 - STF (ÁBARIS)_31012019_145404.docx
ID230059-CNI_ConselhosUsuarios_Completa_20190510_vnormalizada-revisada (1).docx
ID225392-CNI_Atos Internacionais_201810_normalizado_final.docx
ID231431-Re£so ES_nor_rev.docx
ID224323-Reuso_CE-normalizado_revisado_final.docx
ID233263-2019-11-05 Boas praticas de parceria_Versao consolidada3_para editoração.docx
ID230385-Investimentos_ManualdeAcordosPrevidenci rio_v6_Normalizado.docx
ID232625-Guia do Docente_Editorado.docx
ID231890-Posicionamento sobre licenciamento ambiental VFinal.docx
ID232393-Guia Avaliação última versão v 02_10_2019 _ Normalizado (1).docx
ID231637-2019-08-09 CNI_CAM_Avancos&ImpactosParaBrasil_EstudoNormativoAduaneiro_20190718_v01r_limpa_ REVISADO.docx
ID233072-2019-10-22 AgendaPara_Argentina_2019.docx
ID232872-CNI_FC_GestaoRiscoOrgaosAnuentesComercioExterior_Estudo_vf.docx
ID227130-2019-01-18_Guia de Financiamento Climático_vs final (2).docx
ID235651-2020-06-16 AgendaPara_BRICS_2020_Normalizada (1).docx
ID236123-Carta_presidente_20201002_MC Precificação de Carbono  e Competitividade da Indústria_v01_atualizada (1).docx
ID235534-2020-06-02 AgendaPara_Japao_2020_Normalizada (3).docx
ID235502-Investimentos_Roadmap_BrasilUK_v5_Normalizado.docx
ID235880-AgendaPara_MÇxico_2020_Normalizada (1).docx
ID235665-Normas e Politicas de Uso_Revisado DJ_FINAL.docx
ID233694-Relatório Diretoria Jurídica 2018-1 - Cópia (1).docx
ID233896-2020-01-29 AII2020_Consolidação_V10.docx
ID235810-AgendaPara_China_Normalizada (1).docx
ID233899-Caderno de ações e resultados 2019 - Versão Editoração .docx
ID235305-Mercosul_ImpactosJuridicosSaidaBrasil_RelatorioCompleto_202003_v03_Normalizado (1).docx
ID233903-2020-05-02 Tradução Relatórios EUA e UE Distorções China_2020_v02 REVISADO_NORMALIZADO_sem comentários.docx
ID235520-2020-05-25 AgendaPara_Alemanha_2020_Normalizada (1).docx
ID235980-Educação Infantil  4 e 5  anos - Diagramar.docx
ID235512-2020-06-05 OCDE_EstudoConvergênciaInstrumentosMeioAmbiente_v10_normalizado (1).docx
ID233904-2020-03-06 Estudo CNI_ China  Subsídios chineses identificados em investigações sobre medidas compensatórias no mundo(459760.20) (003)_Normalizado.docx
ID235513-2020-05-14 GUIA_PPN-Corrigido_Final_normalizado REVISADO-Comentado (1).docx
ID235664-Governança de Dados_Revisado DJ_FINAL.docx
ID235511-2020-05-29 AgendaParaEUA_2020_normalizado.docx
ID235509-Investimentos_Estudo_Compatibilidade da cláusula de arbitragem com os ADTs celebrados pelo Brasil_Normalizado.docx
ID235142-2020-03-30 0922 Bioeconomia e a Indústria Brasileira_30-03-2020_normalizado_vf.docx
ID233900-Relatório Atividades 2019_SESI-SENAI-IEL_versão preliminar.docx
ID235985-EF ANOS FINAIS CONSOLIDADO.docx
ID233892-8- Templates.docx
ID235382-2020-05-20-1 Manual de eventos.docx
ID236105-2020-09-23 Estudo_NormasLegais_CNI_vers∆o_revisada_set2020 (1).docx
ID233909-2020-03-11 publicacao_caminho_estrategico_economia_circular (ingl.)_normalizado.docx
ID233867-06_12_2019_EFEITOS DA GESTÃO SOBRE A PRODUTIVIDADE - PARA PUBLICAÇÃO_Final_19122019_155125.docx
ID233884-Agenda Jurídica STF 2020 (versão PRELIMINAR).docx
ID235701-08-07-2020 2º GUIA - Tempo de Ensinar e Aprender Final - Validado e Revisado (1).docx
ID235650-2020-06-05 AgendaPara_Argentina_2020_Normalizada (1).docx
ID235353-2020-05-06 Estudo CNI _ Documento de POsição OMC sem Órgão de Apelação.docx
ID235313-2020-05-05 2320 CNI - Estudo - Protocolo de Nagoya - normalizado_ 06_05.docx
ID235983-EJA - ANOS INICIAIS_Diagramar.docx
ID233885-1- Metodol Rec Did - rev.docx
ID233893-Códigos_EstudoCNI_v10.docx
ID235905-EstudoRegimeEspecialServicos_NormalizacaoCompleta_20200831.docx
ID233891-7- Guia Microlearning - rev.docx
ID235909-CAMEX_Estudo1_consolidadoAI_normalizado.docx
ID235700-2020-06-26 1º GUIA - TEMPO DE PLANEJAR - Validado REVISADO.docx
ID235876-2020-05-25 AgendaPara_Alemanha_2020_Normalizada TRAD _rev.docx
ID235812-AgendaPara_India_Normalizada (2).docx
ID233905-Proposta da Industria 2020-2022 2020_03_04.docx
ID235798-2020-08-20 MINERACAO NO BRASIL RUMO A UMA INDUSTRIA PRODUTIVA_ SEGURA E SUSTENTA´VEL (1).docx
ID235986-EF ANOS INICIAIS CONSOLIDADO.docx
ID235831-Investimentos_Desempenhoexportadordasmultis_v5.docx
ID235874-2020-08-17 20200724_MC_GUIA FINANCIAMENTO_CLIMA_Aprovada_V01_NORMALIZADO.docx
ID235984-EJA - ENSINO MÉDIO - Diagramar.docx
ID235514-Guia Operacional MSEP - Ensino Superior_Final-normalizado-sandro_revisado 10 de junho de 2020 (2).docx
ID233890-6- Guia Adaptativo - rev.docx
ID235092-2020-03-20 CNI Dados Pessoais_cartilha (1) (1).docx
ID235806-20200721_MC_MDS Comp Ind_v01_Aprovada_Normalizado (1).docx
ID233908-ALI 2020 em 10 03 2020 Enviado para Editora.docx
ID233888-4- Guia Customizados - rev.docx
ID235882-AgendaPara_CoreiadoSul_Normalizada (1).docx
ID236159-2020-10-08 Violencia Autoprovocada - conteúdo revisado gramatica e abnt.docx
ID233895-2020-01-29 ProgramasAjuste_Posicao_202001_v05 (1) (2).docx
ID235710-2020-06-09 GUIA de operacionalização - PSAI sutentável_Adriana_Normalizado REVISADO (1) (1).docx

ID235881-AgendaPara_ReinoUnido_Normalizada (1).docx
ID233886-2- Metodol LD - rev.docx
ID235964-VF MINUTA DE PUBLICAÇÃO sobre teletrabalho em países selecionados vf rev setembro 04.docx
ID235469-2020-05-12 ROADMAP _FCBPR_BR-EUA_20200413 V3.docx
ID235878-20200817_Água_de_reúso_Normalizado.docx
ID235293-CooperacaoRegulatoriaManual_202004_Abares.docx
ID233907-Pocket Pauta Mínima em 10 03 2020 Enviado para Editorar.docx
ID235981-EJA - ANOS FINAIS - Diagramar.docx
ID233898-Planejamento Estratégico MEI 2020-24_17022020_095649.docx
ID235883-AgendaPara_Franáa_Normalizada (1).docx
ID236021-2020-06-02 AgendaPara_Japao_2020_Normalizada.docx
ID235519-CNI_ModelosAduaneirosGlobais&CooperacaoAduaneira_vfrevisado (1).docx
ID233889-5- Guia Autoinstrucionais - rev.docx
ID235652-2020-05-29 AGENDA FOR THE UNITED STATES_2020_normalizado.docx
ID235320-DCNs Engenharia_DOCUMENTO FINAL.docx
ID235811-2020-06-16 AgendaPara_BRICS_2020_Normalizada _rev.docx
ID233887-3- Guia CT e QB - rev.docx
ID235979-Educação Infantil  3 anos - Diagramar.docx
ID235495-[PCD_Publicacao_PT].docx
ID233906-Panorama Rede SESI EM_27 nov 2019_FINAL.docx
ID235832-2020-08-07 Difusão da I4.0 - Versão para publicação_revisao2.docx
ID236025-2020-09-16 Concorrência Justa e Defesa Comercial na crise_versão final (1).docx

In [ ]:
#files_array_19_2

- Existe esse diretório?  True
- Existe esse diretório?  True
- Quantidade de arquivos do word no diretório:  58
- Quantidade de arquivos do word no diretório:  35

In [2]:
print(type(var_19))

<class 'list'>

In [3]:
# unindo lista 2019 com lista 2020
var=var_19+var_20

In [4]:
#df.count()

In [5]:
#df[df['Nº DA PLANILHA'].isnull()]

In [6]:
# converter veriável de retorno do método para Dataframe
#df = pd.DataFrame(var,columns=['Nº DA PLANILHA',"Qtd_carac","Qtd_tabela","Qtd_image","Data"])
df = pd.DataFrame(var,columns=['Nº DA PLANILHA',"Qtd_PG_word","Qtd_carac","Qtd_tabela","Qtd_image","Qtd_estilos", "Data"])

df.head()

,Nº DA PLANILHA,Qtd_PG_word,Qtd_carac,Qtd_tabela,Qtd_image,Qtd_estilos,Data
0,228354,76,129122,14,10,26,2019-02-27
1,235502,24,31123,21,17,23,2020-05-27
2,232098,195,413596,26,20,19,2019-09-16
3,225392,30,41144,28,24,23,2018-11-07
4,228307,62,43155,40,73,25,2019-02-26

In [7]:
df

,Nº DA PLANILHA,Qtd_PG_word,Qtd_carac,Qtd_tabela,Qtd_image,Qtd_estilos,Data
0,228354,76,129122,14,10,26,2019-02-27
1,235502,24,31123,21,17,23,2020-05-27
2,232098,195,413596,26,20,19,2019-09-16
3,225392,30,41144,28,24,23,2018-11-07
4,228307,62,43155,40,73,25,2019-02-26
...,...,...,...,...,...,...,...
135,235979,45,72613,909,736,15,2020-09-14
136,235495,39,31612,919,749,25,2020-05-25
137,233906,78,118624,922,818,19,2020-03-09
138,235832,34,70983,924,822,16,2020-08-07
139,236025,24,33141,929,827,19,2020-09-16

In [8]:
# verificando tipo das variáveis
df.dtypes

Nº DA PLANILHA    object
Qtd_PG_word       object
Qtd_carac          int64
Qtd_tabela         int64
Qtd_image          int64
Qtd_estilos        int64
Data              object
dtype: object

In [9]:
# converter tipo para inteiros e data
df["Nº DA PLANILHA"] = pd.to_numeric(df["Nº DA PLANILHA"], errors='coerce')
df["Data"] = pd.to_datetime(df["Data"])

In [10]:
df.dtypes

Nº DA PLANILHA           float64
Qtd_PG_word               object
Qtd_carac                  int64
Qtd_tabela                 int64
Qtd_image                  int64
Qtd_estilos                int64
Data              datetime64[ns]
dtype: object

In [86]:
#Convertendo arquivo excel em dataframe

excelDir ="/Users/wpessoa/repositorios/Fluxo_Editorial/dados/"
excelFile_2019 = pd.read_excel(excelDir+'Exercicio_estimativa_de_paginas_2019_2020.xlsx',"EXECUTADO 2019")
#excelFile_2020 = pd.read_excel(excelDir+'Exercicio_estimativa_de_paginas_2019_2020.xlsx',"EXECUTADO 2020")
excelFile_2020 = pd.read_excel(excelDir+'Planilha de Acompanhamento Editoração 2020.xlsx',"ACOMPANHAMENTO", header=1)

In [87]:
len(excelFile_2020.columns)

20

In [88]:
len(excelFile_2019.columns)

28

In [89]:
excelFile_2020.columns

Index(['ENTIDADE', 'PUBLICAÇÃO', 'Nº de páginas WORD',
       'Nº de páginas estimado', 'COMPLEXIDADE', 'FORNECEDOR', 'DESCRIÇÃO',
       'Nº DA PLANILHA', 'CUSTO INICIAL', 'CUSTO FINAL', 'DATA DE ENVIO',
       'DATA DE APROVAÇÃO', 'ANÁLISTA RESPONSÁVEL', 'SOLICITAÇÃO DE COMPRAS',
       'PEDIDO DE COMPRAS', 'STATUS DE PGTO', 'NOTA FISCAL', 'DATA DE PGTO',
       'Nº de páginas finais', 'STATUS'],
      dtype='object')

In [90]:
excelFile_2020.tail(30)

,ENTIDADE,PUBLICAÇÃO,Nº de páginas WORD,Nº de páginas estimado,COMPLEXIDADE,FORNECEDOR,DESCRIÇÃO,Nº DA PLANILHA,CUSTO INICIAL,CUSTO FINAL,DATA DE ENVIO,DATA DE APROVAÇÃO,ANÁLISTA RESPONSÁVEL,SOLICITAÇÃO DE COMPRAS,PEDIDO DE COMPRAS,STATUS DE PGTO,NOTA FISCAL,DATA DE PGTO,Nº de páginas finais,STATUS
126,SESI,Violência Autoprovocada,162,220,Alta,Icomunicação,"Adaptação de projeto gráfico, editoração e fin...",236159,7205.17,7205.17,2020-10-28 00:00:00,2020-10-29 00:00:00,NaN,NaN,NaN,Empenhado,NaN,NaN,NaN,Rateio 62% Sesi e 38% Senai.
127,SENAI,Violência Autoprovocada,162,220,Alta,Icomunicação,"Adaptação de projeto gráfico, editoração e fin...",236159,4416.08,4416.08,2020-10-28 00:00:00,2020-10-29 00:00:00,NaN,NaN,NaN,Empenhado,NaN,NaN,NaN,Rateio 62% Sesi e 38% Senai.
128,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,TOTAL GERAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,491376.27,515110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BALANCE DE AGÊNCIAS (SISTEMA INDÚSTRIA),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135,NaN,Valor previsto,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EDITORAR,NaN,482593,0.936873,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ICOMUNICAÇÃO,NaN,32517.2,0.0631266,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TOTAL,NaN,515110,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BALANCE DE AGÊNCIAS (SESI-SENAI) - CONTRATO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EDITORAR,NaN,246243,0.883351,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ICOMUNICAÇÃO,NaN,32517.1,0.116649,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TOTAL,NaN,278760,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BAIXA,42,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MÉDIA,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ALTA,70,NaN,SESI,SENAI,CNI,IEL,NaN,NaN
147,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TOTAL,120,EDITORAR,137484,108758,236350,0,NaN,NaN
148,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ICOMUNICAÇÃO,18176.2,14341,0,0,NaN,NaN
149,* Lembrando que os valores poderão sofrer alte...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152,NaN,NaN,NaN,NaN,CNI,236350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153,NaN,NaN,NaN,NaN,SESI,148455,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154,NaN,NaN,NaN,NaN,SENAI,113715,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
155,NaN,NaN,NaN,NaN,IEL,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [91]:
excelFile_2019.columns

Index(['ENTIDADE', 'PUBLICAÇÃO', 'Nº de páginas WORD',
       'Nº de páginas estimado',
       'Variação nº de págs estimado sobre nº de págs Word', 'COMPLEXIDADE',
       'FORNECEDOR', 'DESCRIÇÃO', 'Nº DA PLANILHA', 'CUSTO TOTAL',
       'DATA DE ENVIO', 'DATA DE APROVAÇÃO', 'ANÁLISTA RESPONSÁVEL',
       'SOLICITAÇÃO DE COMPRAS', 'PEDIDO DE COMPRAS', 'STATUS DE PGTO',
       'NOTA FISCAL', 'DATA DE PGTO', 'Nº de páginas finais',
       'Diferença nº de págs do Word e págs estimado',
       'Diferença nº de págs do final e págs estimado',
       'Variação nº de págs do o Word sobre nº de págs finais',
       'Variação nº de págs finais sobre nº de págs estimado', 'STATUS', 'OBS',
       'ARQ EXTRA', 'LINHA SMARTSHEETS', 'PROJETO GRÁFICO'],
      dtype='object')

In [92]:
###################################################
# FAZER MERGE COM excelFile_2020 & excelFile_2019
##################################################

In [93]:
frames = [excelFile_2019, excelFile_2020]
excelFile2 = pd.concat(frames)

In [94]:
# reindexar o index devido ter deletado algumas linhas
excelFile2.reset_index(drop=True, inplace=True)

In [95]:
# selecionando apenas colunas necessárias
#colunas=['ENTIDADE','PUBLICAÇÃO','Nº de páginas WORD','Nº de páginas estimado', 'COMPLEXIDADE','FORNECEDOR','Nº DA PLANILHA','STATUS DE PGTO','Nº de páginas finais']
colunas=['ENTIDADE', 'PUBLICAÇÃO', 'Nº de páginas WORD',
       'Nº de páginas estimado', 'COMPLEXIDADE', 'FORNECEDOR',
       'Nº DA PLANILHA', 'STATUS DE PGTO', 'Nº de páginas finais']

excelFile2 = excelFile2[colunas]

In [96]:
excelFile2.columns

Index(['ENTIDADE', 'PUBLICAÇÃO', 'Nº de páginas WORD',
       'Nº de páginas estimado', 'COMPLEXIDADE', 'FORNECEDOR',
       'Nº DA PLANILHA', 'STATUS DE PGTO', 'Nº de páginas finais'],
      dtype='object')

In [97]:
excelFile2.dtypes

ENTIDADE                  object
PUBLICAÇÃO                object
Nº de páginas WORD        object
Nº de páginas estimado    object
COMPLEXIDADE              object
FORNECEDOR                object
Nº DA PLANILHA            object
STATUS DE PGTO            object
Nº de páginas finais      object
dtype: object

In [98]:
excelFile2.dtypes

ENTIDADE                  object
PUBLICAÇÃO                object
Nº de páginas WORD        object
Nº de páginas estimado    object
COMPLEXIDADE              object
FORNECEDOR                object
Nº DA PLANILHA            object
STATUS DE PGTO            object
Nº de páginas finais      object
dtype: object

In [99]:
#excelFile2.set_index('Nº DA PLANILHA',inplace=True)

In [100]:
excelFile2

,ENTIDADE,PUBLICAÇÃO,Nº de páginas WORD,Nº de páginas estimado,COMPLEXIDADE,FORNECEDOR,Nº DA PLANILHA,STATUS DE PGTO,Nº de páginas finais
0,CNI,Reuso CE,87,140,Alta,Editorar,224323,Pago,140
1,CNI,Reuso PE,82,122,Alta,Editorar,224325,Pago,122
2,CNI,Processo De Internalização Dos Atos Internacio...,41,70,Média,Editorar,225392,Pago,52
3,CNI,Manual de orientações da ouvidoria do Sesi e d...,30,45,Baixa,Editorar,225507,Pago,32
4,CNI,Guia de Propriedade Intelectual para o Jornalista,36,48,Baixa,Editorar,225531,Pago,48
...,...,...,...,...,...,...,...,...,...
226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227,NaN,NaN,NaN,NaN,CNI,236350,NaN,NaN,NaN
228,NaN,NaN,NaN,NaN,SESI,148455,NaN,NaN,NaN
229,NaN,NaN,NaN,NaN,SENAI,113715,NaN,NaN,NaN
230,NaN,NaN,NaN,NaN,IEL,0,NaN,NaN,NaN

In [101]:
excelFile2.describe()

,ENTIDADE,PUBLICAÇÃO,Nº de páginas WORD,Nº de páginas estimado,COMPLEXIDADE,FORNECEDOR,Nº DA PLANILHA,STATUS DE PGTO,Nº de páginas finais
count,195,193,194,191,195,198,191,194,171
unique,8,186,115,81,9,9,174,6,65
top,CNI,Resultados e Desafios 2019,---,48,Alta,Editorar,-,Pago,---
freq,142,3,15,25,114,179,4,167,14

In [102]:
# Verificar se tem alguma inconsistencia na planilha Excel - Quantidade de páginas por exemplo
# excelFile2.sort_values('Nº de páginas WORD')

In [103]:
excelFile2['Nº de páginas finais'].unique()

array(['140', '122', '52', '32', '48', 88, '66', '82', '92', '70', '96',
       '18', '40', '46', '68', '34', '28', '86', '84', '110', '116', '98',
       '340', '72', '112', '71', '100', '43', '76', '212', '74', '38',
       '42', '54', '104', '386', '126', '296', '196', 'RMSE', nan, '01',
       52, '30', '20', '22', '24', '176', '88', '---', '15', '108', '120',
       '57', '128', '168', '162', '36', '78', '44', '62', '90', '144',
       '64', '414', '398'], dtype=object)

In [104]:
# retirarvalores N0 de paginas finais = "---"
excelFile2 = excelFile2[excelFile2['Nº de páginas finais']!="---"]

In [105]:
# Verificar se tem alguma inconsistencia na planilha Excel - Quantidade de páginas por exemplo
# excelFile2.sort_values('Nº de páginas finais')

In [106]:
# verifiacando valores nulos
excelFile2.isnull().sum()

ENTIDADE                  36
PUBLICAÇÃO                38
Nº de páginas WORD        37
Nº de páginas estimado    40
COMPLEXIDADE              36
FORNECEDOR                33
Nº DA PLANILHA            40
STATUS DE PGTO            37
Nº de páginas finais      60
dtype: int64

In [107]:
# retirar registro nulos
excelFile2=excelFile2.dropna()

In [108]:
# verifiacando valores nulos
excelFile2.isnull().sum()

ENTIDADE                  0
PUBLICAÇÃO                0
Nº de páginas WORD        0
Nº de páginas estimado    0
COMPLEXIDADE              0
FORNECEDOR                0
Nº DA PLANILHA            0
STATUS DE PGTO            0
Nº de páginas finais      0
dtype: int64

In [109]:
excelFile2.dtypes

ENTIDADE                  object
PUBLICAÇÃO                object
Nº de páginas WORD        object
Nº de páginas estimado    object
COMPLEXIDADE              object
FORNECEDOR                object
Nº DA PLANILHA            object
STATUS DE PGTO            object
Nº de páginas finais      object
dtype: object

In [110]:
import numpy as np
excelFile2["Nº DA PLANILHA"] = (pd.to_numeric(excelFile2["Nº DA PLANILHA"], errors='coerce').fillna(0).astype(np.int64))#,downcast='integer'))
#excelFile2["Nº DA PLANILHA"] = excelFile2["Nº DA PLANILHA"].astype('int64',errors='ignore')

In [111]:
excelFile2.dtypes

ENTIDADE                  object
PUBLICAÇÃO                object
Nº de páginas WORD        object
Nº de páginas estimado    object
COMPLEXIDADE              object
FORNECEDOR                object
Nº DA PLANILHA             int64
STATUS DE PGTO            object
Nº de páginas finais      object
dtype: object

In [112]:
df.dtypes

Nº DA PLANILHA           float64
Qtd_PG_word               object
Qtd_carac                  int64
Qtd_tabela                 int64
Qtd_image                  int64
Qtd_estilos                int64
Data              datetime64[ns]
dtype: object

In [113]:
excelFile2

,ENTIDADE,PUBLICAÇÃO,Nº de páginas WORD,Nº de páginas estimado,COMPLEXIDADE,FORNECEDOR,Nº DA PLANILHA,STATUS DE PGTO,Nº de páginas finais
0,CNI,Reuso CE,87,140,Alta,Editorar,224323,Pago,140
1,CNI,Reuso PE,82,122,Alta,Editorar,224325,Pago,122
2,CNI,Processo De Internalização Dos Atos Internacio...,41,70,Média,Editorar,225392,Pago,52
3,CNI,Manual de orientações da ouvidoria do Sesi e d...,30,45,Baixa,Editorar,225507,Pago,32
4,CNI,Guia de Propriedade Intelectual para o Jornalista,36,48,Baixa,Editorar,225531,Pago,48
...,...,...,...,...,...,...,...,...,...
196,SENAI,Guia de Operacionalização da MSEP,56,104,Alta,Icomunicação,235514,Pago,72
197,SENAI,MSEP / 1º Guia da Prática Pedagógica,38,48,Baixa,Icomunicação,235700,Pago,44
198,SENAI,MSEP / 2º Guia da Prática Pedagógica,33,44,Baixa,Icomunicação,235701,Pago,40
199,SENAI,Guia de Operalização PSAI Sustentável,33,72,Baixa,Icomunicação,235710,Pago,48
200,SENAI,Introdução ao método do emprego apoiado,12,24,Baixa,Icomunicação,235813,Pago,24

In [114]:
df

,Nº DA PLANILHA,Qtd_PG_word,Qtd_carac,Qtd_tabela,Qtd_image,Qtd_estilos,Data
0,228354.0,76,129122,14,10,26,2019-02-27
1,235502.0,24,31123,21,17,23,2020-05-27
2,232098.0,195,413596,26,20,19,2019-09-16
3,225392.0,30,41144,28,24,23,2018-11-07
4,228307.0,62,43155,40,73,25,2019-02-26
...,...,...,...,...,...,...,...
135,235979.0,45,72613,909,736,15,2020-09-14
136,235495.0,39,31612,919,749,25,2020-05-25
137,233906.0,78,118624,922,818,19,2020-03-09
138,235832.0,34,70983,924,822,16,2020-08-07
139,236025.0,24,33141,929,827,19,2020-09-16

In [115]:
# verificando quantidade de linhas
df['Nº DA PLANILHA'].count()

139

In [116]:
# -----> verificar valores NAN 
df.isnull().sum()

Nº DA PLANILHA    1
Qtd_PG_word       0
Qtd_carac         0
Qtd_tabela        0
Qtd_image         0
Qtd_estilos       0
Data              0
dtype: int64

In [117]:
# verificando quantidade de linhas com o coluna N0. da planilha igual a NaN
df[df['Nº DA PLANILHA'].isnull()]

,Nº DA PLANILHA,Qtd_PG_word,Qtd_carac,Qtd_tabela,Qtd_image,Qtd_estilos,Data
46,NaN,143,258920,427,690,5,2019-02-05

In [118]:
# verificando quantidade de linhas

excelFile2['Nº DA PLANILHA'].count()

155

In [119]:
# -----> verificar valores NAN 
excelFile2.isnull().sum()

ENTIDADE                  0
PUBLICAÇÃO                0
Nº de páginas WORD        0
Nº de páginas estimado    0
COMPLEXIDADE              0
FORNECEDOR                0
Nº DA PLANILHA            0
STATUS DE PGTO            0
Nº de páginas finais      0
dtype: int64

In [120]:
# verificando quantidade de linhas com o coluna N0. da planilha igual a NaN

excelFile2[excelFile2['Nº DA PLANILHA'].isnull()]

Empty DataFrame
Columns: [ENTIDADE, PUBLICAÇÃO, Nº de páginas WORD, Nº de páginas estimado, COMPLEXIDADE, FORNECEDOR, Nº DA PLANILHA, STATUS DE PGTO, Nº de páginas finais]
Index: []

In [121]:
# UNIR arquivo do NGE com o método de leitura dos arquivos Word
#
# Atenção >>>>>>>> alguns arquivos não passaram pelo método de leitura dos arquivos word e irão gerar valores NAN
#
df_final = pd.merge(excelFile2, df, on=['Nº DA PLANILHA'], how='left')

# PRECISO REVISAR O MERGE, POIS A COLUNA DATA DO DATASET df NÃO FOI ENCORPORADO NO DATASET df_final

In [122]:
# verificando quantidade de linhas

df_final['Nº DA PLANILHA'].count()

158

In [123]:
# colocando ordem de apresentação das colunas adequada
excelFile2.columns

Index(['ENTIDADE', 'PUBLICAÇÃO', 'Nº de páginas WORD',
       'Nº de páginas estimado', 'COMPLEXIDADE', 'FORNECEDOR',
       'Nº DA PLANILHA', 'STATUS DE PGTO', 'Nº de páginas finais'],
      dtype='object')

In [124]:
df.columns

Index(['Nº DA PLANILHA', 'Qtd_PG_word', 'Qtd_carac', 'Qtd_tabela', 'Qtd_image',
       'Qtd_estilos', 'Data'],
      dtype='object')

In [125]:
df_final.columns

Index(['ENTIDADE', 'PUBLICAÇÃO', 'Nº de páginas WORD',
       'Nº de páginas estimado', 'COMPLEXIDADE', 'FORNECEDOR',
       'Nº DA PLANILHA', 'STATUS DE PGTO', 'Nº de páginas finais',
       'Qtd_PG_word', 'Qtd_carac', 'Qtd_tabela', 'Qtd_image', 'Qtd_estilos',
       'Data'],
      dtype='object')

In [126]:
# colocando ordem de apresentação das colunas adequada

#colunas_final = ['Nº DA PLANILHA','ENTIDADE',  'FORNECEDOR','COMPLEXIDADE', 'STATUS DE PGTO',  'Nº de páginas WORD','Nº de páginas estimado', 'Qtd_carac','Qtd_tabela', 'Qtd_image','Nº de páginas finais' ]
colunas_final = ['Nº DA PLANILHA','ENTIDADE',  'FORNECEDOR','COMPLEXIDADE', 'STATUS DE PGTO',  'Nº de páginas WORD','Nº de páginas estimado', "Qtd_PG_word", 'Qtd_carac','Qtd_tabela', 'Qtd_image',"Qtd_estilos",'Nº de páginas finais' ]
df_final = df_final[colunas_final]

In [127]:
df_final.count()

Nº DA PLANILHA            158
ENTIDADE                  158
FORNECEDOR                158
COMPLEXIDADE              158
STATUS DE PGTO            158
Nº de páginas WORD        158
Nº de páginas estimado    158
Qtd_PG_word               140
Qtd_carac                 140
Qtd_tabela                140
Qtd_image                 140
Qtd_estilos               140
Nº de páginas finais      158
dtype: int64

In [128]:
# -----> verificar valores NAN 
df_final.isnull().sum()
# OS REGISTROS COM NAN NESSE CASO FORAM OS ARQUIVOS QUE ESTAVAM NO ARQUIVO EXCEL 
# E QUE NÃO TINHAM O AQUIVO WORD CORRESPONDENTE , OU SEJA NÃO FOI ENCONTRADO NA PASTA

Nº DA PLANILHA             0
ENTIDADE                   0
FORNECEDOR                 0
COMPLEXIDADE               0
STATUS DE PGTO             0
Nº de páginas WORD         0
Nº de páginas estimado     0
Qtd_PG_word               18
Qtd_carac                 18
Qtd_tabela                18
Qtd_image                 18
Qtd_estilos               18
Nº de páginas finais       0
dtype: int64

In [129]:
df_final[df_final['Nº DA PLANILHA'].isnull()]

Empty DataFrame
Columns: [Nº DA PLANILHA, ENTIDADE, FORNECEDOR, COMPLEXIDADE, STATUS DE PGTO, Nº de páginas WORD, Nº de páginas estimado, Qtd_PG_word, Qtd_carac, Qtd_tabela, Qtd_image, Qtd_estilos, Nº de páginas finais]
Index: []

In [130]:
# lista dos arquivos do Excel que não tem arquivo do Word correspondente
    
    
df_final[df_final['Qtd_carac'].isnull()]

,Nº DA PLANILHA,ENTIDADE,FORNECEDOR,COMPLEXIDADE,STATUS DE PGTO,Nº de páginas WORD,Nº de páginas estimado,Qtd_PG_word,Qtd_carac,Qtd_tabela,Qtd_image,Qtd_estilos,Nº de páginas finais
4,225507,CNI,Editorar,Baixa,Pago,30,45,NaN,NaN,NaN,NaN,NaN,32
9,227979,CNI,Editorar,Alta,Pago,46,98,NaN,NaN,NaN,NaN,NaN,92
13,228444,SESI,Editorar,Alta,Pago,45,70,NaN,NaN,NaN,NaN,NaN,70
34,231378,SESI,Editorar,Alta,Pago,71,71,NaN,NaN,NaN,NaN,NaN,71
36,1,CNI,Editorar,Média,Pago,41,48,NaN,NaN,NaN,NaN,NaN,43
37,2,CNI,Editorar,Média,Pago,41,48,NaN,NaN,NaN,NaN,NaN,43
50,232328,CNI,Editorar,Baixa,Pago,64,48,NaN,NaN,NaN,NaN,NaN,54
60,233002,SENAI,Editorar,Alta,Pago,543,400,NaN,NaN,NaN,NaN,NaN,386
68,228346,CNI,Icomunicação,Alta,Pago,316,440,NaN,NaN,NaN,NaN,NaN,296
69,227031,CNI,Icomunicação,Alta,Pago,196,196,NaN,NaN,NaN,NaN,NaN,196
90,233910,CNI,Editorar,Baixa,Pago,15,15,NaN,NaN,NaN,NaN,NaN,15
93,233839,SENAI,Editorar,Alta,Pago,70,120,NaN,NaN,NaN,NaN,NaN,120
95,235193,CNI,Editorar,Alta,Pago,50,80,NaN,NaN,NaN,NaN,NaN,66
96,235195,SESI,Editorar,Média,Pago,55,71,NaN,NaN,NaN,NaN,NaN,57
97,235195,SENAI,Editorar,-,Pago,55,71,NaN,NaN,NaN,NaN,NaN,57
98,235195,IEL,Editorar,-,Pago,55,71,NaN,NaN,NaN,NaN,NaN,57
103,235331,CNI,Editorar,Alta,Pago,108,160,NaN,NaN,NaN,NaN,NaN,128
157,235813,SENAI,Icomunicação,Baixa,Pago,12,24,NaN,NaN,NaN,NaN,NaN,24

In [131]:
# retirar registro nulos , OU SEJA RETIRAR OS DADOS QUE NÃO TINHAM NA PASTA DO WORD
df_final=df_final.dropna()
# APAGOU AS LINHAS COM NAN

# outra alternativa seria preencher com valores as celulas com NaN 
# df_final.fillna(df_final.mean(0))

In [132]:
# -----> verificar valores NAN 
df_final.isnull().sum()

Nº DA PLANILHA            0
ENTIDADE                  0
FORNECEDOR                0
COMPLEXIDADE              0
STATUS DE PGTO            0
Nº de páginas WORD        0
Nº de páginas estimado    0
Qtd_PG_word               0
Qtd_carac                 0
Qtd_tabela                0
Qtd_image                 0
Qtd_estilos               0
Nº de páginas finais      0
dtype: int64

In [133]:
df_final.count()

Nº DA PLANILHA            140
ENTIDADE                  140
FORNECEDOR                140
COMPLEXIDADE              140
STATUS DE PGTO            140
Nº de páginas WORD        140
Nº de páginas estimado    140
Qtd_PG_word               140
Qtd_carac                 140
Qtd_tabela                140
Qtd_image                 140
Qtd_estilos               140
Nº de páginas finais      140
dtype: int64

In [134]:
df_final

,Nº DA PLANILHA,ENTIDADE,FORNECEDOR,COMPLEXIDADE,STATUS DE PGTO,Nº de páginas WORD,Nº de páginas estimado,Qtd_PG_word,Qtd_carac,Qtd_tabela,Qtd_image,Qtd_estilos,Nº de páginas finais
0,224323,CNI,Editorar,Alta,Pago,87,140,87,116142.0,505.0,742.0,60.0,140
1,224325,CNI,Editorar,Alta,Pago,82,122,82,108307.0,76.0,94.0,69.0,122
2,225392,CNI,Editorar,Média,Pago,41,70,30,41144.0,28.0,24.0,23.0,52
3,225392,CNI,Editorar,Média,Pago,41,70,42,62913.0,432.0,696.0,21.0,52
5,225531,CNI,Editorar,Baixa,Pago,36,48,36,37548.0,270.0,456.0,17.0,48
...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,235513,SENAI,Icomunicação,Média,Pago,49,96,52,56538.0,187.0,341.0,22.0,52
153,235514,SENAI,Icomunicação,Alta,Pago,56,104,41,51127.0,733.0,553.0,18.0,72
154,235700,SENAI,Icomunicação,Baixa,Pago,38,48,37,40157.0,553.0,463.0,16.0,44
155,235701,SENAI,Icomunicação,Baixa,Pago,33,44,33,42499.0,447.0,406.0,15.0,40
156,235710,SENAI,Icomunicação,Baixa,Pago,33,72,33,28573.0,810.0,608.0,15.0,48

In [135]:
#print(df_final["qtd_pag_word"],(df_final["qtd_carc"]/1430))

In [136]:
# reindexar o index devido ter deletado algumas linhas
df_final.reset_index(drop=True, inplace=True)

In [137]:
#colunas_final = ['Nº DA PLANILHA','ENTIDADE', 'PUBLICAÇÃO', 'FORNECEDOR','COMPLEXIDADE', 'STATUS DE PGTO', 'Data', 'Nº de páginas WORD', 'Nº de páginas estimado', 'Qtd_carac','Qtd_tabela', 'Qtd_image','Nº de páginas finais' ]
#df_final_num = df_final[colunas_final]

In [138]:
df_final.dtypes

Nº DA PLANILHA              int64
ENTIDADE                   object
FORNECEDOR                 object
COMPLEXIDADE               object
STATUS DE PGTO             object
Nº de páginas WORD         object
Nº de páginas estimado     object
Qtd_PG_word                object
Qtd_carac                 float64
Qtd_tabela                float64
Qtd_image                 float64
Qtd_estilos               float64
Nº de páginas finais       object
dtype: object

In [139]:
df_final.head()

,Nº DA PLANILHA,ENTIDADE,FORNECEDOR,COMPLEXIDADE,STATUS DE PGTO,Nº de páginas WORD,Nº de páginas estimado,Qtd_PG_word,Qtd_carac,Qtd_tabela,Qtd_image,Qtd_estilos,Nº de páginas finais
0,224323,CNI,Editorar,Alta,Pago,87,140,87,116142.0,505.0,742.0,60.0,140
1,224325,CNI,Editorar,Alta,Pago,82,122,82,108307.0,76.0,94.0,69.0,122
2,225392,CNI,Editorar,Média,Pago,41,70,30,41144.0,28.0,24.0,23.0,52
3,225392,CNI,Editorar,Média,Pago,41,70,42,62913.0,432.0,696.0,21.0,52
4,225531,CNI,Editorar,Baixa,Pago,36,48,36,37548.0,270.0,456.0,17.0,48

In [140]:
# alterar campos typo string para categóricos 
df_final['ENTIDADE'] = df_final['ENTIDADE'].astype('category')
df_final['COMPLEXIDADE'] = df_final['COMPLEXIDADE'].astype('category')
df_final['FORNECEDOR'] = df_final['FORNECEDOR'].astype('category')
df_final['STATUS DE PGTO'] = df_final['STATUS DE PGTO'].astype('category')

In [141]:
# SOBRE O AVISO: A value is trying to be set on a copy of a slice from a dataframe
# https://paulovasconcellos.com.br/o-que-%C3%A9-a-value-is-trying-to-be-set-on-a-copy-of-a-slice-from-a-dataframe-e85f744d8be1

In [142]:
# alterar campos typo categóricos para numérico
# aplicando .cat.codes em cada uma dessas colunas
df_final['ENTIDADE'] = df_final['ENTIDADE'].cat.codes
df_final['COMPLEXIDADE'] = df_final['COMPLEXIDADE'].cat.codes
df_final['FORNECEDOR'] = df_final['FORNECEDOR'].cat.codes
df_final['STATUS DE PGTO'] = df_final['STATUS DE PGTO'].cat.codes

In [143]:
df_final['Nº de páginas finais'].unique()

array(['140', '122', '52', '48', 88, '66', '82', '70', '96', '18', '40',
       '46', '68', '34', '28', '86', '84', '110', '116', '98', '340',
       '72', '112', '92', '100', '76', '212', '74', '38', '42', '104',
       '126', '01', 52, '30', '20', '22', '24', '176', '88', '296', '108',
       '168', '162', '54', '36', '78', '44', '62', '90', '144', '64',
       '414', '398'], dtype=object)

In [144]:
df_final['Nº de páginas WORD'] = df_final['Nº de páginas WORD'].astype('int')

In [145]:
# Verificar se tem alguma inconsistencia na planilha Excel - Quantidade de páginas por exemplo
df_final.sort_values('Nº de páginas WORD')

# eliminar linhas com menos de 10 páginas
filtro  = df_final['Nº de páginas WORD'] > 10
df_final = df_final[filtro]

In [146]:
df_final.dtypes

Nº DA PLANILHA              int64
ENTIDADE                     int8
FORNECEDOR                   int8
COMPLEXIDADE                 int8
STATUS DE PGTO               int8
Nº de páginas WORD          int64
Nº de páginas estimado     object
Qtd_PG_word                object
Qtd_carac                 float64
Qtd_tabela                float64
Qtd_image                 float64
Qtd_estilos               float64
Nº de páginas finais       object
dtype: object

In [147]:
df_final.head()

,Nº DA PLANILHA,ENTIDADE,FORNECEDOR,COMPLEXIDADE,STATUS DE PGTO,Nº de páginas WORD,Nº de páginas estimado,Qtd_PG_word,Qtd_carac,Qtd_tabela,Qtd_image,Qtd_estilos,Nº de páginas finais
0,224323,0,0,1,1,87,140,87,116142.0,505.0,742.0,60.0,140
1,224325,0,0,1,1,82,122,82,108307.0,76.0,94.0,69.0,122
2,225392,0,0,3,1,41,70,30,41144.0,28.0,24.0,23.0,52
3,225392,0,0,3,1,41,70,42,62913.0,432.0,696.0,21.0,52
4,225531,0,0,2,1,36,48,36,37548.0,270.0,456.0,17.0,48

In [148]:
df_final.columns

Index(['Nº DA PLANILHA', 'ENTIDADE', 'FORNECEDOR', 'COMPLEXIDADE',
       'STATUS DE PGTO', 'Nº de páginas WORD', 'Nº de páginas estimado',
       'Qtd_PG_word', 'Qtd_carac', 'Qtd_tabela', 'Qtd_image', 'Qtd_estilos',
       'Nº de páginas finais'],
      dtype='object')

In [149]:
# trocar type float por int
#df_final['Nº DA PLANILHA'] = df_final['Nº DA PLANILHA'].astype('int')
#df_final['Nº DA PLANILHA'] = df_final['Nº DA PLANILHA'].astype('int')

In [150]:
# inserir zeros no lugar do valor NAN
#df_final['Qtd_carac']= df_final['Qtd_carac'].fillna(0)
#df_final['Qtd_tabela'] = df_final['Qtd_tabela'].fillna(0)
#df_final['Qtd_image'] = df_final['Qtd_image'].fillna(0)

In [151]:
# trocar type float por int
#df_final['Nº de páginas estimado'] = df_final['Nº de páginas estimado'].astype('int')
df_final['Qtd_carac'] = df_final['Qtd_carac'].astype('int')
df_final["Qtd_PG_word"] = df_final["Qtd_PG_word"].astype('int')
df_final['Qtd_tabela'] = df_final['Qtd_tabela'].astype('int')
df_final['Qtd_image'] = df_final['Qtd_image'].astype('int')

df_final['Nº de páginas finais'] = df_final['Nº de páginas finais'].astype('int')

<ipython-input-151-22ece583bb12>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['Qtd_carac'] = df_final['Qtd_carac'].astype('int')
<ipython-input-151-22ece583bb12>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final["Qtd_PG_word"] = df_final["Qtd_PG_word"].astype('int')
<ipython-input-151-22ece583bb12>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['Qtd_tabela'] = df_final['Qtd_tabela'].astype('int')
<ipython-input-151-22ece583bb12>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['Qtd_image'] = df_final['Qtd_image'].astype('int')
<ipython-input-151-22ece583bb12>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['Nº de páginas finais'] = df_final['Nº de páginas finais'].astype('int')

In [152]:
df_final.columns

Index(['Nº DA PLANILHA', 'ENTIDADE', 'FORNECEDOR', 'COMPLEXIDADE',
       'STATUS DE PGTO', 'Nº de páginas WORD', 'Nº de páginas estimado',
       'Qtd_PG_word', 'Qtd_carac', 'Qtd_tabela', 'Qtd_image', 'Qtd_estilos',
       'Nº de páginas finais'],
      dtype='object')

In [153]:
df_final.dtypes

Nº DA PLANILHA              int64
ENTIDADE                     int8
FORNECEDOR                   int8
COMPLEXIDADE                 int8
STATUS DE PGTO               int8
Nº de páginas WORD          int64
Nº de páginas estimado     object
Qtd_PG_word                 int64
Qtd_carac                   int64
Qtd_tabela                  int64
Qtd_image                   int64
Qtd_estilos               float64
Nº de páginas finais        int64
dtype: object

In [154]:
#renomear colunas
#df_final.rename(columns={'Nº DA PLANILHA': 'id','ENTIDADE':"entidade",'FORNECEDOR':"fornecedor", 'COMPLEXIDADE':"complexidade",
#                         'STATUS DE PGTO':"stat_pagto",'Nº de páginas WORD':"qtd_pag_word", 
#                         'Nº de páginas estimado':"qtd_pag_estimado", 'Qtd_carac':"qtd_carc",
#       'Qtd_tabela':"qtd_tabela", 'Qtd_image': "qtd_image", 'Nº de páginas finais':"pag_final"} , inplace = True)

df_final.rename(columns={'Nº DA PLANILHA': 'id','ENTIDADE':"entidade",'FORNECEDOR':"fornecedor", 'COMPLEXIDADE':"complexidade",
                         'STATUS DE PGTO':"stat_pagto",'Nº de páginas WORD':"qtd_pag_word", 
                         'Nº de páginas estimado':"qtd_pag_estimado", 'Qtd_carac':"qtd_carc","Qtd_PG_word":"qtd_pg_word",
       'Qtd_tabela':"qtd_tabela", 'Qtd_image': "qtd_image","Qtd_estilos":"qtd_estilos", 'Nº de páginas finais':"pag_final"} , inplace = True)

/Users/wpessoa/miniconda3/envs/py3/lib/python3.8/site-packages/pandas/core/frame.py:4293: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [155]:
print(len(df_final[df_final["pag_final"]>149]))
print(len(df_final[(df_final["pag_final"]>59) & (df_final["pag_final"]<150)]))
print(len(df_final[df_final["pag_final"]<60]))

9
65
64

In [156]:
df_final[df_final["pag_final"]>120]

,id,entidade,fornecedor,complexidade,stat_pagto,qtd_pag_word,qtd_pag_estimado,qtd_pg_word,qtd_carc,qtd_tabela,qtd_image,qtd_estilos,pag_final
0,224323,0,0,1,1,87,140,87,116142,505,742,60.0,140
1,224325,0,0,1,1,82,122,82,108307,76,94,69.0,122
24,231201,0,0,0,1,214,420,214,425343,350,554,19.0,340
33,3,2,0,1,1,216,300,216,346608,157,339,54.0,212
41,232098,0,0,1,1,195,360,195,413596,26,20,19.0,340
55,233263,0,0,1,1,112,160,112,223019,529,788,25.0,126
71,233884,0,0,1,1,158,220,131,208458,442,404,7.0,176
77,233908,0,0,1,1,207,310,207,571640,763,568,24.0,296
87,0,1,0,1,1,168,168,70,95656,220,438,17.0,168
88,0,2,0,1,1,162,162,70,95656,220,438,17.0,162
90,235382,0,0,1,1,106,150,106,187578,351,386,42.0,122
118,235798,0,0,1,1,142,198,142,247205,578,498,26.0,144
127,235985,2,0,1,1,424,460,424,660609,317,378,27.0,414
128,235986,2,0,1,1,373,420,374,586948,680,506,21.0,398

In [157]:
df_final['tamanho_livro'] = 'NaN'
for index, row in df_final.iterrows():
    #print(row["pag_final"])
    if row["pag_final"]>119:
        df_final.loc[index,'tamanho_livro'] =  2
    elif row["pag_final"]>59 & row["pag_final"]<120:
        df_final.loc[index,'tamanho_livro'] =  1
    else:  
        df_final.loc[index,'tamanho_livro'] =  0

<ipython-input-157-52187eb34a0c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['tamanho_livro'] = 'NaN'
/Users/wpessoa/miniconda3/envs/py3/lib/python3.8/site-packages/pandas/core/indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [158]:
df_final[df_final['tamanho_livro']==0]

,id,entidade,fornecedor,complexidade,stat_pagto,qtd_pag_word,qtd_pag_estimado,qtd_pg_word,qtd_carc,qtd_tabela,qtd_image,qtd_estilos,pag_final,tamanho_livro
4,225531,0,0,2,1,36,48,36,37548,270,456,17.0,48,0
10,228437,0,0,2,1,18,18,80,145034,175,370,35.0,18,0
11,228603,0,0,2,1,33,48,13,45943,114,132,22.0,40,0
14,229294,0,0,2,1,22,46,18,16595,134,152,17.0,34,0
22,230385,0,0,2,1,38,56,38,37614,542,795,20.0,48,0
25,230874,0,0,2,1,22,48,22,19773,411,648,22.0,34,0
39,231928,0,0,2,1,34,48,34,56358,104,119,25.0,48,0
40,231931,0,0,2,1,33,48,33,53352,325,526,21.0,42,0
42,232174,0,0,2,1,29,48,29,24953,422,682,19.0,48,0
47,232393,2,0,2,1,29,48,29,25364,560,839,16.0,40,0
54,233069,0,0,2,1,24,44,24,19149,211,400,22.0,40,0
57,233405,0,0,2,1,19,45,19,17160,209,398,15.0,34,0
58,233474,0,0,1,1,36,68,36,33348,213,416,48.0,48,0
70,233892,1,0,2,1,19,45,17,12032,346,378,32.0,24,0
91,235469,0,0,2,1,40,70,24,28880,834,637,41.0,48,0
99,235534,0,0,2,1,29,48,29,23931,12,15,20.0,40,0
101,235650,0,0,2,1,39,68,39,36051,449,409,30.0,48,0
110,235831,0,0,2,1,28,48,28,25136,693,516,17.0,42,0
111,235874,0,0,2,1,44,48,44,69155,712,524,27.0,48,0
119,235909,0,0,1,1,38,68,38,75538,545,461,21.0,48,0
123,235981,2,0,2,1,28,48,28,65594,876,656,42.0,34,0
124,0,2,0,2,1,28,48,70,95656,220,438,17.0,34,0
130,0,2,0,2,1,30,48,70,95656,220,438,17.0,34,0
138,235701,1,1,2,1,33,44,33,42499,447,406,15.0,40,0
139,235710,1,1,2,1,33,72,33,28573,810,608,15.0,48,0

In [161]:
df_final.count()

id                  138
entidade            138
fornecedor          138
complexidade        138
stat_pagto          138
qtd_pag_word        138
qtd_pag_estimado    138
qtd_pg_word         138
qtd_carc            138
qtd_tabela          138
qtd_image           138
qtd_estilos         138
pag_final           138
tamanho_livro       138
dtype: int64

In [159]:
# gerar arquivo csv para arquivo tratado

df_final.to_csv("nge_dados_input3.csv",index=False )
df_final.to_excel("nge_dados_input3.xlsx",index=False,header=True )

#data = pd.read_csv("nge_dados_input.csv")
#df_final.to_csv(index=False)
#df_final.to_csv("nge_dados_input.csv", data = imprimir_ano)

In [85]:
# FIM MÉTODO..... RODADR O TRINEMANTO DE MACHINE LEARNING =>   machine_learning_NGE

In [ ]:
#
#
# converter arquivo DOC para arquivo DOCX -> AINDA NÃO FUNCIONA
#
#

# https://stackoverflow.com/questions/38468442/multiple-doc-to-docx-file-conversion-using-python
#from glob import glob
#import re
#import os
#import win32com.client as win32
#from win32com.client import constants

# Create list of paths to .doc files
#paths = glob('C:\\path\\to\\doc\\files\\**\\*.doc', recursive=True)

#def save_as_docx(path):
    # Opening MS Word
#    word = win32.gencache.EnsureDispatch('Word.Application')
#    doc = word.Documents.Open(path)
#    doc.Activate ()

    # Rename path with .docx
#    new_file_abs = os.path.abspath(path)
#    new_file_abs = re.sub(r'\.\w+$', '.docx', new_file_abs)

    # Save and Close
#    word.ActiveDocument.SaveAs(
#        new_file_abs, FileFormat=constants.wdFormatXMLDocument
#    )
#    doc.Close(False)

#for path in paths:
#    save_as_docx(files_array_19_2)