In [ ]:
# metodo de tratar tabelas

In [2]:
import os
import get_file_word as gf
import datetime
import pandas as pd

#setar variáveis onde estão arquivos
fileExt = r".docx"
fileExt2 = r".doc"
fileDir_19 = r"/Users/wpessoa/repositorios/NGE/words_2019/"
fileDir_20 = r"/Users/wpessoa/repositorios/NGE/words_2020/"


# verificar se existe o diretório
print("Existe esse diretório? ",os.path.exists(fileDir_19)) 
print("Existe esse diretório? ",os.path.exists(fileDir_20)) 


#fileDir = r"/Users/wpessoa/repositorios/Fluxo_Editorial/words/"
#fileDir= r'/Users/walnerpessoa/repositories/Fluxo_Editorial/words'
files_array_19 = [_ for _ in os.listdir(fileDir_19) if _.endswith(fileExt)]
#files_array_19_2 = [_ for _ in os.listdir(fileDir_19) if _.endswith(fileExt2)]
#files_array_19=files_array_19_1+files_array_19_2


files_array_20 = [_ for _ in os.listdir(fileDir_20) if _.endswith(fileExt)]
#files_array_20_2 = [_ for _ in os.listdir(fileDir_20) if _.endswith(fileExt2)]
#files_array_20=files_array_20_1+files_array_20_2

print("Quantidade de arquivos do word no diretório: ",len(files_array_19))
print("Quantidade de arquivos do word no diretório: ",len(files_array_20))


# rodar método get_info para ler aquivos do Word e retornar features de cada arquivo
# argumentos (diretório e array dos arquivos word)
# retorna (NºID,Qtd_caracteres,Qtd_tabela,Qtd_image,data)

var_19=gf.get_info(fileDir_19,files_array_19)
var_20=gf.get_info(fileDir_20,files_array_20)

#print(var)

Existe esse diretório?  True
Existe esse diretório?  True
Quantidade de arquivos do word no diretório:  58
Quantidade de arquivos do word no diretório:  35

In [ ]:
#
#
# converter arquivo DOC para arquivo DOCX -> AINDA NÃO FUNCIONA
#
#

# https://stackoverflow.com/questions/38468442/multiple-doc-to-docx-file-conversion-using-python
from glob import glob
import re
import os
import win32com.client as win32
from win32com.client import constants

# Create list of paths to .doc files
paths = glob('C:\\path\\to\\doc\\files\\**\\*.doc', recursive=True)

def save_as_docx(path):
    # Opening MS Word
    word = win32.gencache.EnsureDispatch('Word.Application')
    doc = word.Documents.Open(path)
    doc.Activate ()

    # Rename path with .docx
    new_file_abs = os.path.abspath(path)
    new_file_abs = re.sub(r'\.\w+$', '.docx', new_file_abs)

    # Save and Close
    word.ActiveDocument.SaveAs(
        new_file_abs, FileFormat=constants.wdFormatXMLDocument
    )
    doc.Close(False)

for path in paths:
    save_as_docx(files_array_19_2)

In [4]:
#files_array_19_2

- Existe esse diretório?  True
- Existe esse diretório?  True
- Quantidade de arquivos do word no diretório:  58
- Quantidade de arquivos do word no diretório:  35

In [5]:
print(type(var_19))

<class 'list'>

In [6]:
# unindo lista 2019 com lista 2020
var=var_19+var_20

In [7]:
# converter veriável de retorno do método para Dataframe
#df = pd.DataFrame(var,columns=['Nº DA PLANILHA',"Qtd_carac","Qtd_tabela","Qtd_image","Data"])
df = pd.DataFrame(var,columns=['Nº DA PLANILHA',"Qtd_carac","Qtd_tabela","Qtd_image","Qtd_estilos", "Data"])

df.head()

  Nº DA PLANILHA  Qtd_carac  Qtd_tabela  Qtd_image  Qtd_estilos        Data
0         228354     129122          14         10           26  2019-02-27
1         235502      31123          21         17           23  2020-05-27
2         232098     413596          26         20           19  2019-09-16
3         225392      41144          28         24           23  2018-11-07
4         228307      43155          40         73           25  2019-02-26

In [8]:
df

   Nº DA PLANILHA  Qtd_carac  Qtd_tabela  Qtd_image  Qtd_estilos        Data
0          228354     129122          14         10           26  2019-02-27
1          235502      31123          21         17           23  2020-05-27
2          232098     413596          26         20           19  2019-09-16
3          225392      41144          28         24           23  2018-11-07
4          228307      43155          40         73           25  2019-02-26
..            ...        ...         ...        ...          ...         ...
88         233889      14968         366        323           12  2020-02-05
89         235320     103663         368        330           20  2020-05-21
90         233887      47904         373        335           14  2020-02-05
91         235495      31612         383        348           25  2020-05-25
92         233906     118624         386        417           19  2020-03-09

[93 rows x 6 columns]

In [9]:
# verificando tipo das variáveis
df.dtypes

Nº DA PLANILHA    object
Qtd_carac          int64
Qtd_tabela         int64
Qtd_image          int64
Qtd_estilos        int64
Data              object
dtype: object

In [10]:
# converter tipo para inteiros e data
df["Nº DA PLANILHA"] = pd.to_numeric(df["Nº DA PLANILHA"], errors='coerce')
df["Data"] = pd.to_datetime(df["Data"])

In [11]:
df.dtypes

Nº DA PLANILHA           float64
Qtd_carac                  int64
Qtd_tabela                 int64
Qtd_image                  int64
Qtd_estilos                int64
Data              datetime64[ns]
dtype: object

In [12]:
#Convertendo arquivo excel em dataframe

excelDir ="/Users/wpessoa/repositorios/Fluxo_Editorial/dados/"
excelFile_2019 = pd.read_excel(excelDir+'Exercicio_estimativa_de_paginas_2019_2020.xlsx',"EXECUTADO 2019")
excelFile_2020 = pd.read_excel(excelDir+'Exercicio_estimativa_de_paginas_2019_2020.xlsx',"EXECUTADO 2020")

In [13]:
len(excelFile_2020.columns)

26

In [14]:
len(excelFile_2019.columns)

28

In [15]:
###################################################
# FAZER MERGE COM excelFile_2020 & excelFile_2019
##################################################

In [16]:
frames = [excelFile_2019, excelFile_2020]
excelFile2 = pd.concat(frames)

In [17]:
# reindexar o index devido ter deletado algumas linhas
excelFile2.reset_index(drop=True, inplace=True)

In [18]:
# selecionando apenas colunas necessárias
colunas=['ENTIDADE','PUBLICAÇÃO','Nº de páginas WORD','Nº de páginas estimado', 'COMPLEXIDADE','FORNECEDOR','Nº DA PLANILHA','STATUS DE PGTO','Nº de páginas finais']
excelFile2 = excelFile2[colunas]

In [19]:
excelFile2.columns

Index(['ENTIDADE', 'PUBLICAÇÃO', 'Nº de páginas WORD',
       'Nº de páginas estimado', 'COMPLEXIDADE', 'FORNECEDOR',
       'Nº DA PLANILHA', 'STATUS DE PGTO', 'Nº de páginas finais'],
      dtype='object')

In [20]:
excelFile2.dtypes

ENTIDADE                   object
PUBLICAÇÃO                 object
Nº de páginas WORD         object
Nº de páginas estimado    float64
COMPLEXIDADE               object
FORNECEDOR                 object
Nº DA PLANILHA             object
STATUS DE PGTO             object
Nº de páginas finais       object
dtype: object

In [21]:
excelFile2.dtypes

ENTIDADE                   object
PUBLICAÇÃO                 object
Nº de páginas WORD         object
Nº de páginas estimado    float64
COMPLEXIDADE               object
FORNECEDOR                 object
Nº DA PLANILHA             object
STATUS DE PGTO             object
Nº de páginas finais       object
dtype: object

In [22]:
#excelFile2.set_index('Nº DA PLANILHA',inplace=True)

In [23]:
excelFile2

,ENTIDADE,PUBLICAÇÃO,Nº de páginas WORD,Nº de páginas estimado,COMPLEXIDADE,FORNECEDOR,Nº DA PLANILHA,STATUS DE PGTO,Nº de páginas finais
0,CNI,Reuso CE,87,140.0,Alta,Editorar,224323,Pago,140
1,CNI,Reuso PE,82,122.0,Alta,Editorar,224325,Pago,122
2,CNI,Processo De Internalização Dos Atos Internacio...,41,70.0,Média,Editorar,225392,Pago,52
3,CNI,Manual de orientações da ouvidoria do Sesi e d...,30,45.0,Baixa,Editorar,225507,Pago,32
4,CNI,Guia de Propriedade Intelectual para o Jornalista,36,48.0,Baixa,Editorar,225531,Pago,48
...,...,...,...,...,...,...,...,...,...
118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,NaN,NaN,GERAL,NaN,NaN,GERAL,NaN,NaN,NaN
121,NaN,NaN,EDITORAR,NaN,NaN,EDITORAR,NaN,NaN,NaN
122,NaN,NaN,ICOMUNICAÇÃO,NaN,NaN,ICOMUNICAÇÃO,NaN,NaN,NaN

In [24]:
# verifiacando valores nulos
excelFile2.isnull().sum()

ENTIDADE                  12
PUBLICAÇÃO                12
Nº de páginas WORD         6
Nº de páginas estimado    12
COMPLEXIDADE              12
FORNECEDOR                 6
Nº DA PLANILHA            12
STATUS DE PGTO            12
Nº de páginas finais      11
dtype: int64

In [25]:
# retirar registro nulos
excelFile2=excelFile2.dropna()

In [26]:
# verifiacando valores nulos
excelFile2.isnull().sum()

ENTIDADE                  0
PUBLICAÇÃO                0
Nº de páginas WORD        0
Nº de páginas estimado    0
COMPLEXIDADE              0
FORNECEDOR                0
Nº DA PLANILHA            0
STATUS DE PGTO            0
Nº de páginas finais      0
dtype: int64

In [27]:
excelFile2.dtypes

ENTIDADE                   object
PUBLICAÇÃO                 object
Nº de páginas WORD         object
Nº de páginas estimado    float64
COMPLEXIDADE               object
FORNECEDOR                 object
Nº DA PLANILHA             object
STATUS DE PGTO             object
Nº de páginas finais       object
dtype: object

In [28]:
import numpy as np
excelFile2["Nº DA PLANILHA"] = (pd.to_numeric(excelFile2["Nº DA PLANILHA"], errors='coerce').fillna(0).astype(np.int64))#,downcast='integer'))
#excelFile2["Nº DA PLANILHA"] = excelFile2["Nº DA PLANILHA"].astype('int64',errors='ignore')

<ipython-input-28-8fdfc85dce57>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  excelFile2["Nº DA PLANILHA"] = (pd.to_numeric(excelFile2["Nº DA PLANILHA"], errors='coerce').fillna(0).astype(np.int64))#,downcast='integer'))

In [29]:
excelFile2.dtypes

ENTIDADE                   object
PUBLICAÇÃO                 object
Nº de páginas WORD         object
Nº de páginas estimado    float64
COMPLEXIDADE               object
FORNECEDOR                 object
Nº DA PLANILHA              int64
STATUS DE PGTO             object
Nº de páginas finais       object
dtype: object

In [30]:
df.dtypes

Nº DA PLANILHA           float64
Qtd_carac                  int64
Qtd_tabela                 int64
Qtd_image                  int64
Qtd_estilos                int64
Data              datetime64[ns]
dtype: object

In [31]:
excelFile2

,ENTIDADE,PUBLICAÇÃO,Nº de páginas WORD,Nº de páginas estimado,COMPLEXIDADE,FORNECEDOR,Nº DA PLANILHA,STATUS DE PGTO,Nº de páginas finais
0,CNI,Reuso CE,87,140.0,Alta,Editorar,224323,Pago,140
1,CNI,Reuso PE,82,122.0,Alta,Editorar,224325,Pago,122
2,CNI,Processo De Internalização Dos Atos Internacio...,41,70.0,Média,Editorar,225392,Pago,52
3,CNI,Manual de orientações da ouvidoria do Sesi e d...,30,45.0,Baixa,Editorar,225507,Pago,32
4,CNI,Guia de Propriedade Intelectual para o Jornalista,36,48.0,Baixa,Editorar,225531,Pago,48
...,...,...,...,...,...,...,...,...,...
112,CNI,Acordo para evitar a dupla tributação entre Br...,24,48.0,Baixa,Editorar,235502,Pago,36
113,CNI,Compatibilidade da cláusula de arbitragem com ...,20,48.0,Baixa,Editorar,235509,Pago,36
114,CNI,Modelos Aduaneiros Globais,59,90.0,Alta,Editorar,235519,Pago,78
115,CNI,A agenda ambiental e de químicos da OCDE e o B...,48,75.0,Alta,Editorar,235512,Pago,66
116,SESI,Relatório de Atividades 2019 - SESI / SENAI / ...,100,120.0,Alta,Icomunicação,233900,Pago,82

In [32]:
df

    Nº DA PLANILHA  Qtd_carac  Qtd_tabela  Qtd_image  Qtd_estilos       Data
0         228354.0     129122          14         10           26 2019-02-27
1         235502.0      31123          21         17           23 2020-05-27
2         232098.0     413596          26         20           19 2019-09-16
3         225392.0      41144          28         24           23 2018-11-07
4         228307.0      43155          40         73           25 2019-02-26
..             ...        ...         ...        ...          ...        ...
88        233889.0      14968         366        323           12 2020-02-05
89        235320.0     103663         368        330           20 2020-05-21
90        233887.0      47904         373        335           14 2020-02-05
91        235495.0      31612         383        348           25 2020-05-25
92        233906.0     118624         386        417           19 2020-03-09

[93 rows x 6 columns]

In [33]:
# unir arquivo do NGE com o método de leitura dos arquivos Word
#
# Atenção >>>>>>>> alguns arquivos não passaram pelo método de leitura dos arquivos word e irão gerar valores NAN
#
df_final = pd.merge(excelFile2, df, on=['Nº DA PLANILHA'], how='left')

In [34]:
# colocando ordem das colunas adequada
excelFile2.columns
#colunas_final = ['Nº DA PLANILHA','ENTIDADE',  'FORNECEDOR','COMPLEXIDADE', 'STATUS DE PGTO',  'Nº de páginas WORD','Nº de páginas estimado', 'Qtd_carac','Qtd_tabela', 'Qtd_image','Nº de páginas finais' ]
colunas_final = ['Nº DA PLANILHA','ENTIDADE',  'FORNECEDOR','COMPLEXIDADE', 'STATUS DE PGTO',  'Nº de páginas WORD','Nº de páginas estimado', 'Qtd_carac','Qtd_tabela', 'Qtd_image',"Qtd_estilos",'Nº de páginas finais' ]
df_final = df_final[colunas_final]

In [35]:
# -----> verificar valores NAN 
df_final.isnull().sum()
# OS REGISTROS COM NAN NESSE CASO FORAM OS ARQUIVOS WORD QUE NÃO FOI ENCONTRADO.

Nº DA PLANILHA             0
ENTIDADE                   0
FORNECEDOR                 0
COMPLEXIDADE               0
STATUS DE PGTO             0
Nº de páginas WORD         0
Nº de páginas estimado     0
Qtd_carac                 20
Qtd_tabela                20
Qtd_image                 20
Qtd_estilos               20
Nº de páginas finais       0
dtype: int64

In [36]:
# retirar registro nulos
df_final=df_final.dropna()
# APAGOU AS LINHAS COM NAN

In [37]:
# -----> verificar valores NAN 
df_final.isnull().sum()

Nº DA PLANILHA            0
ENTIDADE                  0
FORNECEDOR                0
COMPLEXIDADE              0
STATUS DE PGTO            0
Nº de páginas WORD        0
Nº de páginas estimado    0
Qtd_carac                 0
Qtd_tabela                0
Qtd_image                 0
Qtd_estilos               0
Nº de páginas finais      0
dtype: int64

In [38]:
df_final

,Nº DA PLANILHA,ENTIDADE,FORNECEDOR,COMPLEXIDADE,STATUS DE PGTO,Nº de páginas WORD,Nº de páginas estimado,Qtd_carac,Qtd_tabela,Qtd_image,Qtd_estilos,Nº de páginas finais
0,224323,CNI,Editorar,Alta,Pago,87,140.0,116142.0,470.0,685.0,60.0,140
1,224325,CNI,Editorar,Alta,Pago,82,122.0,108307.0,76.0,94.0,69.0,122
2,225392,CNI,Editorar,Média,Pago,41,70.0,41144.0,28.0,24.0,23.0,52
3,225392,CNI,Editorar,Média,Pago,41,70.0,62913.0,397.0,639.0,21.0,52
5,225531,CNI,Editorar,Baixa,Pago,36,48.0,37548.0,233.0,397.0,17.0,48
...,...,...,...,...,...,...,...,...,...,...,...,...
107,235502,CNI,Editorar,Baixa,Pago,24,48.0,31123.0,21.0,17.0,23.0,36
108,235502,CNI,Editorar,Baixa,Pago,24,48.0,31123.0,7.0,8.0,23.0,36
110,235519,CNI,Editorar,Alta,Pago,59,90.0,122719.0,363.0,323.0,23.0,78
111,235512,CNI,Editorar,Alta,Pago,48,75.0,81475.0,115.0,205.0,23.0,66
112,233900,SESI,Icomunicação,Alta,Pago,100,120.0,74242.0,132.0,224.0,16.0,82

In [55]:
#print(df_final["qtd_pag_word"],(df_final["qtd_carc"]/1430))

In [40]:
# reindexar o index devido ter deletado algumas linhas
df_final.reset_index(drop=True, inplace=True)

In [41]:
#colunas_final = ['Nº DA PLANILHA','ENTIDADE', 'PUBLICAÇÃO', 'FORNECEDOR','COMPLEXIDADE', 'STATUS DE PGTO', 'Data', 'Nº de páginas WORD', 'Nº de páginas estimado', 'Qtd_carac','Qtd_tabela', 'Qtd_image','Nº de páginas finais' ]
#df_final_num = df_final[colunas_final]

In [42]:
df_final.dtypes

Nº DA PLANILHA              int64
ENTIDADE                   object
FORNECEDOR                 object
COMPLEXIDADE               object
STATUS DE PGTO             object
Nº de páginas WORD         object
Nº de páginas estimado    float64
Qtd_carac                 float64
Qtd_tabela                float64
Qtd_image                 float64
Qtd_estilos               float64
Nº de páginas finais       object
dtype: object

In [43]:
df_final.head()

,Nº DA PLANILHA,ENTIDADE,FORNECEDOR,COMPLEXIDADE,STATUS DE PGTO,Nº de páginas WORD,Nº de páginas estimado,Qtd_carac,Qtd_tabela,Qtd_image,Qtd_estilos,Nº de páginas finais
0,224323,CNI,Editorar,Alta,Pago,87,140.0,116142.0,470.0,685.0,60.0,140
1,224325,CNI,Editorar,Alta,Pago,82,122.0,108307.0,76.0,94.0,69.0,122
2,225392,CNI,Editorar,Média,Pago,41,70.0,41144.0,28.0,24.0,23.0,52
3,225392,CNI,Editorar,Média,Pago,41,70.0,62913.0,397.0,639.0,21.0,52
4,225531,CNI,Editorar,Baixa,Pago,36,48.0,37548.0,233.0,397.0,17.0,48

In [44]:
# alterar campos typo string para categóricos 
df_final['ENTIDADE'] = df_final['ENTIDADE'].astype('category')
df_final['COMPLEXIDADE'] = df_final['COMPLEXIDADE'].astype('category')
df_final['FORNECEDOR'] = df_final['FORNECEDOR'].astype('category')
df_final['STATUS DE PGTO'] = df_final['STATUS DE PGTO'].astype('category')

In [45]:
# SOBRE O AVISO: A value is trying to be set on a copy of a slice from a dataframe
# https://paulovasconcellos.com.br/o-que-%C3%A9-a-value-is-trying-to-be-set-on-a-copy-of-a-slice-from-a-dataframe-e85f744d8be1

In [46]:
# alterar campos typo categóricos para numérico
# aplicando .cat.codes em cada uma dessas colunas
df_final['ENTIDADE'] = df_final['ENTIDADE'].cat.codes
df_final['COMPLEXIDADE'] = df_final['COMPLEXIDADE'].cat.codes
df_final['FORNECEDOR'] = df_final['FORNECEDOR'].cat.codes
df_final['STATUS DE PGTO'] = df_final['STATUS DE PGTO'].cat.codes

In [47]:
df_final['Nº de páginas WORD'] = df_final['Nº de páginas WORD'].astype('int')

In [48]:
df_final.dtypes

Nº DA PLANILHA              int64
ENTIDADE                     int8
FORNECEDOR                   int8
COMPLEXIDADE                 int8
STATUS DE PGTO               int8
Nº de páginas WORD          int64
Nº de páginas estimado    float64
Qtd_carac                 float64
Qtd_tabela                float64
Qtd_image                 float64
Qtd_estilos               float64
Nº de páginas finais       object
dtype: object

In [49]:
df_final.head()

,Nº DA PLANILHA,ENTIDADE,FORNECEDOR,COMPLEXIDADE,STATUS DE PGTO,Nº de páginas WORD,Nº de páginas estimado,Qtd_carac,Qtd_tabela,Qtd_image,Qtd_estilos,Nº de páginas finais
0,224323,0,0,1,0,87,140.0,116142.0,470.0,685.0,60.0,140
1,224325,0,0,1,0,82,122.0,108307.0,76.0,94.0,69.0,122
2,225392,0,0,3,0,41,70.0,41144.0,28.0,24.0,23.0,52
3,225392,0,0,3,0,41,70.0,62913.0,397.0,639.0,21.0,52
4,225531,0,0,2,0,36,48.0,37548.0,233.0,397.0,17.0,48

In [50]:
df_final.columns

Index(['Nº DA PLANILHA', 'ENTIDADE', 'FORNECEDOR', 'COMPLEXIDADE',
       'STATUS DE PGTO', 'Nº de páginas WORD', 'Nº de páginas estimado',
       'Qtd_carac', 'Qtd_tabela', 'Qtd_image', 'Qtd_estilos',
       'Nº de páginas finais'],
      dtype='object')

In [51]:
# trocar type float por int
#df_final['Nº DA PLANILHA'] = df_final['Nº DA PLANILHA'].astype('int')
#df_final['Nº DA PLANILHA'] = df_final['Nº DA PLANILHA'].astype('int')

In [52]:
# inserir zeros no lugar do valor NAN
#df_final['Qtd_carac']= df_final['Qtd_carac'].fillna(0)
#df_final['Qtd_tabela'] = df_final['Qtd_tabela'].fillna(0)
#df_final['Qtd_image'] = df_final['Qtd_image'].fillna(0)

In [53]:
# trocar type float por int
#df_final['Nº de páginas estimado'] = df_final['Nº de páginas estimado'].astype('int')
df_final['Qtd_carac'] = df_final['Qtd_carac'].astype('int')
df_final['Qtd_tabela'] = df_final['Qtd_tabela'].astype('int')
df_final['Qtd_image'] = df_final['Qtd_image'].astype('int')

df_final['Nº de páginas finais'] = df_final['Nº de páginas finais'].astype('int')

In [54]:
df_final.columns

Index(['Nº DA PLANILHA', 'ENTIDADE', 'FORNECEDOR', 'COMPLEXIDADE',
       'STATUS DE PGTO', 'Nº de páginas WORD', 'Nº de páginas estimado',
       'Qtd_carac', 'Qtd_tabela', 'Qtd_image', 'Qtd_estilos',
       'Nº de páginas finais'],
      dtype='object')

In [ ]:
df_final.dtypes

In [56]:
#renomear colunas
#df_final.rename(columns={'Nº DA PLANILHA': 'id','ENTIDADE':"entidade",'FORNECEDOR':"fornecedor", 'COMPLEXIDADE':"complexidade",
#                         'STATUS DE PGTO':"stat_pagto",'Nº de páginas WORD':"qtd_pag_word", 
#                         'Nº de páginas estimado':"qtd_pag_estimado", 'Qtd_carac':"qtd_carc",
#       'Qtd_tabela':"qtd_tabela", 'Qtd_image': "qtd_image", 'Nº de páginas finais':"pag_final"} , inplace = True)

df_final.rename(columns={'Nº DA PLANILHA': 'id','ENTIDADE':"entidade",'FORNECEDOR':"fornecedor", 'COMPLEXIDADE':"complexidade",
                         'STATUS DE PGTO':"stat_pagto",'Nº de páginas WORD':"qtd_pag_word", 
                         'Nº de páginas estimado':"qtd_pag_estimado", 'Qtd_carac':"qtd_carc",
       'Qtd_tabela':"qtd_tabela", 'Qtd_image': "qtd_image","Qtd_estilos":"qtd_estilos", 'Nº de páginas finais':"pag_final"} , inplace = True)

In [57]:
# gerar arquivo csv para arquivo tratado

df_final.to_csv("nge_dados_input.csv",index=False )

#data = pd.read_csv("nge_dados_input.csv")
#df_final.to_csv(index=False)
#df_final.to_csv("nge_dados_input.csv", data = imprimir_ano)