In [ ]:
# metodo de tratar tabelas

In [ ]:
#
#
# converter arquivo DOC para arquivo DOCX -> AINDA NÃO FUNCIONA
#
#

# https://stackoverflow.com/questions/38468442/multiple-doc-to-docx-file-conversion-using-python
from glob import glob
import re
import os
import win32com.client as win32
from win32com.client import constants

# Create list of paths to .doc files
paths = glob('C:\\path\\to\\doc\\files\\**\\*.doc', recursive=True)

def save_as_docx(path):
    # Opening MS Word
    word = win32.gencache.EnsureDispatch('Word.Application')
    doc = word.Documents.Open(path)
    doc.Activate ()

    # Rename path with .docx
    new_file_abs = os.path.abspath(path)
    new_file_abs = re.sub(r'\.\w+$', '.docx', new_file_abs)

    # Save and Close
    word.ActiveDocument.SaveAs(
        new_file_abs, FileFormat=constants.wdFormatXMLDocument
    )
    doc.Close(False)

for path in paths:
    save_as_docx(files_array_19_2)

In [77]:
import os
import get_file_word as gf
import datetime
import pandas as pd

#setar variáveis onde estão arquivos
fileExt = r".docx"
fileExt2 = r".doc"
fileDir_19 = r"/Users/wpessoa/repositorios/NGE/words_2019/"
fileDir_20 = r"/Users/wpessoa/repositorios/NGE/words_2020/"


fileDir_semNF = r"/Users/wpessoa/repositorios/NGE/words_semNota/"

# verificar se existe o diretório
print("Existe esse diretório? ",os.path.exists(fileDir_19)) 
print("Existe esse diretório? ",os.path.exists(fileDir_20)) 


#fileDir = r"/Users/wpessoa/repositorios/Fluxo_Editorial/words/"
#fileDir= r'/Users/walnerpessoa/repositories/Fluxo_Editorial/words'
files_array_19 = [_ for _ in os.listdir(fileDir_19) if _.endswith(fileExt)]
#files_array_19_2 = [_ for _ in os.listdir(fileDir_19) if _.endswith(fileExt2)]
#files_array_19=files_array_19_1+files_array_19_2


files_array_20 = [_ for _ in os.listdir(fileDir_20) if _.endswith(fileExt)]
#files_array_20_2 = [_ for _ in os.listdir(fileDir_20) if _.endswith(fileExt2)]
#files_array_20=files_array_20_1+files_array_20_2

print("Quantidade de arquivos do word no diretório: ",len(files_array_19))
print("Quantidade de arquivos do word no diretório: ",len(files_array_20))



# rodar método get_info para ler aquivos do Word e retornar features de cada arquivo
# argumentos (diretório e array dos arquivos word)
# retorna (NºID,Qtd_caracteres,Qtd_tabela,Qtd_image,data)

var_19=gf.get_info(fileDir_19,files_array_19)
var_20=gf.get_info(fileDir_20,files_array_20)

#print(var)

#Quantidade de arquivos do word no diretório:  58
# Quantidade de arquivos do word no diretório:  52

Existe esse diretório?  True
Existe esse diretório?  True
Quantidade de arquivos do word no diretório:  56
Quantidade de arquivos do word no diretório:  50
ID228354-CNI_ Estudo Mecanismo de Soluá∆o de Consulta Antecipada_vf+RevisaoGramatical.docx
ID235502-Investimentos_Roadmap_BrasilUK_v5_Normalizado.docx
ID232098-2019-09-16_30 CASOS_FINAL 20190820 (inglês).docx
ID225392-Manual Ouvidoria do SESI SENAI REVISADO POR DANUZIA - NORMALIZADOv2 - 06.11.18.docx
ID228307-Pesquisa Sindical 2018_Relatório_versão final.docx
ID224325-Reuso_PE-normalizado_revisado_final.docx
ID232211-Agendar for USA.docx
ID230571-10 Chamada_20190619 - - (1).docx
ID229536-Avanços da Gestão SESI-SENAI-IEL v10.docx
ID231772-Versão preliminar I-2027 MPE-2.docx
ID226842-20190115 Estudo_ApoioExportadorDefesaComercial_v08.docx
ID231928-Investimentos_Tributação_Roadmap_BrasilEUA_20190328_Normalizado_06092019_123259.docx
ID233550-2019-11-25_CNI Agências Reguladoras Subnacionais- v2 - normalização concluída.docx
ID228603-Posicao Mercosul PPT Argentina_v11.docx
ID228863-2019-03-25 _TratamentodaChinaComoEconomiadeMercado_NME_v04.docx
ID231316-Mexico_InteressesOfensivos_201907_Normalizado_v02.docx
ID229294 -Normatizado  Livro ESocial - empregado ajustado depois da DJ_revisado empresa externa.docx
ID231829-2019-08-20 Estudo_CustosAeroportuarios_Relatorio_v15_normalizado.docx
ID230908-2019-07-04 Alemanha_2019_v4.docx
ID231210-2019-09-06 NR 12 - Comentarios ao novo texto geral. edição para diagramação.docx
ID229323-Normatizado  Livro ESocial - empregado ajustado depois da DJ_revisado empresa externa.docx
ID000003-Estudo temático_Impactos da revolução digital Unesco_Unificado_19ago2019.docx
ID228837-Mercosul_Alteracao Tarifaria_201902_v09_Normalizado (1).docx
ID228437-Recuperacao_Energetica_normalizado_revisado.docx
ID230630-2019-06-24_Reuso PB_normalizada_V02.docx
ID233405-2019-11-14 1128 Cartilha licenciamento ambiental_V9_normalizado_revisado_14112019_180959.docx
ID233069-AgendaPara_MÇxico_2019.docx
ID233474-Ecommerce_ResultadosConsulta_v06_Normalizado.docx
ID231055-AgendaPara_EstadosUnidos_2019 (1).docx
ID225531-Versão Revisada e Normalizada_FINAL.docx
ID230301-2019.06.05_reuso rj_V03.docx
ID233269-19.11 Relatorio Executivo FINAL_Normalizado.docx
ID228711-RELAToRIO SESI SENAI IEL 2018_PRELIMINAR_NORMALIZADO_2019.03.14.docx
ID231931-2019-08-26 Posiá∆o CNI_Reforma da OMC_v06_20190808_normalizado.docx
ID232943-CNI_FC_Estudo_FacilitacaoComercioMercosul_vlimpa_normalizada REVISADO_rp FINAL (2).docx
ID231201-2019-07-23_30 CASOS_FINAL REVISADO NORMALIZAÇÃO.docx
ID229345-OECD_CompatibilidadeSistemaBrasileiro_v08_Normalizado.docx
ID230277-19.05 Estudo final Esp gás_Nornalizado_Rev J (2).docx
ID231274-Versão Preliminar do Plano Estratégico_v10_enviado para Diret.docx
ID229428-Doc de Política Industrial Revisado - 02-04-2019_02052019_145149.docx
ID230874-Estudo_ProdutividadedasMultis_Normalizado.docx
ID232396-FinanciamentoeGarantias_BenchmarkingInternacional_v08_Normalizado.docx
ID232174-2019-08-23 AgendaPara_Japao_2019.docx
ID231938-AgendaPara_Alemanha_2019_Mark.docx
ID22703-FINAL_Agenda Jurídica da Indústria 2019 - STF (ÁBARIS)_31012019_145404.docx
ID230059-CNI_ConselhosUsuarios_Completa_20190510_vnormalizada-revisada (1).docx
ID225392-CNI_Atos Internacionais_201810_normalizado_final.docx
ID231431-Re£so ES_nor_rev.docx
ID224323-Reuso_CE-normalizado_revisado_final.docx
ID233263-2019-11-05 Boas praticas de parceria_Versao consolidada3_para editoração.docx
ID230385-Investimentos_ManualdeAcordosPrevidenci rio_v6_Normalizado.docx
ID232625-Guia do Docente_Editorado.docx
ID231890-Posicionamento sobre licenciamento ambiental VFinal.docx
ID231637-2019-08-09 CNI_CAM_Avancos&ImpactosParaBrasil_EstudoNormativoAduaneiro_20190718_v01r_limpa_ REVISADO.docx
ID233072-2019-10-22 AgendaPara_Argentina_2019.docx
ID232872-CNI_FC_GestaoRiscoOrgaosAnuentesComercioExterior_Estudo_vf.docx
ID235651-2020-06-16 AgendaPara_BRICS_2020_Normalizada (1).docx
ID235534-2020-06-02 AgendaPara_Japao_2020_Normalizada (3).docx
ID235502-Investimentos_Roadmap_BrasilUK_v5_Normalizado.docx
ID233694-Relatório Diretoria Jurídica 2018-1 - Cópia (1).docx
ID233896-2020-01-29 AII2020_Consolidação_V10.docx
ID235810-AgendaPara_China_Normalizada (1).docx
ID233899-Caderno de ações e resultados 2019 - Versão Editoração .docx
ID235305-Mercosul_ImpactosJuridicosSaidaBrasil_RelatorioCompleto_202003_v03_Normalizado (1).docx
ID233903-2020-05-02 Tradução Relatórios EUA e UE Distorções China_2020_v02 REVISADO_NORMALIZADO_sem comentários.docx
ID235520-2020-05-25 AgendaPara_Alemanha_2020_Normalizada (1).docx
ID235512-2020-06-05 OCDE_EstudoConvergênciaInstrumentosMeioAmbiente_v10_normalizado (1).docx
ID233904-2020-03-06 Estudo CNI_ China  Subsídios chineses identificados em investigações sobre medidas compensatórias no mundo(459760.20) (003)_Normalizado.docx
ID235513-2020-05-14 GUIA_PPN-Corrigido_Final_normalizado REVISADO-Comentado (1).docx
ID235664-Governança de Dados_Revisado DJ_FINAL.docx
ID235142-2020-03-30 0922 Bioeconomia e a Indústria Brasileira_30-03-2020_normalizado_vf.docx
ID233900-Relatório Atividades 2019_SESI-SENAI-IEL_versão preliminar.docx
ID233892-8- Templates.docx
ID233909-2020-03-11 publicacao_caminho_estrategico_economia_circular (ingl.)_normalizado.docx
ID233867-06_12_2019_EFEITOS DA GESTÃO SOBRE A PRODUTIVIDADE - PARA PUBLICAÇÃO_Final_19122019_155125.docx
ID233884-Agenda Jurídica STF 2020 (versão PRELIMINAR).docx
ID235701-08-07-2020 2º GUIA - Tempo de Ensinar e Aprender Final - Validado e Revisado (1).docx
ID235650-2020-06-05 AgendaPara_Argentina_2020_Normalizada (1).docx
ID235353-2020-05-06 Estudo CNI _ Documento de POsição OMC sem Órgão de Apelação.docx
ID235313-2020-05-05 2320 CNI - Estudo - Protocolo de Nagoya - normalizado_ 06_05.docx
ID233885-1- Metodol Rec Did - rev.docx
ID233893-Códigos_EstudoCNI_v10.docx
ID233891-7- Guia Microlearning - rev.docx
ID235700-2020-06-26 1º GUIA - TEMPO DE PLANEJAR - Validado REVISADO.docx
ID235812-AgendaPara_India_Normalizada (2).docx
ID235831-Investimentos_Desempenhoexportadordasmultis_v5.docx
ID235514-Guia Operacional MSEP - Ensino Superior_Final-normalizado-sandro_revisado 10 de junho de 2020 (2).docx
ID233890-6- Guia Adaptativo - rev.docx
ID235092-2020-03-20 CNI Dados Pessoais_cartilha (1) (1).docx
ID233908-ALI 2020 em 10 03 2020 Enviado para Editora.docx
ID233888-4- Guia Customizados - rev.docx
ID233895-2020-01-29 ProgramasAjuste_Posicao_202001_v05 (1) (2).docx
ID235710-2020-06-09 GUIA de operacionalização - PSAI sutentável_Adriana_Normalizado REVISADO (1) (1).docx
ID233886-2- Metodol LD - rev.docx
ID235469-2020-05-12 ROADMAP _FCBPR_BR-EUA_20200413 V3.docx
ID235293-CooperacaoRegulatoriaManual_202004_Abares.docx
ID233907-Pocket Pauta Mínima em 10 03 2020 Enviado para Editorar.docx
ID233898-Planejamento Estratégico MEI 2020-24_17022020_095649.docx
ID235519-CNI_ModelosAduaneirosGlobais&CooperacaoAduaneira_vfrevisado (1).docx
ID233889-5- Guia Autoinstrucionais - rev.docx
ID235652-2020-05-29 AGENDA FOR THE UNITED STATES_2020_normalizado.docx
ID235320-DCNs Engenharia_DOCUMENTO FINAL.docx
ID235811-2020-06-16 AgendaPara_BRICS_2020_Normalizada _rev.docx
ID233887-3- Guia CT e QB - rev.docx
ID235495-[PCD_Publicacao_PT].docx
ID233906-Panorama Rede SESI EM_27 nov 2019_FINAL.docx

In [2]:
#files_array_19_2

- Existe esse diretório?  True
- Existe esse diretório?  True
- Quantidade de arquivos do word no diretório:  58
- Quantidade de arquivos do word no diretório:  35

In [78]:
print(type(var_19))

<class 'list'>

In [79]:
# unindo lista 2019 com lista 2020
var=var_19+var_20

In [80]:
#df.count()

In [81]:
#df[df['Nº DA PLANILHA'].isnull()]

In [82]:
# converter veriável de retorno do método para Dataframe
#df = pd.DataFrame(var,columns=['Nº DA PLANILHA',"Qtd_carac","Qtd_tabela","Qtd_image","Data"])
df = pd.DataFrame(var,columns=['Nº DA PLANILHA',"Qtd_PG_word","Qtd_carac","Qtd_tabela","Qtd_image","Qtd_estilos", "Data"])

df.head()

,Nº DA PLANILHA,Qtd_PG_word,Qtd_carac,Qtd_tabela,Qtd_image,Qtd_estilos,Data
0,228354,76,129122,14,10,26,2019-02-27
1,235502,24,31123,21,17,23,2020-05-27
2,232098,195,413596,26,20,19,2019-09-16
3,225392,30,41144,28,24,23,2018-11-07
4,228307,62,43155,40,73,25,2019-02-26

In [83]:
df

,Nº DA PLANILHA,Qtd_PG_word,Qtd_carac,Qtd_tabela,Qtd_image,Qtd_estilos,Data
0,228354,76,129122,14,10,26,2019-02-27
1,235502,24,31123,21,17,23,2020-05-27
2,232098,195,413596,26,20,19,2019-09-16
3,225392,30,41144,28,24,23,2018-11-07
4,228307,62,43155,40,73,25,2019-02-26
...,...,...,...,...,...,...,...
101,235320,49,103663,469,451,20,2020-05-21
102,235811,34,29372,471,453,18,2020-08-03
103,233887,28,47904,476,458,14,2020-02-05
104,235495,39,31612,486,471,25,2020-05-25
105,233906,78,118624,489,540,19,2020-03-09

In [84]:
# verificando tipo das variáveis
df.dtypes

Nº DA PLANILHA    object
Qtd_PG_word       object
Qtd_carac          int64
Qtd_tabela         int64
Qtd_image          int64
Qtd_estilos        int64
Data              object
dtype: object

In [85]:
# converter tipo para inteiros e data
df["Nº DA PLANILHA"] = pd.to_numeric(df["Nº DA PLANILHA"], errors='coerce')
df["Data"] = pd.to_datetime(df["Data"])

In [86]:
df.dtypes

Nº DA PLANILHA           float64
Qtd_PG_word               object
Qtd_carac                  int64
Qtd_tabela                 int64
Qtd_image                  int64
Qtd_estilos                int64
Data              datetime64[ns]
dtype: object

In [87]:
#Convertendo arquivo excel em dataframe

excelDir ="/Users/wpessoa/repositorios/Fluxo_Editorial/dados/"
excelFile_2019 = pd.read_excel(excelDir+'Exercicio_estimativa_de_paginas_2019_2020.xlsx',"EXECUTADO 2019")
excelFile_2020 = pd.read_excel(excelDir+'Exercicio_estimativa_de_paginas_2019_2020.xlsx',"EXECUTADO 2020")

In [88]:
len(excelFile_2020.columns)

26

In [89]:
len(excelFile_2019.columns)

28

In [90]:
###################################################
# FAZER MERGE COM excelFile_2020 & excelFile_2019
##################################################

In [91]:
frames = [excelFile_2019, excelFile_2020]
excelFile2 = pd.concat(frames)

In [92]:
# reindexar o index devido ter deletado algumas linhas
excelFile2.reset_index(drop=True, inplace=True)

In [93]:
# selecionando apenas colunas necessárias
colunas=['ENTIDADE','PUBLICAÇÃO','Nº de páginas WORD','Nº de páginas estimado', 'COMPLEXIDADE','FORNECEDOR','Nº DA PLANILHA','STATUS DE PGTO','Nº de páginas finais']
excelFile2 = excelFile2[colunas]

In [94]:
excelFile2.columns

Index(['ENTIDADE', 'PUBLICAÇÃO', 'Nº de páginas WORD',
       'Nº de páginas estimado', 'COMPLEXIDADE', 'FORNECEDOR',
       'Nº DA PLANILHA', 'STATUS DE PGTO', 'Nº de páginas finais'],
      dtype='object')

In [95]:
excelFile2.dtypes

ENTIDADE                   object
PUBLICAÇÃO                 object
Nº de páginas WORD         object
Nº de páginas estimado    float64
COMPLEXIDADE               object
FORNECEDOR                 object
Nº DA PLANILHA             object
STATUS DE PGTO             object
Nº de páginas finais       object
dtype: object

In [96]:
excelFile2.dtypes

ENTIDADE                   object
PUBLICAÇÃO                 object
Nº de páginas WORD         object
Nº de páginas estimado    float64
COMPLEXIDADE               object
FORNECEDOR                 object
Nº DA PLANILHA             object
STATUS DE PGTO             object
Nº de páginas finais       object
dtype: object

In [97]:
#excelFile2.set_index('Nº DA PLANILHA',inplace=True)

In [98]:
excelFile2

,ENTIDADE,PUBLICAÇÃO,Nº de páginas WORD,Nº de páginas estimado,COMPLEXIDADE,FORNECEDOR,Nº DA PLANILHA,STATUS DE PGTO,Nº de páginas finais
0,CNI,Reuso CE,87,140.0,Alta,Editorar,224323,Pago,140
1,CNI,Reuso PE,82,122.0,Alta,Editorar,224325,Pago,122
2,CNI,Processo De Internalização Dos Atos Internacio...,41,70.0,Média,Editorar,225392,Pago,52
3,CNI,Manual de orientações da ouvidoria do Sesi e d...,30,45.0,Baixa,Editorar,225507,Pago,32
4,CNI,Guia de Propriedade Intelectual para o Jornalista,36,48.0,Baixa,Editorar,225531,Pago,48
...,...,...,...,...,...,...,...,...,...
130,SENAI,Guia de Operacionalização da MSEP,56,104.0,Alta,Icomunicação,235514,Pago,72
131,SENAI,MSEP / 1º Guia da Prática Pedagógica,38,48.0,Baixa,Icomunicação,235700,Pago,44
132,SENAI,MSEP / 2º Guia da Prática Pedagógica,33,44.0,Baixa,Icomunicação,235701,Pago,40
133,SENAI,Guia de Operalização PSAI Sustentável,33,72.0,Baixa,Icomunicação,235710,Pago,48
134,SENAI,Introdução ao método do emprego apoiado,12,24.0,Baixa,Icomunicação,235813,Pago,24

In [99]:
excelFile2.describe()

       Nº de páginas estimado
count              129.000000
mean                93.953488
std                 72.398297
min                  1.000000
25%                 48.000000
50%                 75.000000
75%                110.000000
max                440.000000

In [100]:
# Verificar se tem alguma inconsistencia na planilha Excel - Quantidade de páginas por exemplo
# excelFile2.sort_values('Nº de páginas WORD')

In [101]:
excelFile2['Nº de páginas finais'].unique()

array(['140', '122', '52', '32', '48', 88, '66', '82', '92', '70', '96',
       '18', '40', '46', '68', '34', '28', '86', '84', '110', '116', '98',
       '340', '72', '112', '71', '100', '43', '76', '212', '74', '38',
       '42', '54', '104', '386', '126', '296', '196', 'RMSE', nan, 1, 52,
       66, 86, 68, 46, 30, 20, 22, 24, 176, 84, 98, 38, 296, 76, 15, 108,
       120, 57, 82, 168, 162, 54, 48, 100, 36, 78, 40, 44, 62, 110, 42,
       72], dtype=object)

In [102]:
# Verificar se tem alguma inconsistencia na planilha Excel - Quantidade de páginas por exemplo
# excelFile2.sort_values('Nº de páginas finais')

In [103]:
# verifiacando valores nulos
excelFile2.isnull().sum()

ENTIDADE                  6
PUBLICAÇÃO                6
Nº de páginas WORD        3
Nº de páginas estimado    6
COMPLEXIDADE              6
FORNECEDOR                3
Nº DA PLANILHA            6
STATUS DE PGTO            6
Nº de páginas finais      5
dtype: int64

In [104]:
# retirar registro nulos
excelFile2=excelFile2.dropna()

In [105]:
# verifiacando valores nulos
excelFile2.isnull().sum()

ENTIDADE                  0
PUBLICAÇÃO                0
Nº de páginas WORD        0
Nº de páginas estimado    0
COMPLEXIDADE              0
FORNECEDOR                0
Nº DA PLANILHA            0
STATUS DE PGTO            0
Nº de páginas finais      0
dtype: int64

In [106]:
excelFile2.dtypes

ENTIDADE                   object
PUBLICAÇÃO                 object
Nº de páginas WORD         object
Nº de páginas estimado    float64
COMPLEXIDADE               object
FORNECEDOR                 object
Nº DA PLANILHA             object
STATUS DE PGTO             object
Nº de páginas finais       object
dtype: object

In [107]:
import numpy as np
excelFile2["Nº DA PLANILHA"] = (pd.to_numeric(excelFile2["Nº DA PLANILHA"], errors='coerce').fillna(0).astype(np.int64))#,downcast='integer'))
#excelFile2["Nº DA PLANILHA"] = excelFile2["Nº DA PLANILHA"].astype('int64',errors='ignore')

<ipython-input-107-8fdfc85dce57>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  excelFile2["Nº DA PLANILHA"] = (pd.to_numeric(excelFile2["Nº DA PLANILHA"], errors='coerce').fillna(0).astype(np.int64))#,downcast='integer'))

In [108]:
excelFile2.dtypes

ENTIDADE                   object
PUBLICAÇÃO                 object
Nº de páginas WORD         object
Nº de páginas estimado    float64
COMPLEXIDADE               object
FORNECEDOR                 object
Nº DA PLANILHA              int64
STATUS DE PGTO             object
Nº de páginas finais       object
dtype: object

In [109]:
df.dtypes

Nº DA PLANILHA           float64
Qtd_PG_word               object
Qtd_carac                  int64
Qtd_tabela                 int64
Qtd_image                  int64
Qtd_estilos                int64
Data              datetime64[ns]
dtype: object

In [110]:
excelFile2

,ENTIDADE,PUBLICAÇÃO,Nº de páginas WORD,Nº de páginas estimado,COMPLEXIDADE,FORNECEDOR,Nº DA PLANILHA,STATUS DE PGTO,Nº de páginas finais
0,CNI,Reuso CE,87,140.0,Alta,Editorar,224323,Pago,140
1,CNI,Reuso PE,82,122.0,Alta,Editorar,224325,Pago,122
2,CNI,Processo De Internalização Dos Atos Internacio...,41,70.0,Média,Editorar,225392,Pago,52
3,CNI,Manual de orientações da ouvidoria do Sesi e d...,30,45.0,Baixa,Editorar,225507,Pago,32
4,CNI,Guia de Propriedade Intelectual para o Jornalista,36,48.0,Baixa,Editorar,225531,Pago,48
...,...,...,...,...,...,...,...,...,...
130,SENAI,Guia de Operacionalização da MSEP,56,104.0,Alta,Icomunicação,235514,Pago,72
131,SENAI,MSEP / 1º Guia da Prática Pedagógica,38,48.0,Baixa,Icomunicação,235700,Pago,44
132,SENAI,MSEP / 2º Guia da Prática Pedagógica,33,44.0,Baixa,Icomunicação,235701,Pago,40
133,SENAI,Guia de Operalização PSAI Sustentável,33,72.0,Baixa,Icomunicação,235710,Pago,48
134,SENAI,Introdução ao método do emprego apoiado,12,24.0,Baixa,Icomunicação,235813,Pago,24

In [111]:
df

,Nº DA PLANILHA,Qtd_PG_word,Qtd_carac,Qtd_tabela,Qtd_image,Qtd_estilos,Data
0,228354.0,76,129122,14,10,26,2019-02-27
1,235502.0,24,31123,21,17,23,2020-05-27
2,232098.0,195,413596,26,20,19,2019-09-16
3,225392.0,30,41144,28,24,23,2018-11-07
4,228307.0,62,43155,40,73,25,2019-02-26
...,...,...,...,...,...,...,...
101,235320.0,49,103663,469,451,20,2020-05-21
102,235811.0,34,29372,471,453,18,2020-08-03
103,233887.0,28,47904,476,458,14,2020-02-05
104,235495.0,39,31612,486,471,25,2020-05-25
105,233906.0,78,118624,489,540,19,2020-03-09

In [112]:
# verificando quantidade de linhas
df['Nº DA PLANILHA'].count()

105

In [113]:
# -----> verificar valores NAN 
df.isnull().sum()

Nº DA PLANILHA    1
Qtd_PG_word       0
Qtd_carac         0
Qtd_tabela        0
Qtd_image         0
Qtd_estilos       0
Data              0
dtype: int64

In [114]:
# verificando quantidade de linhas com o coluna N0. da planilha igual a NaN
df[df['Nº DA PLANILHA'].isnull()]

,Nº DA PLANILHA,Qtd_PG_word,Qtd_carac,Qtd_tabela,Qtd_image,Qtd_estilos,Data
44,NaN,143,258920,396,660,5,2019-02-05

In [115]:
# verificando quantidade de linhas

excelFile2['Nº DA PLANILHA'].count()

128

In [116]:
# -----> verificar valores NAN 
excelFile2.isnull().sum()

ENTIDADE                  0
PUBLICAÇÃO                0
Nº de páginas WORD        0
Nº de páginas estimado    0
COMPLEXIDADE              0
FORNECEDOR                0
Nº DA PLANILHA            0
STATUS DE PGTO            0
Nº de páginas finais      0
dtype: int64

In [117]:
# verificando quantidade de linhas com o coluna N0. da planilha igual a NaN

excelFile2[excelFile2['Nº DA PLANILHA'].isnull()]

Empty DataFrame
Columns: [ENTIDADE, PUBLICAÇÃO, Nº de páginas WORD, Nº de páginas estimado, COMPLEXIDADE, FORNECEDOR, Nº DA PLANILHA, STATUS DE PGTO, Nº de páginas finais]
Index: []

In [118]:
# UNIR arquivo do NGE com o método de leitura dos arquivos Word
#
# Atenção >>>>>>>> alguns arquivos não passaram pelo método de leitura dos arquivos word e irão gerar valores NAN
#
df_final = pd.merge(excelFile2, df, on=['Nº DA PLANILHA'], how='left')

# PRECISO REVISAR O MERGE, POIS A COLUNA DATA DO DATASET df NÃO FOI ENCORPORADO NO DATASET df_final

In [119]:
# verificando quantidade de linhas

df_final['Nº DA PLANILHA'].count()

131

In [120]:
# colocando ordem de apresentação das colunas adequada
excelFile2.columns

Index(['ENTIDADE', 'PUBLICAÇÃO', 'Nº de páginas WORD',
       'Nº de páginas estimado', 'COMPLEXIDADE', 'FORNECEDOR',
       'Nº DA PLANILHA', 'STATUS DE PGTO', 'Nº de páginas finais'],
      dtype='object')

In [121]:
df.columns

Index(['Nº DA PLANILHA', 'Qtd_PG_word', 'Qtd_carac', 'Qtd_tabela', 'Qtd_image',
       'Qtd_estilos', 'Data'],
      dtype='object')

In [122]:
df_final.columns

Index(['ENTIDADE', 'PUBLICAÇÃO', 'Nº de páginas WORD',
       'Nº de páginas estimado', 'COMPLEXIDADE', 'FORNECEDOR',
       'Nº DA PLANILHA', 'STATUS DE PGTO', 'Nº de páginas finais',
       'Qtd_PG_word', 'Qtd_carac', 'Qtd_tabela', 'Qtd_image', 'Qtd_estilos',
       'Data'],
      dtype='object')

In [123]:
# colocando ordem de apresentação das colunas adequada

#colunas_final = ['Nº DA PLANILHA','ENTIDADE',  'FORNECEDOR','COMPLEXIDADE', 'STATUS DE PGTO',  'Nº de páginas WORD','Nº de páginas estimado', 'Qtd_carac','Qtd_tabela', 'Qtd_image','Nº de páginas finais' ]
colunas_final = ['Nº DA PLANILHA','ENTIDADE',  'FORNECEDOR','COMPLEXIDADE', 'STATUS DE PGTO',  'Nº de páginas WORD','Nº de páginas estimado', "Qtd_PG_word", 'Qtd_carac','Qtd_tabela', 'Qtd_image',"Qtd_estilos",'Nº de páginas finais' ]
df_final = df_final[colunas_final]

In [124]:
df_final.count()

Nº DA PLANILHA            131
ENTIDADE                  131
FORNECEDOR                131
COMPLEXIDADE              131
STATUS DE PGTO            131
Nº de páginas WORD        131
Nº de páginas estimado    131
Qtd_PG_word               106
Qtd_carac                 106
Qtd_tabela                106
Qtd_image                 106
Qtd_estilos               106
Nº de páginas finais      131
dtype: int64

In [125]:
# -----> verificar valores NAN 
df_final.isnull().sum()
# OS REGISTROS COM NAN NESSE CASO FORAM OS ARQUIVOS QUE ESTAVAM NO ARQUIVO EXCEL 
# E QUE NÃO TINHAM O AQUIVO WORD CORRESPONDENTE , OU SEJA NÃO FOI ENCONTRADO NA PASTA

Nº DA PLANILHA             0
ENTIDADE                   0
FORNECEDOR                 0
COMPLEXIDADE               0
STATUS DE PGTO             0
Nº de páginas WORD         0
Nº de páginas estimado     0
Qtd_PG_word               25
Qtd_carac                 25
Qtd_tabela                25
Qtd_image                 25
Qtd_estilos               25
Nº de páginas finais       0
dtype: int64

In [126]:
df_final[df_final['Nº DA PLANILHA'].isnull()]

Empty DataFrame
Columns: [Nº DA PLANILHA, ENTIDADE, FORNECEDOR, COMPLEXIDADE, STATUS DE PGTO, Nº de páginas WORD, Nº de páginas estimado, Qtd_PG_word, Qtd_carac, Qtd_tabela, Qtd_image, Qtd_estilos, Nº de páginas finais]
Index: []

In [127]:
# lista dos arquivos do Excel que não tem arquivo do Word correspondente
    
    
df_final[df_final['Qtd_carac'].isnull()]

,Nº DA PLANILHA,ENTIDADE,FORNECEDOR,COMPLEXIDADE,STATUS DE PGTO,Nº de páginas WORD,Nº de páginas estimado,Qtd_PG_word,Qtd_carac,Qtd_tabela,Qtd_image,Qtd_estilos,Nº de páginas finais
4,225507,CNI,Editorar,Baixa,Pago,30,45.0,NaN,NaN,NaN,NaN,NaN,32
8,227130,CNI,Editorar,Alta,Pago,66,102.0,NaN,NaN,NaN,NaN,NaN,82
9,227979,CNI,Editorar,Alta,Pago,46,98.0,NaN,NaN,NaN,NaN,NaN,92
13,228444,SESI,Editorar,Alta,Pago,45,70.0,NaN,NaN,NaN,NaN,NaN,70
34,231378,SESI,Editorar,Alta,Pago,71,71.0,NaN,NaN,NaN,NaN,NaN,71
36,1,CNI,Editorar,Média,Pago,41,48.0,NaN,NaN,NaN,NaN,NaN,43
37,2,CNI,Editorar,Média,Pago,41,48.0,NaN,NaN,NaN,NaN,NaN,43
50,232328,CNI,Editorar,Baixa,Pago,64,48.0,NaN,NaN,NaN,NaN,NaN,54
52,0,CNI,Editorar,Alta,Pago,70,108.0,NaN,NaN,NaN,NaN,NaN,92
54,232393,SESI,Editorar,Baixa,Pago,29,48.0,NaN,NaN,NaN,NaN,NaN,40
55,232596,CNI,Editorar,Alta,Pago,72,95.0,NaN,NaN,NaN,NaN,NaN,76
60,233002,SENAI,Editorar,Alta,Pago,543,400.0,NaN,NaN,NaN,NaN,NaN,386
68,228346,CNI,Icomunicação,Alta,Pago,316,440.0,NaN,NaN,NaN,NaN,NaN,296
69,227031,CNI,Icomunicação,Alta,Pago,196,196.0,NaN,NaN,NaN,NaN,NaN,196
90,233910,CNI,Editorar,Baixa,Pago,15,15.0,NaN,NaN,NaN,NaN,NaN,15
93,233839,SENAI,Editorar,Alta,Pago,70,120.0,NaN,NaN,NaN,NaN,NaN,120
95,235193,CNI,Editorar,Alta,Pago,50,80.0,NaN,NaN,NaN,NaN,NaN,66
96,235195,SESI,Editorar,Média,Pago,55,71.0,NaN,NaN,NaN,NaN,NaN,57
97,235195,SENAI,Editorar,-,Pago,55,71.0,NaN,NaN,NaN,NaN,NaN,57
98,235195,IEL,Editorar,-,Pago,55,71.0,NaN,NaN,NaN,NaN,NaN,57
102,0,SENAI,Editorar,Alta,Pago,168,168.0,NaN,NaN,NaN,NaN,NaN,168
103,0,SESI,Editorar,Alta,Pago,162,162.0,NaN,NaN,NaN,NaN,NaN,162
109,235509,CNI,Editorar,Baixa,Pago,20,48.0,NaN,NaN,NaN,NaN,NaN,36
119,235665,CNI,Editorar,Alta,Pago,39,68.0,NaN,NaN,NaN,NaN,NaN,66
130,235813,SENAI,Icomunicação,Baixa,Pago,12,24.0,NaN,NaN,NaN,NaN,NaN,24

In [128]:
# retirar registro nulos , OU SEJA RETIRAR OS DADOS QUE NÃO TINHAM NA PASTA DO WORD
df_final=df_final.dropna()
# APAGOU AS LINHAS COM NAN

# outra alternativa seria preencher com valores as celulas com NaN 
# df_final.fillna(df_final.mean(0))

In [129]:
# -----> verificar valores NAN 
df_final.isnull().sum()

Nº DA PLANILHA            0
ENTIDADE                  0
FORNECEDOR                0
COMPLEXIDADE              0
STATUS DE PGTO            0
Nº de páginas WORD        0
Nº de páginas estimado    0
Qtd_PG_word               0
Qtd_carac                 0
Qtd_tabela                0
Qtd_image                 0
Qtd_estilos               0
Nº de páginas finais      0
dtype: int64

In [130]:
df_final.count()

Nº DA PLANILHA            106
ENTIDADE                  106
FORNECEDOR                106
COMPLEXIDADE              106
STATUS DE PGTO            106
Nº de páginas WORD        106
Nº de páginas estimado    106
Qtd_PG_word               106
Qtd_carac                 106
Qtd_tabela                106
Qtd_image                 106
Qtd_estilos               106
Nº de páginas finais      106
dtype: int64

In [131]:
df_final

,Nº DA PLANILHA,ENTIDADE,FORNECEDOR,COMPLEXIDADE,STATUS DE PGTO,Nº de páginas WORD,Nº de páginas estimado,Qtd_PG_word,Qtd_carac,Qtd_tabela,Qtd_image,Qtd_estilos,Nº de páginas finais
0,224323,CNI,Editorar,Alta,Pago,87,140.0,87,116142.0,474.0,712.0,60.0,140
1,224325,CNI,Editorar,Alta,Pago,82,122.0,82,108307.0,76.0,94.0,69.0,122
2,225392,CNI,Editorar,Média,Pago,41,70.0,30,41144.0,28.0,24.0,23.0,52
3,225392,CNI,Editorar,Média,Pago,41,70.0,42,62913.0,401.0,666.0,21.0,52
5,225531,CNI,Editorar,Baixa,Pago,36,48.0,36,37548.0,239.0,426.0,17.0,48
...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,235513,SENAI,Icomunicação,Média,Pago,49,96.0,52,56538.0,150.0,264.0,22.0,52
126,235514,SENAI,Icomunicação,Alta,Pago,56,104.0,41,51127.0,371.0,373.0,18.0,72
127,235700,SENAI,Icomunicação,Baixa,Pago,38,48.0,37,40157.0,354.0,334.0,16.0,44
128,235701,SENAI,Icomunicação,Baixa,Pago,33,44.0,33,42499.0,293.0,302.0,15.0,40
129,235710,SENAI,Icomunicação,Baixa,Pago,33,72.0,33,28573.0,428.0,399.0,15.0,48

In [132]:
#print(df_final["qtd_pag_word"],(df_final["qtd_carc"]/1430))

In [133]:
# reindexar o index devido ter deletado algumas linhas
df_final.reset_index(drop=True, inplace=True)

In [134]:
#colunas_final = ['Nº DA PLANILHA','ENTIDADE', 'PUBLICAÇÃO', 'FORNECEDOR','COMPLEXIDADE', 'STATUS DE PGTO', 'Data', 'Nº de páginas WORD', 'Nº de páginas estimado', 'Qtd_carac','Qtd_tabela', 'Qtd_image','Nº de páginas finais' ]
#df_final_num = df_final[colunas_final]

In [135]:
df_final.dtypes

Nº DA PLANILHA              int64
ENTIDADE                   object
FORNECEDOR                 object
COMPLEXIDADE               object
STATUS DE PGTO             object
Nº de páginas WORD         object
Nº de páginas estimado    float64
Qtd_PG_word                object
Qtd_carac                 float64
Qtd_tabela                float64
Qtd_image                 float64
Qtd_estilos               float64
Nº de páginas finais       object
dtype: object

In [136]:
df_final.head()

,Nº DA PLANILHA,ENTIDADE,FORNECEDOR,COMPLEXIDADE,STATUS DE PGTO,Nº de páginas WORD,Nº de páginas estimado,Qtd_PG_word,Qtd_carac,Qtd_tabela,Qtd_image,Qtd_estilos,Nº de páginas finais
0,224323,CNI,Editorar,Alta,Pago,87,140.0,87,116142.0,474.0,712.0,60.0,140
1,224325,CNI,Editorar,Alta,Pago,82,122.0,82,108307.0,76.0,94.0,69.0,122
2,225392,CNI,Editorar,Média,Pago,41,70.0,30,41144.0,28.0,24.0,23.0,52
3,225392,CNI,Editorar,Média,Pago,41,70.0,42,62913.0,401.0,666.0,21.0,52
4,225531,CNI,Editorar,Baixa,Pago,36,48.0,36,37548.0,239.0,426.0,17.0,48

In [137]:
# alterar campos typo string para categóricos 
df_final['ENTIDADE'] = df_final['ENTIDADE'].astype('category')
df_final['COMPLEXIDADE'] = df_final['COMPLEXIDADE'].astype('category')
df_final['FORNECEDOR'] = df_final['FORNECEDOR'].astype('category')
df_final['STATUS DE PGTO'] = df_final['STATUS DE PGTO'].astype('category')

In [138]:
# SOBRE O AVISO: A value is trying to be set on a copy of a slice from a dataframe
# https://paulovasconcellos.com.br/o-que-%C3%A9-a-value-is-trying-to-be-set-on-a-copy-of-a-slice-from-a-dataframe-e85f744d8be1

In [139]:
# alterar campos typo categóricos para numérico
# aplicando .cat.codes em cada uma dessas colunas
df_final['ENTIDADE'] = df_final['ENTIDADE'].cat.codes
df_final['COMPLEXIDADE'] = df_final['COMPLEXIDADE'].cat.codes
df_final['FORNECEDOR'] = df_final['FORNECEDOR'].cat.codes
df_final['STATUS DE PGTO'] = df_final['STATUS DE PGTO'].cat.codes

In [140]:
df_final['Nº de páginas WORD'] = df_final['Nº de páginas WORD'].astype('int')

In [141]:
# Verificar se tem alguma inconsistencia na planilha Excel - Quantidade de páginas por exemplo
df_final.sort_values('Nº de páginas WORD')

# eliminar linhas com menos de 10 páginas
filtro  = df_final['Nº de páginas WORD'] > 10
df_final = df_final[filtro]

In [142]:
df_final.dtypes

Nº DA PLANILHA              int64
ENTIDADE                     int8
FORNECEDOR                   int8
COMPLEXIDADE                 int8
STATUS DE PGTO               int8
Nº de páginas WORD          int64
Nº de páginas estimado    float64
Qtd_PG_word                object
Qtd_carac                 float64
Qtd_tabela                float64
Qtd_image                 float64
Qtd_estilos               float64
Nº de páginas finais       object
dtype: object

In [143]:
df_final.head()

,Nº DA PLANILHA,ENTIDADE,FORNECEDOR,COMPLEXIDADE,STATUS DE PGTO,Nº de páginas WORD,Nº de páginas estimado,Qtd_PG_word,Qtd_carac,Qtd_tabela,Qtd_image,Qtd_estilos,Nº de páginas finais
0,224323,0,0,1,0,87,140.0,87,116142.0,474.0,712.0,60.0,140
1,224325,0,0,1,0,82,122.0,82,108307.0,76.0,94.0,69.0,122
2,225392,0,0,3,0,41,70.0,30,41144.0,28.0,24.0,23.0,52
3,225392,0,0,3,0,41,70.0,42,62913.0,401.0,666.0,21.0,52
4,225531,0,0,2,0,36,48.0,36,37548.0,239.0,426.0,17.0,48

In [144]:
df_final.columns

Index(['Nº DA PLANILHA', 'ENTIDADE', 'FORNECEDOR', 'COMPLEXIDADE',
       'STATUS DE PGTO', 'Nº de páginas WORD', 'Nº de páginas estimado',
       'Qtd_PG_word', 'Qtd_carac', 'Qtd_tabela', 'Qtd_image', 'Qtd_estilos',
       'Nº de páginas finais'],
      dtype='object')

In [145]:
# trocar type float por int
#df_final['Nº DA PLANILHA'] = df_final['Nº DA PLANILHA'].astype('int')
#df_final['Nº DA PLANILHA'] = df_final['Nº DA PLANILHA'].astype('int')

In [146]:
# inserir zeros no lugar do valor NAN
#df_final['Qtd_carac']= df_final['Qtd_carac'].fillna(0)
#df_final['Qtd_tabela'] = df_final['Qtd_tabela'].fillna(0)
#df_final['Qtd_image'] = df_final['Qtd_image'].fillna(0)

In [147]:
# trocar type float por int
#df_final['Nº de páginas estimado'] = df_final['Nº de páginas estimado'].astype('int')
df_final['Qtd_carac'] = df_final['Qtd_carac'].astype('int')
df_final["Qtd_PG_word"] = df_final["Qtd_PG_word"].astype('int')
df_final['Qtd_tabela'] = df_final['Qtd_tabela'].astype('int')
df_final['Qtd_image'] = df_final['Qtd_image'].astype('int')

df_final['Nº de páginas finais'] = df_final['Nº de páginas finais'].astype('int')

<ipython-input-147-22ece583bb12>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['Qtd_carac'] = df_final['Qtd_carac'].astype('int')
<ipython-input-147-22ece583bb12>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final["Qtd_PG_word"] = df_final["Qtd_PG_word"].astype('int')
<ipython-input-147-22ece583bb12>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['Qtd_tabela'] = df_final['Qtd_tabela'].astype('int')
<ipython-input-147-22ece583bb12>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['Qtd_image'] = df_final['Qtd_image'].astype('int')
<ipython-input-147-22ece583bb12>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['Nº de páginas finais'] = df_final['Nº de páginas finais'].astype('int')

In [148]:
df_final.columns

Index(['Nº DA PLANILHA', 'ENTIDADE', 'FORNECEDOR', 'COMPLEXIDADE',
       'STATUS DE PGTO', 'Nº de páginas WORD', 'Nº de páginas estimado',
       'Qtd_PG_word', 'Qtd_carac', 'Qtd_tabela', 'Qtd_image', 'Qtd_estilos',
       'Nº de páginas finais'],
      dtype='object')

In [149]:
df_final.dtypes

Nº DA PLANILHA              int64
ENTIDADE                     int8
FORNECEDOR                   int8
COMPLEXIDADE                 int8
STATUS DE PGTO               int8
Nº de páginas WORD          int64
Nº de páginas estimado    float64
Qtd_PG_word                 int64
Qtd_carac                   int64
Qtd_tabela                  int64
Qtd_image                   int64
Qtd_estilos               float64
Nº de páginas finais        int64
dtype: object

In [150]:
#renomear colunas
#df_final.rename(columns={'Nº DA PLANILHA': 'id','ENTIDADE':"entidade",'FORNECEDOR':"fornecedor", 'COMPLEXIDADE':"complexidade",
#                         'STATUS DE PGTO':"stat_pagto",'Nº de páginas WORD':"qtd_pag_word", 
#                         'Nº de páginas estimado':"qtd_pag_estimado", 'Qtd_carac':"qtd_carc",
#       'Qtd_tabela':"qtd_tabela", 'Qtd_image': "qtd_image", 'Nº de páginas finais':"pag_final"} , inplace = True)

df_final.rename(columns={'Nº DA PLANILHA': 'id','ENTIDADE':"entidade",'FORNECEDOR':"fornecedor", 'COMPLEXIDADE':"complexidade",
                         'STATUS DE PGTO':"stat_pagto",'Nº de páginas WORD':"qtd_pag_word", 
                         'Nº de páginas estimado':"qtd_pag_estimado", 'Qtd_carac':"qtd_carc","Qtd_PG_word":"qtd_pg_word",
       'Qtd_tabela':"qtd_tabela", 'Qtd_image': "qtd_image","Qtd_estilos":"qtd_estilos", 'Nº de páginas finais':"pag_final"} , inplace = True)

/Users/wpessoa/miniconda3/envs/py3/lib/python3.8/site-packages/pandas/core/frame.py:4293: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [155]:
df_final['tamanho_livro'] = 'NaN'
for index, row in df_final.iterrows():
    #print(row["pag_final"])
    if row["pag_final"]>149:
        df_final.loc[index,'tamanho_livro'] =  2
    elif row["pag_final"]>59 & row["pag_final"]<150:
        df_final.loc[index,'tamanho_livro'] =  1
    else:  
        df_final.loc[index,'tamanho_livro'] =  0

<ipython-input-155-ef723cd89ba6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['tamanho_livro'] = 'NaN'
/Users/wpessoa/miniconda3/envs/py3/lib/python3.8/site-packages/pandas/core/indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [156]:
df_final[df_final['tamanho_livro']==0]

,id,entidade,fornecedor,complexidade,stat_pagto,qtd_pag_word,qtd_pag_estimado,qtd_pg_word,qtd_carc,qtd_tabela,qtd_image,qtd_estilos,pag_final,tamanho_livro
4,225531,0,0,2,0,36,48.0,36,37548,239,426,17.0,48,0
9,228437,0,0,2,0,18,18.0,80,145038,175,370,35.0,18,0
10,228603,0,0,2,0,33,48.0,13,45943,114,132,22.0,40,0
13,229294,0,0,2,0,22,46.0,18,16595,134,152,17.0,34,0
21,230385,0,0,2,0,38,56.0,38,37614,511,765,20.0,48,0
24,230874,0,0,2,0,22,48.0,22,19773,380,618,22.0,34,0
38,231928,0,0,2,0,34,48.0,34,56358,104,119,25.0,48,0
39,231931,0,0,2,0,33,48.0,33,53352,294,496,21.0,42,0
41,232174,0,0,2,0,29,48.0,29,24953,391,652,19.0,48,0
50,233069,0,0,2,0,24,44.0,24,19149,211,400,22.0,40,0
53,233405,0,0,2,0,19,45.0,19,17160,209,398,15.0,34,0
54,233474,0,0,1,0,36,68.0,36,33348,213,416,48.0,48,0
66,233892,1,0,2,0,19,45.0,17,12032,210,286,32.0,24,0
83,235469,0,0,2,0,40,70.0,24,28880,448,424,41.0,48,0
91,235534,0,0,2,0,29,48.0,29,23931,4,4,20.0,40,0
92,235650,0,0,2,0,39,68.0,39,36051,295,305,30.0,48,0
100,235831,0,0,2,0,28,48.0,28,25136,369,346,17.0,42,0
104,235701,1,1,2,0,33,44.0,33,42499,293,302,15.0,40,0
105,235710,1,1,2,0,33,72.0,33,28573,428,399,15.0,48,0

In [157]:
# gerar arquivo csv para arquivo tratado

df_final.to_csv("nge_dados_input.csv",index=False )

#data = pd.read_csv("nge_dados_input.csv")
#df_final.to_csv(index=False)
#df_final.to_csv("nge_dados_input.csv", data = imprimir_ano)

In [152]:
# FIM MÉTODO..... RODADR O TRINEMANTO DE MACHINE LEARNING =>   machine_learning_NGE