In [ ]:
# metodo de tratar tabelas

In [291]:
import os
import get_file_word as gf
import datetime
import pandas as pd

#setar variáveis onde estão arquivos
fileExt = r".docx"
fileDir_19 = r"/Users/wpessoa/repositorios/NGE/words_2019/"
fileDir_20 = r"/Users/wpessoa/repositorios/NGE/words_2020/"


# verificar se existe o diretório
print("Existe esse diretório? ",os.path.exists(fileDir_19)) 
print("Existe esse diretório? ",os.path.exists(fileDir_20)) 


#fileDir = r"/Users/wpessoa/repositorios/Fluxo_Editorial/words/"
#fileDir= r'/Users/walnerpessoa/repositories/Fluxo_Editorial/words'
files_array_19 = [_ for _ in os.listdir(fileDir_19) if _.endswith(fileExt)]
files_array_20 = [_ for _ in os.listdir(fileDir_20) if _.endswith(fileExt)]

print("Quantidade de arquivos do word no diretório: ",len(files_array_19))
print("Quantidade de arquivos do word no diretório: ",len(files_array_20))


# rodar método get_info para ler aquivos do Word e retornar features de cada arquivo
# argumentos (diretório e array dos arquivos word)
# retorna (NºID,Qtd_caracteres,Qtd_tabela,Qtd_image,data)

var_19=gf.get_info(fileDir_19,files_array_19)
var_20=gf.get_info(fileDir_20,files_array_20)

#print(var)

Existe esse diretório?  True
Existe esse diretório?  True
Quantidade de arquivos do word no diretório:  58
Quantidade de arquivos do word no diretório:  35

In [292]:
print(type(var_19))

<class 'list'>

In [295]:
# unindo lista 2019 com lista 2020
var=var_19+var_20

In [296]:
# converter veriável de retorno do método para Dataframe
df = pd.DataFrame(var,columns=['Nº DA PLANILHA',"Qtd_carac","Qtd_tabela","Qtd_image","Data"])
df.head()

  Nº DA PLANILHA  Qtd_carac  Qtd_tabela  Qtd_image        Data
0         228354     131735          14         10  2019-02-27
1         235502      32209          21         17  2020-05-27
2         232098     417588          26         20  2019-09-16
3         225392      42460          28         24  2018-11-07
4         228307      46689          40         73  2019-02-26

In [297]:
df

   Nº DA PLANILHA  Qtd_carac  Qtd_tabela  Qtd_image        Data
0          228354     131735          14         10  2019-02-27
1          235502      32209          21         17  2020-05-27
2          232098     417588          26         20  2019-09-16
3          225392      42460          28         24  2018-11-07
4          228307      46689          40         73  2019-02-26
..            ...        ...         ...        ...         ...
88         233889      15598         366        323  2020-02-05
89         235320     105295         368        330  2020-05-21
90         233887      49223         373        335  2020-02-05
91         235495      33684         383        348  2020-05-25
92         233906     120816         386        417  2020-03-09

[93 rows x 5 columns]

In [298]:
# verificando tipo das variáveis
df.dtypes

Nº DA PLANILHA    object
Qtd_carac          int64
Qtd_tabela         int64
Qtd_image          int64
Data              object
dtype: object

In [299]:
# converter tipo para inteiros e data
df["Nº DA PLANILHA"] = pd.to_numeric(df["Nº DA PLANILHA"], errors='coerce')
df["Data"] = pd.to_datetime(df["Data"])

In [300]:
df.dtypes

Nº DA PLANILHA           float64
Qtd_carac                  int64
Qtd_tabela                 int64
Qtd_image                  int64
Data              datetime64[ns]
dtype: object

In [321]:
#Convertendo arquivo excel em dataframe

excelDir ="/Users/wpessoa/repositorios/Fluxo_Editorial/dados/"
excelFile_2019 = pd.read_excel(excelDir+'Exercicio_estimativa_de_paginas_2019_2020.xlsx',"EXECUTADO 2019")
excelFile_2020 = pd.read_excel(excelDir+'Exercicio_estimativa_de_paginas_2019_2020.xlsx',"EXECUTADO 2020")

In [322]:
len(excelFile_2020.columns)

26

In [323]:
len(excelFile_2019.columns)

26

In [324]:
###################################################
# FAZER MERGE COM excelFile_2020 & excelFile_2019
##################################################

In [325]:
frames = [excelFile_2019, excelFile_2020]
excelFile2 = pd.concat(frames)

In [327]:
# reindexar o index devido ter deletado algumas linhas
excelFile2.reset_index(drop=True, inplace=True)

In [328]:
# selecionando apenas colunas necessárias
colunas=['ENTIDADE','PUBLICAÇÃO','Nº de páginas WORD','Nº de páginas estimado', 'COMPLEXIDADE','FORNECEDOR','Nº DA PLANILHA','STATUS DE PGTO','Nº de páginas finais']
excelFile2 = excelFile2[colunas]

In [329]:
excelFile2.columns

Index(['ENTIDADE', 'PUBLICAÇÃO', 'Nº de páginas WORD',
       'Nº de páginas estimado', 'COMPLEXIDADE', 'FORNECEDOR',
       'Nº DA PLANILHA', 'STATUS DE PGTO', 'Nº de páginas finais'],
      dtype='object')

In [330]:
excelFile2.dtypes

ENTIDADE                   object
PUBLICAÇÃO                 object
Nº de páginas WORD         object
Nº de páginas estimado    float64
COMPLEXIDADE               object
FORNECEDOR                 object
Nº DA PLANILHA             object
STATUS DE PGTO             object
Nº de páginas finais      float64
dtype: object

In [331]:
excelFile2.dtypes

ENTIDADE                   object
PUBLICAÇÃO                 object
Nº de páginas WORD         object
Nº de páginas estimado    float64
COMPLEXIDADE               object
FORNECEDOR                 object
Nº DA PLANILHA             object
STATUS DE PGTO             object
Nº de páginas finais      float64
dtype: object

In [332]:
#excelFile2.set_index('Nº DA PLANILHA',inplace=True)

In [333]:
excelFile2

,ENTIDADE,PUBLICAÇÃO,Nº de páginas WORD,Nº de páginas estimado,COMPLEXIDADE,FORNECEDOR,Nº DA PLANILHA,STATUS DE PGTO,Nº de páginas finais
0,CNI,Reuso CE,87,140.0,Alta,Editorar,224323,Pago,140.0
1,CNI,Reuso PE,82,122.0,Alta,Editorar,224325,Pago,122.0
2,CNI,Processo De Internalização Dos Atos Internacio...,41,70.0,Média,Editorar,225392,Pago,52.0
3,CNI,Manual de orientações da ouvidoria do Sesi e d...,30,45.0,Baixa,Editorar,225507,Pago,32.0
4,CNI,Guia de Propriedade Intelectual para o Jornalista,36,48.0,Baixa,Editorar,225531,Pago,48.0
...,...,...,...,...,...,...,...,...,...
118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,NaN,NaN,GERAL,NaN,NaN,GERAL,NaN,NaN,NaN
121,NaN,NaN,EDITORAR,NaN,NaN,EDITORAR,NaN,NaN,NaN
122,NaN,NaN,ICOMUNICAÇÃO,NaN,NaN,ICOMUNICAÇÃO,NaN,NaN,NaN

In [334]:
# verifiacando valores nulos
excelFile2.isnull().sum()

ENTIDADE                  12
PUBLICAÇÃO                12
Nº de páginas WORD         6
Nº de páginas estimado    12
COMPLEXIDADE              12
FORNECEDOR                 6
Nº DA PLANILHA            13
STATUS DE PGTO            12
Nº de páginas finais      12
dtype: int64

In [335]:
# retirar registro nulos
excelFile2=excelFile2.dropna()

In [336]:
# verifiacando valores nulos
excelFile2.isnull().sum()

ENTIDADE                  0
PUBLICAÇÃO                0
Nº de páginas WORD        0
Nº de páginas estimado    0
COMPLEXIDADE              0
FORNECEDOR                0
Nº DA PLANILHA            0
STATUS DE PGTO            0
Nº de páginas finais      0
dtype: int64

In [337]:
excelFile2.dtypes

ENTIDADE                   object
PUBLICAÇÃO                 object
Nº de páginas WORD         object
Nº de páginas estimado    float64
COMPLEXIDADE               object
FORNECEDOR                 object
Nº DA PLANILHA             object
STATUS DE PGTO             object
Nº de páginas finais      float64
dtype: object

In [338]:
import numpy as np
excelFile2["Nº DA PLANILHA"] = (pd.to_numeric(excelFile2["Nº DA PLANILHA"], errors='coerce').fillna(0).astype(np.int64))#,downcast='integer'))
#excelFile2["Nº DA PLANILHA"] = excelFile2["Nº DA PLANILHA"].astype('int64',errors='ignore')

<ipython-input-338-8fdfc85dce57>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  excelFile2["Nº DA PLANILHA"] = (pd.to_numeric(excelFile2["Nº DA PLANILHA"], errors='coerce').fillna(0).astype(np.int64))#,downcast='integer'))

In [340]:
excelFile2.dtypes

ENTIDADE                   object
PUBLICAÇÃO                 object
Nº de páginas WORD         object
Nº de páginas estimado    float64
COMPLEXIDADE               object
FORNECEDOR                 object
Nº DA PLANILHA              int64
STATUS DE PGTO             object
Nº de páginas finais      float64
dtype: object

In [341]:
df.dtypes

Nº DA PLANILHA           float64
Qtd_carac                  int64
Qtd_tabela                 int64
Qtd_image                  int64
Data              datetime64[ns]
dtype: object

In [342]:
excelFile2

,ENTIDADE,PUBLICAÇÃO,Nº de páginas WORD,Nº de páginas estimado,COMPLEXIDADE,FORNECEDOR,Nº DA PLANILHA,STATUS DE PGTO,Nº de páginas finais
0,CNI,Reuso CE,87,140.0,Alta,Editorar,224323,Pago,140.0
1,CNI,Reuso PE,82,122.0,Alta,Editorar,224325,Pago,122.0
2,CNI,Processo De Internalização Dos Atos Internacio...,41,70.0,Média,Editorar,225392,Pago,52.0
3,CNI,Manual de orientações da ouvidoria do Sesi e d...,30,45.0,Baixa,Editorar,225507,Pago,32.0
4,CNI,Guia de Propriedade Intelectual para o Jornalista,36,48.0,Baixa,Editorar,225531,Pago,48.0
...,...,...,...,...,...,...,...,...,...
112,CNI,Acordo para evitar a dupla tributação entre Br...,24,48.0,Baixa,Editorar,235502,Pago,36.0
113,CNI,Compatibilidade da cláusula de arbitragem com ...,20,48.0,Baixa,Editorar,235509,Pago,36.0
114,CNI,Modelos Aduaneiros Globais,59,90.0,Alta,Editorar,235519,Pago,78.0
115,CNI,A agenda ambiental e de químicos da OCDE e o B...,48,75.0,Alta,Editorar,235512,Pago,66.0
116,SESI,Relatório de Atividades 2019 - SESI / SENAI / ...,100,120.0,Alta,Icomunicação,233900,Pago,82.0

In [343]:
df

    Nº DA PLANILHA  Qtd_carac  Qtd_tabela  Qtd_image       Data
0         228354.0     131735          14         10 2019-02-27
1         235502.0      32209          21         17 2020-05-27
2         232098.0     417588          26         20 2019-09-16
3         225392.0      42460          28         24 2018-11-07
4         228307.0      46689          40         73 2019-02-26
..             ...        ...         ...        ...        ...
88        233889.0      15598         366        323 2020-02-05
89        235320.0     105295         368        330 2020-05-21
90        233887.0      49223         373        335 2020-02-05
91        235495.0      33684         383        348 2020-05-25
92        233906.0     120816         386        417 2020-03-09

[93 rows x 5 columns]

In [344]:
# unir arquivo do NGE com o método de leitura dos arquivos Word
#
# Atenção >>>>>>>> alguns arquivos não passaram pelo método de leitura dos arquivos word e irão gerar valores NAN
#
df_final = pd.merge(excelFile2, df, on=['Nº DA PLANILHA'], how='left')

In [345]:
# colocando ordem das colunas adequada
excelFile2.columns
colunas_final = ['Nº DA PLANILHA','ENTIDADE',  'FORNECEDOR','COMPLEXIDADE', 'STATUS DE PGTO',  'Nº de páginas WORD', 'Qtd_carac','Qtd_tabela', 'Qtd_image','Nº de páginas finais' ]

df_final = df_final[colunas_final]

In [346]:
# -----> verificar valores NAN 
df_final.isnull().sum()
# OS REGISTROS COM NAN NESSE CASO FORAM OS ARQUIVOS WORD QUE NÃO FOI ENCONTRADO.

Nº DA PLANILHA           0
ENTIDADE                 0
FORNECEDOR               0
COMPLEXIDADE             0
STATUS DE PGTO           0
Nº de páginas WORD       0
Qtd_carac               20
Qtd_tabela              20
Qtd_image               20
Nº de páginas finais     0
dtype: int64

In [347]:
# retirar registro nulos
df_final=df_final.dropna()
# APAGOU AS LINHAS COM NAN

In [348]:
# -----> verificar valores NAN 
df_final.isnull().sum()

Nº DA PLANILHA          0
ENTIDADE                0
FORNECEDOR              0
COMPLEXIDADE            0
STATUS DE PGTO          0
Nº de páginas WORD      0
Qtd_carac               0
Qtd_tabela              0
Qtd_image               0
Nº de páginas finais    0
dtype: int64

In [349]:
df_final

,Nº DA PLANILHA,ENTIDADE,FORNECEDOR,COMPLEXIDADE,STATUS DE PGTO,Nº de páginas WORD,Qtd_carac,Qtd_tabela,Qtd_image,Nº de páginas finais
0,224323,CNI,Editorar,Alta,Pago,87,124996.0,470.0,685.0,140.0
1,224325,CNI,Editorar,Alta,Pago,82,116747.0,76.0,94.0,122.0
2,225392,CNI,Editorar,Média,Pago,41,42460.0,28.0,24.0,52.0
3,225392,CNI,Editorar,Média,Pago,41,64070.0,397.0,639.0,52.0
5,225531,CNI,Editorar,Baixa,Pago,36,39371.0,233.0,397.0,48.0
...,...,...,...,...,...,...,...,...,...,...
107,235502,CNI,Editorar,Baixa,Pago,24,32209.0,21.0,17.0,36.0
108,235502,CNI,Editorar,Baixa,Pago,24,32209.0,7.0,8.0,36.0
110,235519,CNI,Editorar,Alta,Pago,59,125372.0,363.0,323.0,78.0
111,235512,CNI,Editorar,Alta,Pago,48,83759.0,115.0,205.0,66.0
112,233900,SESI,Icomunicação,Alta,Pago,100,75298.0,132.0,224.0,82.0

In [350]:
# reindexar o index devido ter deletado algumas linhas
df_final.reset_index(drop=True, inplace=True)

In [274]:
#colunas_final = ['Nº DA PLANILHA','ENTIDADE', 'PUBLICAÇÃO', 'FORNECEDOR','COMPLEXIDADE', 'STATUS DE PGTO', 'Data', 'Nº de páginas WORD', 'Nº de páginas estimado', 'Qtd_carac','Qtd_tabela', 'Qtd_image','Nº de páginas finais' ]
#df_final_num = df_final[colunas_final]

In [351]:
df_final.dtypes

Nº DA PLANILHA            int64
ENTIDADE                 object
FORNECEDOR               object
COMPLEXIDADE             object
STATUS DE PGTO           object
Nº de páginas WORD       object
Qtd_carac               float64
Qtd_tabela              float64
Qtd_image               float64
Nº de páginas finais    float64
dtype: object

In [352]:
df_final.head()

,Nº DA PLANILHA,ENTIDADE,FORNECEDOR,COMPLEXIDADE,STATUS DE PGTO,Nº de páginas WORD,Qtd_carac,Qtd_tabela,Qtd_image,Nº de páginas finais
0,224323,CNI,Editorar,Alta,Pago,87,124996.0,470.0,685.0,140.0
1,224325,CNI,Editorar,Alta,Pago,82,116747.0,76.0,94.0,122.0
2,225392,CNI,Editorar,Média,Pago,41,42460.0,28.0,24.0,52.0
3,225392,CNI,Editorar,Média,Pago,41,64070.0,397.0,639.0,52.0
4,225531,CNI,Editorar,Baixa,Pago,36,39371.0,233.0,397.0,48.0

In [353]:
# alterar campos typo string para categóricos 
df_final['ENTIDADE'] = df_final['ENTIDADE'].astype('category')
df_final['COMPLEXIDADE'] = df_final['COMPLEXIDADE'].astype('category')
df_final['FORNECEDOR'] = df_final['FORNECEDOR'].astype('category')
df_final['STATUS DE PGTO'] = df_final['STATUS DE PGTO'].astype('category')

In [354]:
# SOBRE O AVISO: A value is trying to be set on a copy of a slice from a dataframe
# https://paulovasconcellos.com.br/o-que-%C3%A9-a-value-is-trying-to-be-set-on-a-copy-of-a-slice-from-a-dataframe-e85f744d8be1

In [355]:
# alterar campos typo categóricos para numérico
# aplicando .cat.codes em cada uma dessas colunas
df_final['ENTIDADE'] = df_final['ENTIDADE'].cat.codes
df_final['COMPLEXIDADE'] = df_final['COMPLEXIDADE'].cat.codes
df_final['FORNECEDOR'] = df_final['FORNECEDOR'].cat.codes
df_final['STATUS DE PGTO'] = df_final['STATUS DE PGTO'].cat.codes

In [356]:
df_final.dtypes

Nº DA PLANILHA            int64
ENTIDADE                   int8
FORNECEDOR                 int8
COMPLEXIDADE               int8
STATUS DE PGTO             int8
Nº de páginas WORD       object
Qtd_carac               float64
Qtd_tabela              float64
Qtd_image               float64
Nº de páginas finais    float64
dtype: object

In [357]:
df_final.head()

,Nº DA PLANILHA,ENTIDADE,FORNECEDOR,COMPLEXIDADE,STATUS DE PGTO,Nº de páginas WORD,Qtd_carac,Qtd_tabela,Qtd_image,Nº de páginas finais
0,224323,0,0,1,0,87,124996.0,470.0,685.0,140.0
1,224325,0,0,1,0,82,116747.0,76.0,94.0,122.0
2,225392,0,0,3,0,41,42460.0,28.0,24.0,52.0
3,225392,0,0,3,0,41,64070.0,397.0,639.0,52.0
4,225531,0,0,2,0,36,39371.0,233.0,397.0,48.0

In [358]:
df_final.columns

Index(['Nº DA PLANILHA', 'ENTIDADE', 'FORNECEDOR', 'COMPLEXIDADE',
       'STATUS DE PGTO', 'Nº de páginas WORD', 'Qtd_carac', 'Qtd_tabela',
       'Qtd_image', 'Nº de páginas finais'],
      dtype='object')

In [359]:
# trocar type float por int
#df_final['Nº DA PLANILHA'] = df_final['Nº DA PLANILHA'].astype('int')
#df_final['Nº DA PLANILHA'] = df_final['Nº DA PLANILHA'].astype('int')

In [360]:
# inserir zeros no lugar do valor NAN
#df_final['Qtd_carac']= df_final['Qtd_carac'].fillna(0)
#df_final['Qtd_tabela'] = df_final['Qtd_tabela'].fillna(0)
#df_final['Qtd_image'] = df_final['Qtd_image'].fillna(0)

In [361]:
# trocar type float por int
#df_final['Nº de páginas estimado'] = df_final['Nº de páginas estimado'].astype('int')
df_final['Qtd_carac'] = df_final['Qtd_carac'].astype('int')
df_final['Qtd_tabela'] = df_final['Qtd_tabela'].astype('int')
df_final['Qtd_image'] = df_final['Qtd_image'].astype('int')
df_final['Nº de páginas finais'] = df_final['Nº de páginas finais'].astype('int')

In [362]:
df_final.columns

Index(['Nº DA PLANILHA', 'ENTIDADE', 'FORNECEDOR', 'COMPLEXIDADE',
       'STATUS DE PGTO', 'Nº de páginas WORD', 'Qtd_carac', 'Qtd_tabela',
       'Qtd_image', 'Nº de páginas finais'],
      dtype='object')

In [363]:
#renomear colunas
df_final.rename(columns={'Nº DA PLANILHA': 'id','ENTIDADE':"entidade",'FORNECEDOR':"fornecedor", 'COMPLEXIDADE':"complexidade",
                         'STATUS DE PGTO':"stat_pagto",'Nº de páginas WORD':"qtd_pag_word", 
                         'Qtd_carac':"qtd_carc",
       'Qtd_tabela':"qtd_tabela", 'Qtd_image': "qtd_image", 'Nº de páginas finais':"pag_final"} , inplace = True)

In [364]:
# gerar arquivo csv para arquivo tratado

df_final.to_csv("nge_dados_input.csv",index=False )

#data = pd.read_csv("nge_dados_input.csv")
#df_final.to_csv(index=False)
#df_final.to_csv("nge_dados_input.csv", data = imprimir_ano)