In [141]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

#Importando o modelo machine learnig
from sklearn.linear_model import LinearRegression
from sklearn import metrics
import pickle

In [142]:
# importar csv da base de jobs sem nota fiscal ou seja sem o valor final de páginas confirmado

data_semNF = pd.read_csv("nge_dados_input_semNF.csv")

In [144]:
data_semNF.head()

,id,entidade,fornecedor,complexidade,stat_pagto,qtd_pag_word,qtd_pag_estimado,qtd_pg_word,qtd_carc,qtd_tabela,qtd_image,qtd_estilos,tamanho_livro
0,235832,0,0,1,0,34,48,34,70983,288,211,16.0,0
1,235876,0,0,1,0,30,48,30,23238,133,107,29.0,1
2,235878,0,0,0,0,68,98,67,87223,275,156,127.0,1
3,235880,0,0,1,0,26,48,26,17783,3,2,23.0,0
4,235881,0,0,1,0,23,46,23,14560,260,142,28.0,1

In [145]:
#
# normalizar a quantidade de caracteres
#
data_semNF.loc[:,'qtd_carc_normal'] = pd.Series((data_semNF.qtd_carc-data_semNF.qtd_carc.min())/(data_semNF.qtd_carc.max()-data_semNF.qtd_carc.min()))

In [146]:
data_semNF.count()

id                  17
entidade            17
fornecedor          17
complexidade        17
stat_pagto          17
qtd_pag_word        17
qtd_pag_estimado    17
qtd_pg_word         17
qtd_carc            17
qtd_tabela          17
qtd_image           17
qtd_estilos         17
tamanho_livro       17
qtd_carc_normal     17
dtype: int64

In [147]:
#colunas_X= ['id','qtd_pag_word', 'qtd_pag_estimado', 'qtd_carc','qtd_tabela','qtd_image']
# walner # colunas_X= ['id','entidade','complexidade', 'qtd_pag_estimado', 'qtd_pag_word', 'qtd_carc','qtd_tabela','qtd_image',"qtd_estilos",'qtd_carc_normal']

#colunas_y=['id',  'pag_final']

# walner # X = data_semNF[colunas_X]

In [148]:
# método train_test_split, Scikit-Learn 
# walner # X_train, X_test = train_test_split(X,  test_size=0.10,random_state=1) # feito com 0,10 e agora com 0,20

In [149]:
# walner # X_train.columns

In [150]:
# mantendo algumas features para compara resultados no final no arquivo X_train_ref
# walner # X_test_ref = X_test
# walner # X_train_ref= X_train

#X_test = X_test_ref[['qtd_pag_word', 'qtd_carc','qtd_tabela','qtd_image']]
#X_test = X_test_ref[['complexidade', 'qtd_pag_word', 'qtd_carc','qtd_tabela','qtd_image','qtd_carc_normal']]
# walner # X_test = X_test_ref[['complexidade','entidade','qtd_pag_word', 'qtd_tabela','qtd_image', 'qtd_carc_normal']]
#X_train = X_train_ref[['qtd_pag_word', 'qtd_carc','qtd_tabela','qtd_image']]
#X_train = X_train_ref[['complexidade', 'qtd_pag_word', 'qtd_carc','qtd_tabela','qtd_image','qtd_carc_normal']]
# walner # X_train = X_train_ref[['complexidade','entidade','qtd_pag_word', 'qtd_tabela','qtd_image', 'qtd_carc_normal']]

In [151]:
# USANDO ARQUIVO TREINADO MODELO REGRESSÃO LINEAR
 
# load the model from disk
#filename ='finalized_model-linreg.sav'
filename ='finalized_model-linreg2.sav'

#filename ='finalized_model-forest3a.sav'
# filename = 'finalized_model-2.sav'
#filename = 'finalized_model-log.sav'

#filename = 'finalized_model-forest3a.sav'
loaded_model_f = pickle.load(open(filename, 'rb'))



#result = loaded_model.score(X_test, Y_test)
#print(result)

In [152]:
#data_semNF = pd.read_csv("nge_dados_input_semNF.csv")
#data_semNF = data_semNF[['id', 'entidade', 'fornecedor', 'complexidade', 'stat_pagto',
#        'qtd_carc', 'qtd_tabela','qtd_image', 'qtd_estilos','qtd_pag_word','qtd_pag_estimado']]

In [153]:
data_semNF.head()

,id,entidade,fornecedor,complexidade,stat_pagto,qtd_pag_word,qtd_pag_estimado,qtd_pg_word,qtd_carc,qtd_tabela,qtd_image,qtd_estilos,tamanho_livro,qtd_carc_normal
0,235832,0,0,1,0,34,48,34,70983,288,211,16.0,0,0.090455
1,235876,0,0,1,0,30,48,30,23238,133,107,29.0,1,0.016805
2,235878,0,0,0,0,68,98,67,87223,275,156,127.0,1,0.115507
3,235880,0,0,1,0,26,48,26,17783,3,2,23.0,0,0.008390
4,235881,0,0,1,0,23,46,23,14560,260,142,28.0,1,0.003418

In [154]:
data_semNF.columns

Index(['id', 'entidade', 'fornecedor', 'complexidade', 'stat_pagto',
       'qtd_pag_word', 'qtd_pag_estimado', 'qtd_pg_word', 'qtd_carc',
       'qtd_tabela', 'qtd_image', 'qtd_estilos', 'tamanho_livro',
       'qtd_carc_normal'],
      dtype='object')

In [155]:
#
# normalizar a quantidade de caracteres
#
# data_semNF.loc[:,'qtd_carc_normal'] = pd.Series((data.qtd_carc-data.qtd_carc.min())/(data.qtd_carc.max()-data.qtd_carc.min()))

In [156]:
#colunas_X= ['qtd_pag_word', 'qtd_tabela','qtd_image']
#colunas_X= ['qtd_pag_word', 'qtd_carc','qtd_tabela','qtd_image']
#colunas_X= ['qtd_pag_word', 'qtd_tabela','qtd_image','qtd_carc_normal']
#colunas_X= ['qtd_pag_word', 'qtd_tabela','qtd_image',"qtd_estilos", 'qtd_carc_normal']
#colunas_X= ['complexidade','entidade','qtd_pag_word', 'qtd_tabela','qtd_image', 'qtd_carc'] # FOREST

#colunas_X= ['qtd_pag_word', 'qtd_tabela','qtd_image',"qtd_estilos", 'qtd_carc_normal'] # REG LOG

#colunas_X= ['qtd_pag_word', 'qtd_tabela','qtd_image','qtd_carc_normal'] # REG LINEAR
#colunas_X= ['qtd_pag_word', 'qtd_tabela','qtd_image',"qtd_estilos", 'qtd_carc_normal'] # REG LINEAR 2
colunas_X= [ 'qtd_pag_word','qtd_pg_word','qtd_tabela','qtd_image',"qtd_estilos", 'qtd_carc_normal','tamanho_livro']# REG LINEAR 2

#colunas_X= ['qtd_pag_word', 'qtd_pg_word','qtd_tabela','qtd_image','qtd_carc']# FORST


#colunas_X= ['qtd_pag_word', 'qtd_tabela','qtd_image',"qtd_estilos", 'qtd_carc_normal'] #REG LOGISTICA




X_semNF= data_semNF[colunas_X]

In [157]:
X_semNF

,qtd_pag_word,qtd_pg_word,qtd_tabela,qtd_image,qtd_estilos,qtd_carc_normal,tamanho_livro
0,34,34,288,211,16.0,0.090455,0
1,30,30,133,107,29.0,0.016805,1
2,68,67,275,156,127.0,0.115507,1
3,26,26,3,2,23.0,0.008390,0
4,23,23,260,142,28.0,0.003418,1
5,22,22,277,158,29.0,0.003085,1
6,20,20,258,140,25.0,0.000000,1
7,142,142,154,130,26.0,0.362292,1
8,75,75,126,94,54.0,0.131568,1
9,38,38,131,98,21.0,0.097482,1
10,48,48,262,144,16.0,0.093295,0
11,45,45,286,207,15.0,0.092970,1
12,81,11,12,65,15.0,0.233122,0
13,424,424,107,75,27.0,1.000000,2
14,373,374,256,138,21.0,0.886372,2
15,29,29,279,160,20.0,0.016100,1
16,24,24,293,216,19.0,0.032081,0

In [158]:
X_semNF.dtypes

qtd_pag_word         int64
qtd_pg_word          int64
qtd_tabela           int64
qtd_image            int64
qtd_estilos        float64
qtd_carc_normal    float64
tamanho_livro        int64
dtype: object

In [159]:
print(X_semNF.shape)

(17, 7)

In [160]:
#Fazendo predições no conjunto de teste
y_pred_semNF = loaded_model_f.predict(X_semNF)

In [161]:
print(y_pred_semNF)

[[ 50.76001168]
 [ 41.28758668]
 [ 76.95019425]
 [ 33.51147824]
 [ 33.72714354]
 [ 32.87472253]
 [ 31.40064378]
 [170.57515509]
 [ 88.10879654]
 [ 60.39934373]
 [ 60.25129383]
 [ 63.19934598]
 [124.74841466]
 [462.02176269]
 [409.49444863]
 [ 39.87985588]
 [ 34.37221111]]

In [162]:
y_pred_semNF.shape

(17, 1)

In [163]:
print(data_semNF["qtd_pag_estimado"])

0      48
1      48
2      98
3      48
4      46
5      46
6      46
7     198
8     110
9      68
10     75
11     70
12    114
13    460
14    420
15     48
16     48
Name: qtd_pag_estimado, dtype: int64

In [164]:
#y_pred_semNF = pd.Series(y_pred_semNF,name=["qtd_pag_inferido"])

resultado_comparativo =  pd.concat([data_semNF["qtd_pag_word"], data_semNF["qtd_pag_estimado"], pd.Series(y_pred_semNF.T[0])], axis=1) # REG LINEAR
#resultado_comparativo =  pd.concat([data_semNF["qtd_pag_word"], data_semNF["qtd_pag_estimado"], pd.Series(y_pred_semNF)], axis=1) # REG LOGISTICA

In [165]:
data_semNF_final =  pd.concat([data_semNF, pd.Series(y_pred_semNF.T[0])], axis=1) # REG LINEAR
#data_semNF_final =  pd.concat([data_semNF, pd.Series(y_pred_semNF)], axis=1) # REG LOGISTICA

In [166]:
data_semNF_final.rename(columns={0: 'QTD_PAG_INFERIDO'}, inplace = True)

In [167]:
data_semNF_final.head()

,id,entidade,fornecedor,complexidade,stat_pagto,qtd_pag_word,qtd_pag_estimado,qtd_pg_word,qtd_carc,qtd_tabela,qtd_image,qtd_estilos,tamanho_livro,qtd_carc_normal,QTD_PAG_INFERIDO
0,235832,0,0,1,0,34,48,34,70983,288,211,16.0,0,0.090455,50.760012
1,235876,0,0,1,0,30,48,30,23238,133,107,29.0,1,0.016805,41.287587
2,235878,0,0,0,0,68,98,67,87223,275,156,127.0,1,0.115507,76.950194
3,235880,0,0,1,0,26,48,26,17783,3,2,23.0,0,0.008390,33.511478
4,235881,0,0,1,0,23,46,23,14560,260,142,28.0,1,0.003418,33.727144

In [168]:
resultado_comparativo

    qtd_pag_word  qtd_pag_estimado           0
0             34                48   50.760012
1             30                48   41.287587
2             68                98   76.950194
3             26                48   33.511478
4             23                46   33.727144
5             22                46   32.874723
6             20                46   31.400644
7            142               198  170.575155
8             75               110   88.108797
9             38                68   60.399344
10            48                75   60.251294
11            45                70   63.199346
12            81               114  124.748415
13           424               460  462.021763
14           373               420  409.494449
15            29                48   39.879856
16            24                48   34.372211

In [169]:
data_semNF_final.to_excel("resultado_inferência_NGE-reg_linear_novo_LINEAR_2.xlsx",sheet_name='Inferencia por IA')