In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

#Importando o modelo machine learnig
from sklearn.linear_model import LinearRegression
from sklearn import metrics
import pickle

In [2]:
# importar csv
data_semNF = pd.read_csv("nge_dados_input_semNF.csv")

In [3]:
data_semNF.head()

,id,entidade,fornecedor,complexidade,stat_pagto,qtd_pag_word,qtd_pag_estimado,qtd_carc,qtd_tabela,qtd_image,qtd_estilos
0,235832,0,0,1,0,34,48,70983,288,211,16.0
1,235876,0,0,1,0,30,48,23238,133,107,29.0
2,235878,0,0,0,0,68,98,87223,275,156,127.0
3,235880,0,0,1,0,26,48,17783,3,2,23.0
4,235881,0,0,1,0,23,46,14560,260,142,28.0

In [4]:
#
# normalizar a quantidade de caracteres
#
data_semNF.loc[:,'qtd_carc_normal'] = pd.Series((data_semNF.qtd_carc-data_semNF.qtd_carc.min())/(data_semNF.qtd_carc.max()-data_semNF.qtd_carc.min()))

In [5]:
data_semNF.count()

id                  17
entidade            17
fornecedor          17
complexidade        17
stat_pagto          17
qtd_pag_word        17
qtd_pag_estimado    17
qtd_carc            17
qtd_tabela          17
qtd_image           17
qtd_estilos         17
qtd_carc_normal     17
dtype: int64

In [6]:
#colunas_X= ['id','qtd_pag_word', 'qtd_pag_estimado', 'qtd_carc','qtd_tabela','qtd_image']
colunas_X= ['id','complexidade', 'qtd_pag_estimado', 'qtd_pag_word', 'qtd_carc','qtd_tabela','qtd_image',"qtd_estilos",'qtd_carc_normal']

#colunas_y=['id',  'pag_final']

X = data_semNF[colunas_X]

In [7]:
# método train_test_split, Scikit-Learn 
X_train, X_test = train_test_split(X,  test_size=0.10,random_state=1) # feito com 0,10 e agora com 0,20

In [8]:
X_train.columns

Index(['id', 'complexidade', 'qtd_pag_estimado', 'qtd_pag_word', 'qtd_carc',
       'qtd_tabela', 'qtd_image', 'qtd_estilos', 'qtd_carc_normal'],
      dtype='object')

In [9]:
# mantendo algumas features para compara resultados no final no arquivo X_train_ref
X_test_ref = X_test
X_train_ref= X_train

#X_test = X_test_ref[['qtd_pag_word', 'qtd_carc','qtd_tabela','qtd_image']]
X_test = X_test_ref[['complexidade', 'qtd_pag_word', 'qtd_carc','qtd_tabela','qtd_image','qtd_carc_normal']]
#X_train = X_train_ref[['qtd_pag_word', 'qtd_carc','qtd_tabela','qtd_image']]
X_train = X_train_ref[['complexidade', 'qtd_pag_word', 'qtd_carc','qtd_tabela','qtd_image','qtd_carc_normal']]

In [10]:
# USANDO ARQUIVO TREINADO MODELO REGRESSÃO LINEAR
 
# load the model from disk
filename = 'finalized_model-2.sav'
loaded_model = pickle.load(open(filename, 'rb'))
#result = loaded_model.score(X_test, Y_test)
#print(result)

In [11]:
#data_semNF = pd.read_csv("nge_dados_input_semNF.csv")
#data_semNF = data_semNF[['id', 'entidade', 'fornecedor', 'complexidade', 'stat_pagto',
#        'qtd_carc', 'qtd_tabela','qtd_image', 'qtd_estilos','qtd_pag_word','qtd_pag_estimado']]

In [12]:
data_semNF.head()

,id,entidade,fornecedor,complexidade,stat_pagto,qtd_pag_word,qtd_pag_estimado,qtd_carc,qtd_tabela,qtd_image,qtd_estilos,qtd_carc_normal
0,235832,0,0,1,0,34,48,70983,288,211,16.0,0.090455
1,235876,0,0,1,0,30,48,23238,133,107,29.0,0.016805
2,235878,0,0,0,0,68,98,87223,275,156,127.0,0.115507
3,235880,0,0,1,0,26,48,17783,3,2,23.0,0.008390
4,235881,0,0,1,0,23,46,14560,260,142,28.0,0.003418

In [13]:
data_semNF.columns

Index(['id', 'entidade', 'fornecedor', 'complexidade', 'stat_pagto',
       'qtd_pag_word', 'qtd_pag_estimado', 'qtd_carc', 'qtd_tabela',
       'qtd_image', 'qtd_estilos', 'qtd_carc_normal'],
      dtype='object')

In [14]:
#
# normalizar a quantidade de caracteres
#
# data_semNF.loc[:,'qtd_carc_normal'] = pd.Series((data.qtd_carc-data.qtd_carc.min())/(data.qtd_carc.max()-data.qtd_carc.min()))

In [23]:
#colunas_X= ['qtd_pag_word', 'qtd_tabela','qtd_image']
#colunas_X= ['qtd_pag_word', 'qtd_carc','qtd_tabela','qtd_image']
colunas_X= ['qtd_pag_word', 'qtd_tabela','qtd_image','qtd_carc_normal']
X_semNF= data_semNF[colunas_X]

In [24]:
#Fazendo predições no conjunto de teste
y_pred_semNF = loaded_model.predict(X_semNF)

In [25]:
print(y_pred_semNF)

[[ 55.68047633]
 [ 41.75647814]
 [ 84.92967037]
 [ 37.82587535]
 [ 35.75188904]
 [ 34.90542898]
 [ 33.07883435]
 [173.98223949]
 [ 91.53950845]
 [ 59.62657169]
 [ 67.1740747 ]
 [ 64.08833711]
 [109.9056923 ]
 [473.38039539]
 [420.3850634 ]
 [ 41.90099486]
 [ 39.76832213]]

In [26]:
print(data_semNF["qtd_pag_estimado"])

0      48
1      48
2      98
3      48
4      46
5      46
6      46
7     198
8     110
9      68
10     75
11     70
12    114
13    460
14    420
15     48
16     48
Name: qtd_pag_estimado, dtype: int64

In [27]:
#y_pred_semNF = pd.Series(y_pred_semNF,name=["qtd_pag_inferido"])

resultado_comparativo =  pd.concat([data_semNF["qtd_pag_word"], data_semNF["qtd_pag_estimado"], pd.Series(y_pred_semNF.T[0])], axis=1)
data_semNF_final =  pd.concat([data_semNF, pd.Series(y_pred_semNF.T[0])], axis=1)

In [28]:
data_semNF_final.rename(columns={0: 'QTD_PAG_INFERIDO'}, inplace = True)

In [29]:
data_semNF_final.head()

,id,entidade,fornecedor,complexidade,stat_pagto,qtd_pag_word,qtd_pag_estimado,qtd_carc,qtd_tabela,qtd_image,qtd_estilos,qtd_carc_normal,QTD_PAG_INFERIDO
0,235832,0,0,1,0,34,48,70983,288,211,16.0,0.090455,55.680476
1,235876,0,0,1,0,30,48,23238,133,107,29.0,0.016805,41.756478
2,235878,0,0,0,0,68,98,87223,275,156,127.0,0.115507,84.929670
3,235880,0,0,1,0,26,48,17783,3,2,23.0,0.008390,37.825875
4,235881,0,0,1,0,23,46,14560,260,142,28.0,0.003418,35.751889

In [30]:
resultado_comparativo

    qtd_pag_word  qtd_pag_estimado           0
0             34                48   55.680476
1             30                48   41.756478
2             68                98   84.929670
3             26                48   37.825875
4             23                46   35.751889
5             22                46   34.905429
6             20                46   33.078834
7            142               198  173.982239
8             75               110   91.539508
9             38                68   59.626572
10            48                75   67.174075
11            45                70   64.088337
12            81               114  109.905692
13           424               460  473.380395
14           373               420  420.385063
15            29                48   41.900995
16            24                48   39.768322

In [31]:
data_semNF_final.to_excel("resultado_inferência_NGE-2.xlsx",sheet_name='Inferencia por IA')