In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

#Importando o modelo machine learnig
from sklearn.linear_model import LinearRegression
from sklearn import metrics
import pickle

In [2]:
# importar csv
data_semNF = pd.read_csv("nge_dados_input_semNF.csv")

In [3]:
data_semNF.head()

,id,entidade,fornecedor,complexidade,stat_pagto,qtd_pag_word,qtd_pag_estimado,qtd_carc,qtd_tabela,qtd_image,qtd_estilos
0,235832,0,0,1,0,34,48,70983,288,211,16.0
1,235876,0,0,1,0,30,48,23238,133,107,29.0
2,235878,0,0,0,0,68,98,87223,275,156,127.0
3,235880,0,0,1,0,26,48,17783,3,2,23.0
4,235881,0,0,1,0,23,46,14560,260,142,28.0

In [4]:
data_semNF.count()

id                  17
entidade            17
fornecedor          17
complexidade        17
stat_pagto          17
qtd_pag_word        17
qtd_pag_estimado    17
qtd_carc            17
qtd_tabela          17
qtd_image           17
qtd_estilos         17
dtype: int64

In [5]:
colunas_X= ['id','qtd_pag_word', 'qtd_pag_estimado', 'qtd_carc','qtd_tabela','qtd_image']

#colunas_y=['id',  'pag_final']

X = data_semNF[colunas_X]

In [6]:
# método train_test_split, Scikit-Learn 
X_train, X_test = train_test_split(X,  test_size=0.10,random_state=1) # feito com 0,10 e agora com 0,20

In [7]:
# mantendo algumas features para compara resultados no final no arquivo X_train_ref
X_test_ref = X_test
X_train_ref= X_train

X_test = X_test_ref[['qtd_pag_word', 'qtd_carc','qtd_tabela','qtd_image']]
X_train = X_train_ref[['qtd_pag_word', 'qtd_carc','qtd_tabela','qtd_image']]

In [8]:
# USANDO ARQUIVO TREINADO MODELO REGRESSÃO LINEAR
 
# load the model from disk
filename = 'finalized_model.sav'
loaded_model = pickle.load(open(filename, 'rb'))
#result = loaded_model.score(X_test, Y_test)
#print(result)

In [9]:
data_semNF = pd.read_csv("nge_dados_input_semNF.csv")
data_semNF = data_semNF[['id', 'entidade', 'fornecedor', 'complexidade', 'stat_pagto',
        'qtd_carc', 'qtd_tabela','qtd_image', 'qtd_estilos','qtd_pag_word','qtd_pag_estimado']]

In [10]:
data_semNF.head()

,id,entidade,fornecedor,complexidade,stat_pagto,qtd_carc,qtd_tabela,qtd_image,qtd_estilos,qtd_pag_word,qtd_pag_estimado
0,235832,0,0,1,0,70983,288,211,16.0,34,48
1,235876,0,0,1,0,23238,133,107,29.0,30,48
2,235878,0,0,0,0,87223,275,156,127.0,68,98
3,235880,0,0,1,0,17783,3,2,23.0,26,48
4,235881,0,0,1,0,14560,260,142,28.0,23,46

In [11]:
data_semNF.columns

Index(['id', 'entidade', 'fornecedor', 'complexidade', 'stat_pagto',
       'qtd_carc', 'qtd_tabela', 'qtd_image', 'qtd_estilos', 'qtd_pag_word',
       'qtd_pag_estimado'],
      dtype='object')

In [12]:
#
# normalizar a quantidade de caracteres
#
# data_semNF.loc[:,'qtd_carc_normal'] = pd.Series((data.qtd_carc-data.qtd_carc.min())/(data.qtd_carc.max()-data.qtd_carc.min()))

In [13]:
#colunas_X= ['qtd_pag_word', 'qtd_tabela','qtd_image']
colunas_X= ['qtd_pag_word', 'qtd_carc','qtd_tabela','qtd_image']

X_semNF= data_semNF[colunas_X]

In [14]:
#Fazendo predições no conjunto de teste
y_pred_semNF = loaded_model.predict(X_semNF)

In [15]:
print(y_pred_semNF)

[[ 60.61447913]
 [ 45.22751222]
 [ 90.36128783]
 [ 41.12976115]
 [ 38.95701794]
 [ 38.10393936]
 [ 36.21606215]
 [184.3159129 ]
 [ 97.29016309]
 [ 64.7001456 ]
 [ 72.16448812]
 [ 69.07228522]
 [117.67358607]
 [496.38130347]
 [441.12890291]
 [ 45.35802587]
 [ 43.54279698]]

In [16]:
print(data_semNF["qtd_pag_estimado"])

0      48
1      48
2      98
3      48
4      46
5      46
6      46
7     198
8     110
9      68
10     75
11     70
12    114
13    460
14    420
15     48
16     48
Name: qtd_pag_estimado, dtype: int64

In [17]:
#y_pred_semNF = pd.Series(y_pred_semNF,name=["qtd_pag_inferido"])

resultado_comparativo =  pd.concat([data_semNF["qtd_pag_word"], data_semNF["qtd_pag_estimado"], pd.Series(y_pred_semNF.T[0])], axis=1)
data_semNF_final =  pd.concat([data_semNF, pd.Series(y_pred_semNF.T[0])], axis=1)

In [18]:
data_semNF_final.rename(columns={0: 'QTD_PAG_INFERIDO'}, inplace = True)

In [19]:
data_semNF_final.head()

,id,entidade,fornecedor,complexidade,stat_pagto,qtd_carc,qtd_tabela,qtd_image,qtd_estilos,qtd_pag_word,qtd_pag_estimado,QTD_PAG_INFERIDO
0,235832,0,0,1,0,70983,288,211,16.0,34,48,60.614479
1,235876,0,0,1,0,23238,133,107,29.0,30,48,45.227512
2,235878,0,0,0,0,87223,275,156,127.0,68,98,90.361288
3,235880,0,0,1,0,17783,3,2,23.0,26,48,41.129761
4,235881,0,0,1,0,14560,260,142,28.0,23,46,38.957018

In [20]:
resultado_comparativo

    qtd_pag_word  qtd_pag_estimado           0
0             34                48   60.614479
1             30                48   45.227512
2             68                98   90.361288
3             26                48   41.129761
4             23                46   38.957018
5             22                46   38.103939
6             20                46   36.216062
7            142               198  184.315913
8             75               110   97.290163
9             38                68   64.700146
10            48                75   72.164488
11            45                70   69.072285
12            81               114  117.673586
13           424               460  496.381303
14           373               420  441.128903
15            29                48   45.358026
16            24                48   43.542797

In [21]:
data_semNF_final.to_excel("resultado_inferência_NGE.xlsx",sheet_name='Inferencia por IA')