In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

#Importando o modelo machine learnig
from sklearn.linear_model import LinearRegression
from sklearn import metrics
import pickle

In [2]:
# importar csv da base de jobs sem nota fiscal ou seja sem o valor final de páginas confirmado

data_semNF = pd.read_csv("nge_dados_input_semNF.csv")

In [3]:
data_semNF.head()

,id,entidade,fornecedor,complexidade,stat_pagto,qtd_pag_word,qtd_pag_estimado,qtd_pg_word,qtd_carc,qtd_tabela,qtd_image,qtd_estilos,tamanho_livro
0,235806,0,0,0,0,64,90,64,82304,317,157,25,1
1,235832,0,0,1,0,34,48,34,70983,372,232,16,0
2,235874,0,0,1,0,44,48,44,69155,296,148,27,1
3,235876,0,0,1,0,30,48,30,23238,154,109,29,1
4,235878,0,0,0,0,68,98,67,87223,336,175,127,1

In [4]:
#
# normalizar a quantidade de caracteres
#
data_semNF.loc[:,'qtd_carc_normal'] = pd.Series((data_semNF.qtd_carc-data_semNF.qtd_carc.min())/(data_semNF.qtd_carc.max()-data_semNF.qtd_carc.min()))

In [5]:
data_semNF.count()

id                  22
entidade            22
fornecedor          22
complexidade        22
stat_pagto          22
qtd_pag_word        22
qtd_pag_estimado    22
qtd_pg_word         22
qtd_carc            22
qtd_tabela          22
qtd_image           22
qtd_estilos         22
tamanho_livro       22
qtd_carc_normal     22
dtype: int64

In [6]:
#colunas_X= ['id','qtd_pag_word', 'qtd_pag_estimado', 'qtd_carc','qtd_tabela','qtd_image']
# walner # colunas_X= ['id','entidade','complexidade', 'qtd_pag_estimado', 'qtd_pag_word', 'qtd_carc','qtd_tabela','qtd_image',"qtd_estilos",'qtd_carc_normal']

#colunas_y=['id',  'pag_final']

# walner # X = data_semNF[colunas_X]

In [7]:
# método train_test_split, Scikit-Learn 
# walner # X_train, X_test = train_test_split(X,  test_size=0.10,random_state=1) # feito com 0,10 e agora com 0,20

In [8]:
# walner # X_train.columns

In [9]:
# mantendo algumas features para compara resultados no final no arquivo X_train_ref
# walner # X_test_ref = X_test
# walner # X_train_ref= X_train

#X_test = X_test_ref[['qtd_pag_word', 'qtd_carc','qtd_tabela','qtd_image']]
#X_test = X_test_ref[['complexidade', 'qtd_pag_word', 'qtd_carc','qtd_tabela','qtd_image','qtd_carc_normal']]
# walner # X_test = X_test_ref[['complexidade','entidade','qtd_pag_word', 'qtd_tabela','qtd_image', 'qtd_carc_normal']]
#X_train = X_train_ref[['qtd_pag_word', 'qtd_carc','qtd_tabela','qtd_image']]
#X_train = X_train_ref[['complexidade', 'qtd_pag_word', 'qtd_carc','qtd_tabela','qtd_image','qtd_carc_normal']]
# walner # X_train = X_train_ref[['complexidade','entidade','qtd_pag_word', 'qtd_tabela','qtd_image', 'qtd_carc_normal']]

In [11]:
# USANDO ARQUIVO TREINADO MODELO REGRESSÃO LINEAR
 
# load the model from disk
#filename ='finalized_model-linreg.sav'
#filename ='finalized_model-linreg2.sav'

filename ='finalized_model-forest4a.sav'
# filename = 'finalized_model-2.sav'
#filename = 'finalized_model-log.sav'

#filename = 'finalized_model-forest3a.sav'
loaded_model_f = pickle.load(open(filename, 'rb'))



#result = loaded_model.score(X_test, Y_test)
#print(result)

In [12]:
#data_semNF = pd.read_csv("nge_dados_input_semNF.csv")
#data_semNF = data_semNF[['id', 'entidade', 'fornecedor', 'complexidade', 'stat_pagto',
#        'qtd_carc', 'qtd_tabela','qtd_image', 'qtd_estilos','qtd_pag_word','qtd_pag_estimado']]

In [13]:
data_semNF.head()

,id,entidade,fornecedor,complexidade,stat_pagto,qtd_pag_word,qtd_pag_estimado,qtd_pg_word,qtd_carc,qtd_tabela,qtd_image,qtd_estilos,tamanho_livro,qtd_carc_normal
0,235806,0,0,0,0,64,90,64,82304,317,157,25,1,0.107919
1,235832,0,0,1,0,34,48,34,70983,372,232,16,0,0.090455
2,235874,0,0,1,0,44,48,44,69155,296,148,27,1,0.087635
3,235876,0,0,1,0,30,48,30,23238,154,109,29,1,0.016805
4,235878,0,0,0,0,68,98,67,87223,336,175,127,1,0.115507

In [14]:
data_semNF.columns

Index(['id', 'entidade', 'fornecedor', 'complexidade', 'stat_pagto',
       'qtd_pag_word', 'qtd_pag_estimado', 'qtd_pg_word', 'qtd_carc',
       'qtd_tabela', 'qtd_image', 'qtd_estilos', 'tamanho_livro',
       'qtd_carc_normal'],
      dtype='object')

In [15]:
#
# normalizar a quantidade de caracteres
#
# data_semNF.loc[:,'qtd_carc_normal'] = pd.Series((data.qtd_carc-data.qtd_carc.min())/(data.qtd_carc.max()-data.qtd_carc.min()))

In [16]:
#colunas_X= ['qtd_pag_word', 'qtd_tabela','qtd_image']
#colunas_X= ['qtd_pag_word', 'qtd_carc','qtd_tabela','qtd_image']
#colunas_X= ['qtd_pag_word', 'qtd_tabela','qtd_image','qtd_carc_normal']
#colunas_X= ['qtd_pag_word', 'qtd_tabela','qtd_image',"qtd_estilos", 'qtd_carc_normal']
#colunas_X= ['complexidade','entidade','qtd_pag_word', 'qtd_tabela','qtd_image', 'qtd_carc'] # FOREST
#colunas_X= ['qtd_pag_word', 'qtd_tabela','qtd_image',"qtd_estilos", 'qtd_carc_normal'] # REG LOG
#colunas_X= ['qtd_pag_word', 'qtd_tabela','qtd_image','qtd_carc_normal'] # REG LINEAR
#colunas_X= ['qtd_pag_word', 'qtd_tabela','qtd_image',"qtd_estilos", 'qtd_carc_normal'] # REG LINEAR 2
#colunas_X= ['qtd_pag_word', 'qtd_pg_word','qtd_tabela','qtd_image','qtd_carc']# FORST
#colunas_X= ['qtd_pag_word', 'qtd_tabela','qtd_image',"qtd_estilos", 'qtd_carc_normal'] #REG LOGISTICA
#colunas_X= [ 'qtd_pag_word','qtd_pg_word','qtd_tabela','qtd_image',"qtd_estilos", 'qtd_carc_normal','tamanho_livro']# REG LINEAR 2

#colunas_X= ['qtd_pag_word', 'qtd_pg_word','qtd_tabela','qtd_image','qtd_carc','tamanho_livro']# FOREST
colunas_X= ['complexidade','entidade','qtd_pag_word', 'qtd_pg_word','qtd_tabela','qtd_image', 'qtd_carc','tamanho_livro']#FEREST




X_semNF= data_semNF[colunas_X]

In [17]:
X_semNF

,complexidade,entidade,qtd_pag_word,qtd_pg_word,qtd_tabela,qtd_image,qtd_carc,tamanho_livro
0,0,0,64,64,317,157,82304,1
1,1,0,34,34,372,232,70983,0
2,1,0,44,44,296,148,69155,1
3,1,0,30,30,154,109,23238,1
4,0,0,68,67,336,175,87223,1
5,1,0,26,26,3,2,17783,0
6,1,0,23,23,321,161,14560,1
7,1,0,22,22,361,179,14344,1
8,1,0,20,20,319,159,12344,1
9,0,0,142,142,175,132,247205,2
10,0,0,75,75,147,96,97635,1
11,0,0,38,38,152,100,75538,1
12,0,0,48,48,323,163,72824,0
13,0,1,45,45,370,228,72613,1
14,0,1,81,11,12,65,163469,0
15,1,1,28,28,359,177,65594,1
16,1,1,30,30,315,150,78414,1
17,0,1,424,424,107,75,660609,2
18,0,1,373,374,277,140,586948,2
19,1,1,30,30,128,77,66895,1
20,1,0,29,29,363,181,22781,1
21,1,1,24,24,377,237,33141,0

In [18]:
X_semNF.dtypes

complexidade     int64
entidade         int64
qtd_pag_word     int64
qtd_pg_word      int64
qtd_tabela       int64
qtd_image        int64
qtd_carc         int64
tamanho_livro    int64
dtype: object

In [19]:
print(X_semNF.shape)

(22, 8)

In [20]:
#Fazendo predições no conjunto de teste
y_pred_semNF = loaded_model_f.predict(X_semNF)

In [21]:
print(y_pred_semNF)

[ 74  40  68  44  86  40  30  30  30 340 110  68  68  68  40  46  46 340
 340  46  44  40]

In [22]:
y_pred_semNF.shape

(22,)

In [23]:
print(data_semNF["qtd_pag_estimado"])

0      90
1      48
2      48
3      48
4      98
5      48
6      46
7      46
8      46
9     198
10    110
11     68
12     75
13     70
14    114
15     48
16     48
17    460
18    420
19     48
20     48
21     48
Name: qtd_pag_estimado, dtype: int64

In [24]:
#y_pred_semNF = pd.Series(y_pred_semNF,name=["qtd_pag_inferido"])

#resultado_comparativo =  pd.concat([data_semNF["qtd_pag_word"], data_semNF["qtd_pag_estimado"], pd.Series(y_pred_semNF.T[0])], axis=1) # REG LINEAR
resultado_comparativo =  pd.concat([data_semNF["qtd_pag_word"], data_semNF["qtd_pag_estimado"], pd.Series(y_pred_semNF)], axis=1) # REG LOGISTICA

In [25]:
#data_semNF_final =  pd.concat([data_semNF, pd.Series(y_pred_semNF.T[0])], axis=1) # REG LINEAR
data_semNF_final =  pd.concat([data_semNF, pd.Series(y_pred_semNF)], axis=1) # REG LOGISTICA

In [26]:
data_semNF_final.rename(columns={0: 'QTD_PAG_INFERIDO'}, inplace = True)

In [27]:
data_semNF_final.head()

,id,entidade,fornecedor,complexidade,stat_pagto,qtd_pag_word,qtd_pag_estimado,qtd_pg_word,qtd_carc,qtd_tabela,qtd_image,qtd_estilos,tamanho_livro,qtd_carc_normal,QTD_PAG_INFERIDO
0,235806,0,0,0,0,64,90,64,82304,317,157,25,1,0.107919,74
1,235832,0,0,1,0,34,48,34,70983,372,232,16,0,0.090455,40
2,235874,0,0,1,0,44,48,44,69155,296,148,27,1,0.087635,68
3,235876,0,0,1,0,30,48,30,23238,154,109,29,1,0.016805,44
4,235878,0,0,0,0,68,98,67,87223,336,175,127,1,0.115507,86

In [28]:
resultado_comparativo

    qtd_pag_word  qtd_pag_estimado    0
0             64                90   74
1             34                48   40
2             44                48   68
3             30                48   44
4             68                98   86
5             26                48   40
6             23                46   30
7             22                46   30
8             20                46   30
9            142               198  340
10            75               110  110
11            38                68   68
12            48                75   68
13            45                70   68
14            81               114   40
15            28                48   46
16            30                48   46
17           424               460  340
18           373               420  340
19            30                48   46
20            29                48   44
21            24                48   40

In [29]:
data_semNF_final.to_excel("resultado_inferência_NGE-reg_linear_novo_FOREST8.xlsx",sheet_name='Inferencia por IA')