In [266]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

#Importando o modelo machine learnig
from sklearn.linear_model import LinearRegression
from sklearn import metrics
import pickle

In [267]:
# importar csv da base de jobs sem nota fiscal ou seja sem o valor final de páginas confirmado

data_semNF = pd.read_csv("nge_dados_input_semNF.csv")

In [268]:
data_semNF.head()

,id,entidade,fornecedor,complexidade,stat_pagto,qtd_pag_word,qtd_pag_estimado,qtd_pg_word,qtd_carc,qtd_tabela,qtd_image,qtd_estilos,tamanho_livro
0,235832,0,0,1,0,34,48,34,70983,288,211,16.0,0
1,235876,0,0,1,0,30,48,30,23238,133,107,29.0,1
2,235878,0,0,0,0,68,98,67,87223,275,156,127.0,1
3,235880,0,0,1,0,26,48,26,17783,3,2,23.0,0
4,235881,0,0,1,0,23,46,23,14560,260,142,28.0,1

In [269]:
#
# normalizar a quantidade de caracteres
#
data_semNF.loc[:,'qtd_carc_normal'] = pd.Series((data_semNF.qtd_carc-data_semNF.qtd_carc.min())/(data_semNF.qtd_carc.max()-data_semNF.qtd_carc.min()))

In [270]:
data_semNF.count()

id                  17
entidade            17
fornecedor          17
complexidade        17
stat_pagto          17
qtd_pag_word        17
qtd_pag_estimado    17
qtd_pg_word         17
qtd_carc            17
qtd_tabela          17
qtd_image           17
qtd_estilos         17
tamanho_livro       17
qtd_carc_normal     17
dtype: int64

In [271]:
#colunas_X= ['id','qtd_pag_word', 'qtd_pag_estimado', 'qtd_carc','qtd_tabela','qtd_image']
# walner # colunas_X= ['id','entidade','complexidade', 'qtd_pag_estimado', 'qtd_pag_word', 'qtd_carc','qtd_tabela','qtd_image',"qtd_estilos",'qtd_carc_normal']

#colunas_y=['id',  'pag_final']

# walner # X = data_semNF[colunas_X]

In [272]:
# método train_test_split, Scikit-Learn 
# walner # X_train, X_test = train_test_split(X,  test_size=0.10,random_state=1) # feito com 0,10 e agora com 0,20

In [273]:
# walner # X_train.columns

In [274]:
# mantendo algumas features para compara resultados no final no arquivo X_train_ref
# walner # X_test_ref = X_test
# walner # X_train_ref= X_train

#X_test = X_test_ref[['qtd_pag_word', 'qtd_carc','qtd_tabela','qtd_image']]
#X_test = X_test_ref[['complexidade', 'qtd_pag_word', 'qtd_carc','qtd_tabela','qtd_image','qtd_carc_normal']]
# walner # X_test = X_test_ref[['complexidade','entidade','qtd_pag_word', 'qtd_tabela','qtd_image', 'qtd_carc_normal']]
#X_train = X_train_ref[['qtd_pag_word', 'qtd_carc','qtd_tabela','qtd_image']]
#X_train = X_train_ref[['complexidade', 'qtd_pag_word', 'qtd_carc','qtd_tabela','qtd_image','qtd_carc_normal']]
# walner # X_train = X_train_ref[['complexidade','entidade','qtd_pag_word', 'qtd_tabela','qtd_image', 'qtd_carc_normal']]

In [275]:
# USANDO ARQUIVO TREINADO MODELO REGRESSÃO LINEAR
 
# load the model from disk
#filename ='finalized_model-linreg.sav'
#filename ='finalized_model-linreg2.sav'

filename ='finalized_model-forest3a.sav'
# filename = 'finalized_model-2.sav'
#filename = 'finalized_model-log.sav'

#filename = 'finalized_model-forest3a.sav'
loaded_model_f = pickle.load(open(filename, 'rb'))



#result = loaded_model.score(X_test, Y_test)
#print(result)

In [276]:
#data_semNF = pd.read_csv("nge_dados_input_semNF.csv")
#data_semNF = data_semNF[['id', 'entidade', 'fornecedor', 'complexidade', 'stat_pagto',
#        'qtd_carc', 'qtd_tabela','qtd_image', 'qtd_estilos','qtd_pag_word','qtd_pag_estimado']]

In [277]:
data_semNF.head()

,id,entidade,fornecedor,complexidade,stat_pagto,qtd_pag_word,qtd_pag_estimado,qtd_pg_word,qtd_carc,qtd_tabela,qtd_image,qtd_estilos,tamanho_livro,qtd_carc_normal
0,235832,0,0,1,0,34,48,34,70983,288,211,16.0,0,0.090455
1,235876,0,0,1,0,30,48,30,23238,133,107,29.0,1,0.016805
2,235878,0,0,0,0,68,98,67,87223,275,156,127.0,1,0.115507
3,235880,0,0,1,0,26,48,26,17783,3,2,23.0,0,0.008390
4,235881,0,0,1,0,23,46,23,14560,260,142,28.0,1,0.003418

In [278]:
data_semNF.columns

Index(['id', 'entidade', 'fornecedor', 'complexidade', 'stat_pagto',
       'qtd_pag_word', 'qtd_pag_estimado', 'qtd_pg_word', 'qtd_carc',
       'qtd_tabela', 'qtd_image', 'qtd_estilos', 'tamanho_livro',
       'qtd_carc_normal'],
      dtype='object')

In [279]:
#
# normalizar a quantidade de caracteres
#
# data_semNF.loc[:,'qtd_carc_normal'] = pd.Series((data.qtd_carc-data.qtd_carc.min())/(data.qtd_carc.max()-data.qtd_carc.min()))

In [280]:
#colunas_X= ['qtd_pag_word', 'qtd_tabela','qtd_image']
#colunas_X= ['qtd_pag_word', 'qtd_carc','qtd_tabela','qtd_image']
#colunas_X= ['qtd_pag_word', 'qtd_tabela','qtd_image','qtd_carc_normal']
#colunas_X= ['qtd_pag_word', 'qtd_tabela','qtd_image',"qtd_estilos", 'qtd_carc_normal']
#colunas_X= ['complexidade','entidade','qtd_pag_word', 'qtd_tabela','qtd_image', 'qtd_carc'] # FOREST
#colunas_X= ['qtd_pag_word', 'qtd_tabela','qtd_image',"qtd_estilos", 'qtd_carc_normal'] # REG LOG
#colunas_X= ['qtd_pag_word', 'qtd_tabela','qtd_image','qtd_carc_normal'] # REG LINEAR
#colunas_X= ['qtd_pag_word', 'qtd_tabela','qtd_image',"qtd_estilos", 'qtd_carc_normal'] # REG LINEAR 2
#colunas_X= ['qtd_pag_word', 'qtd_pg_word','qtd_tabela','qtd_image','qtd_carc']# FORST
#colunas_X= ['qtd_pag_word', 'qtd_tabela','qtd_image',"qtd_estilos", 'qtd_carc_normal'] #REG LOGISTICA
#colunas_X= [ 'qtd_pag_word','qtd_pg_word','qtd_tabela','qtd_image',"qtd_estilos", 'qtd_carc_normal','tamanho_livro']# REG LINEAR 2

#colunas_X= ['qtd_pag_word', 'qtd_pg_word','qtd_tabela','qtd_image','qtd_carc','tamanho_livro']# FOREST
colunas_X= ['complexidade','entidade','qtd_pag_word', 'qtd_pg_word','qtd_tabela','qtd_image', 'qtd_carc','tamanho_livro']#FEREST




X_semNF= data_semNF[colunas_X]

In [281]:
X_semNF

,complexidade,entidade,qtd_pag_word,qtd_pg_word,qtd_tabela,qtd_image,qtd_carc,tamanho_livro
0,1,0,34,34,288,211,70983,0
1,1,0,30,30,133,107,23238,1
2,0,0,68,67,275,156,87223,1
3,1,0,26,26,3,2,17783,0
4,1,0,23,23,260,142,14560,1
5,1,0,22,22,277,158,14344,1
6,1,0,20,20,258,140,12344,1
7,0,0,142,142,154,130,247205,2
8,0,0,75,75,126,94,97635,1
9,0,0,38,38,131,98,75538,1
10,0,0,48,48,262,144,72824,0
11,0,1,45,45,286,207,72613,1
12,0,1,81,11,12,65,163469,0
13,0,1,424,424,107,75,660609,2
14,0,1,373,374,256,138,586948,2
15,1,0,29,29,279,160,22781,1
16,1,1,24,24,293,216,33141,0

In [282]:
X_semNF.dtypes

complexidade     int64
entidade         int64
qtd_pag_word     int64
qtd_pg_word      int64
qtd_tabela       int64
qtd_image        int64
qtd_carc         int64
tamanho_livro    int64
dtype: object

In [283]:
print(X_semNF.shape)

(17, 8)

In [284]:
#Fazendo predições no conjunto de teste
y_pred_semNF = loaded_model_f.predict(X_semNF)

In [285]:
print(y_pred_semNF)

[ 48  46  86  40  30  30  28 176  86  72  48  68  40 340 340  46  40]

In [286]:
y_pred_semNF.shape

(17,)

In [287]:
print(data_semNF["qtd_pag_estimado"])

0      48
1      48
2      98
3      48
4      46
5      46
6      46
7     198
8     110
9      68
10     75
11     70
12    114
13    460
14    420
15     48
16     48
Name: qtd_pag_estimado, dtype: int64

In [288]:
#y_pred_semNF = pd.Series(y_pred_semNF,name=["qtd_pag_inferido"])

#resultado_comparativo =  pd.concat([data_semNF["qtd_pag_word"], data_semNF["qtd_pag_estimado"], pd.Series(y_pred_semNF.T[0])], axis=1) # REG LINEAR
resultado_comparativo =  pd.concat([data_semNF["qtd_pag_word"], data_semNF["qtd_pag_estimado"], pd.Series(y_pred_semNF)], axis=1) # REG LOGISTICA

In [289]:
#data_semNF_final =  pd.concat([data_semNF, pd.Series(y_pred_semNF.T[0])], axis=1) # REG LINEAR
data_semNF_final =  pd.concat([data_semNF, pd.Series(y_pred_semNF)], axis=1) # REG LOGISTICA

In [290]:
data_semNF_final.rename(columns={0: 'QTD_PAG_INFERIDO'}, inplace = True)

In [291]:
data_semNF_final.head()

,id,entidade,fornecedor,complexidade,stat_pagto,qtd_pag_word,qtd_pag_estimado,qtd_pg_word,qtd_carc,qtd_tabela,qtd_image,qtd_estilos,tamanho_livro,qtd_carc_normal,QTD_PAG_INFERIDO
0,235832,0,0,1,0,34,48,34,70983,288,211,16.0,0,0.090455,48
1,235876,0,0,1,0,30,48,30,23238,133,107,29.0,1,0.016805,46
2,235878,0,0,0,0,68,98,67,87223,275,156,127.0,1,0.115507,86
3,235880,0,0,1,0,26,48,26,17783,3,2,23.0,0,0.008390,40
4,235881,0,0,1,0,23,46,23,14560,260,142,28.0,1,0.003418,30

In [292]:
resultado_comparativo

    qtd_pag_word  qtd_pag_estimado    0
0             34                48   48
1             30                48   46
2             68                98   86
3             26                48   40
4             23                46   30
5             22                46   30
6             20                46   28
7            142               198  176
8             75               110   86
9             38                68   72
10            48                75   48
11            45                70   68
12            81               114   40
13           424               460  340
14           373               420  340
15            29                48   46
16            24                48   40

In [293]:
data_semNF_final.to_excel("resultado_inferência_NGE-reg_linear_novo_FOREST6.xlsx",sheet_name='Inferencia por IA')