In [140]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

#Importando o modelo machine learnig
from sklearn.linear_model import LinearRegression
from sklearn import metrics
import pickle

In [83]:
# importar csv da base de jobs sem nota fiscal ou seja sem o valor final de páginas confirmado

data_semNF = pd.read_csv("nge_dados_input_semNF.csv")

In [84]:
data_semNF.head()

,id,entidade,fornecedor,complexidade,stat_pagto,qtd_pag_word,qtd_pag_estimado,qtd_pg_word,qtd_carc,qtd_tabela,qtd_image,qtd_estilos
0,235832,0,0,1,0,34,48,34,70983,288,211,16.0
1,235876,0,0,1,0,30,48,30,23238,133,107,29.0
2,235878,0,0,0,0,68,98,67,87223,275,156,127.0
3,235880,0,0,1,0,26,48,26,17783,3,2,23.0
4,235881,0,0,1,0,23,46,23,14560,260,142,28.0

In [85]:
#
# normalizar a quantidade de caracteres
#
data_semNF.loc[:,'qtd_carc_normal'] = pd.Series((data_semNF.qtd_carc-data_semNF.qtd_carc.min())/(data_semNF.qtd_carc.max()-data_semNF.qtd_carc.min()))

In [86]:
data_semNF.count()

id                  17
entidade            17
fornecedor          17
complexidade        17
stat_pagto          17
qtd_pag_word        17
qtd_pag_estimado    17
qtd_pg_word         17
qtd_carc            17
qtd_tabela          17
qtd_image           17
qtd_estilos         17
qtd_carc_normal     17
dtype: int64

In [87]:
#colunas_X= ['id','qtd_pag_word', 'qtd_pag_estimado', 'qtd_carc','qtd_tabela','qtd_image']
# walner # colunas_X= ['id','entidade','complexidade', 'qtd_pag_estimado', 'qtd_pag_word', 'qtd_carc','qtd_tabela','qtd_image',"qtd_estilos",'qtd_carc_normal']

#colunas_y=['id',  'pag_final']

# walner # X = data_semNF[colunas_X]

In [88]:
# método train_test_split, Scikit-Learn 
# walner # X_train, X_test = train_test_split(X,  test_size=0.10,random_state=1) # feito com 0,10 e agora com 0,20

In [89]:
# walner # X_train.columns

In [90]:
# mantendo algumas features para compara resultados no final no arquivo X_train_ref
# walner # X_test_ref = X_test
# walner # X_train_ref= X_train

#X_test = X_test_ref[['qtd_pag_word', 'qtd_carc','qtd_tabela','qtd_image']]
#X_test = X_test_ref[['complexidade', 'qtd_pag_word', 'qtd_carc','qtd_tabela','qtd_image','qtd_carc_normal']]
# walner # X_test = X_test_ref[['complexidade','entidade','qtd_pag_word', 'qtd_tabela','qtd_image', 'qtd_carc_normal']]
#X_train = X_train_ref[['qtd_pag_word', 'qtd_carc','qtd_tabela','qtd_image']]
#X_train = X_train_ref[['complexidade', 'qtd_pag_word', 'qtd_carc','qtd_tabela','qtd_image','qtd_carc_normal']]
# walner # X_train = X_train_ref[['complexidade','entidade','qtd_pag_word', 'qtd_tabela','qtd_image', 'qtd_carc_normal']]

In [118]:
# USANDO ARQUIVO TREINADO MODELO REGRESSÃO LINEAR
 
# load the model from disk
#filename ='finalized_model-linreg.sav'
filename ='finalized_model-linreg2.sav'

#filename ='finalized_model-forest3a.sav'
# filename = 'finalized_model-2.sav'
#filename = 'finalized_model-log.sav'

#filename = 'finalized_model-forest3a.sav'
loaded_model_f = pickle.load(open(filename, 'rb'))



#result = loaded_model.score(X_test, Y_test)
#print(result)

In [119]:
#data_semNF = pd.read_csv("nge_dados_input_semNF.csv")
#data_semNF = data_semNF[['id', 'entidade', 'fornecedor', 'complexidade', 'stat_pagto',
#        'qtd_carc', 'qtd_tabela','qtd_image', 'qtd_estilos','qtd_pag_word','qtd_pag_estimado']]

In [120]:
data_semNF.head()

,id,entidade,fornecedor,complexidade,stat_pagto,qtd_pag_word,qtd_pag_estimado,qtd_pg_word,qtd_carc,qtd_tabela,qtd_image,qtd_estilos,qtd_carc_normal
0,235832,0,0,1,0,34,48,34,70983,288,211,16.0,0.090455
1,235876,0,0,1,0,30,48,30,23238,133,107,29.0,0.016805
2,235878,0,0,0,0,68,98,67,87223,275,156,127.0,0.115507
3,235880,0,0,1,0,26,48,26,17783,3,2,23.0,0.008390
4,235881,0,0,1,0,23,46,23,14560,260,142,28.0,0.003418

In [121]:
data_semNF.columns

Index(['id', 'entidade', 'fornecedor', 'complexidade', 'stat_pagto',
       'qtd_pag_word', 'qtd_pag_estimado', 'qtd_pg_word', 'qtd_carc',
       'qtd_tabela', 'qtd_image', 'qtd_estilos', 'qtd_carc_normal'],
      dtype='object')

In [122]:
#
# normalizar a quantidade de caracteres
#
# data_semNF.loc[:,'qtd_carc_normal'] = pd.Series((data.qtd_carc-data.qtd_carc.min())/(data.qtd_carc.max()-data.qtd_carc.min()))

In [123]:
#colunas_X= ['qtd_pag_word', 'qtd_tabela','qtd_image']
#colunas_X= ['qtd_pag_word', 'qtd_carc','qtd_tabela','qtd_image']
#colunas_X= ['qtd_pag_word', 'qtd_tabela','qtd_image','qtd_carc_normal']
#colunas_X= ['qtd_pag_word', 'qtd_tabela','qtd_image',"qtd_estilos", 'qtd_carc_normal']
#colunas_X= ['complexidade','entidade','qtd_pag_word', 'qtd_tabela','qtd_image', 'qtd_carc'] # FOREST

#colunas_X= ['qtd_pag_word', 'qtd_tabela','qtd_image',"qtd_estilos", 'qtd_carc_normal'] # REG LOG

#colunas_X= ['qtd_pag_word', 'qtd_tabela','qtd_image','qtd_carc_normal'] # REG LINEAR
#colunas_X= ['qtd_pag_word', 'qtd_tabela','qtd_image',"qtd_estilos", 'qtd_carc_normal'] # REG LINEAR 2
colunas_X= [ 'qtd_pag_word','qtd_pg_word','qtd_tabela','qtd_image',"qtd_estilos", 'qtd_carc_normal']# REG LINEAR 2

#colunas_X= ['qtd_pag_word', 'qtd_pg_word','qtd_tabela','qtd_image','qtd_carc']# FORST


#colunas_X= ['qtd_pag_word', 'qtd_tabela','qtd_image',"qtd_estilos", 'qtd_carc_normal'] #REG LOGISTICA




X_semNF= data_semNF[colunas_X]

In [124]:
X_semNF

,qtd_pag_word,qtd_pg_word,qtd_tabela,qtd_image,qtd_estilos,qtd_carc_normal
0,34,34,288,211,16.0,0.090455
1,30,30,133,107,29.0,0.016805
2,68,67,275,156,127.0,0.115507
3,26,26,3,2,23.0,0.008390
4,23,23,260,142,28.0,0.003418
5,22,22,277,158,29.0,0.003085
6,20,20,258,140,25.0,0.000000
7,142,142,154,130,26.0,0.362292
8,75,75,126,94,54.0,0.131568
9,38,38,131,98,21.0,0.097482
10,48,48,262,144,16.0,0.093295
11,45,45,286,207,15.0,0.092970
12,81,11,12,65,15.0,0.233122
13,424,424,107,75,27.0,1.000000
14,373,374,256,138,21.0,0.886372
15,29,29,279,160,20.0,0.016100
16,24,24,293,216,19.0,0.032081

In [125]:
X_semNF.dtypes

qtd_pag_word         int64
qtd_pg_word          int64
qtd_tabela           int64
qtd_image            int64
qtd_estilos        float64
qtd_carc_normal    float64
dtype: object

In [126]:
print(X_semNF.shape)

(17, 6)

In [127]:
#Fazendo predições no conjunto de teste
y_pred_semNF = loaded_model_f.predict(X_semNF)

In [128]:
print(y_pred_semNF)

[[ 54.46713275]
 [ 39.79039164]
 [ 77.29527404]
 [ 37.37494725]
 [ 31.29633967]
 [ 30.43119564]
 [ 28.93465931]
 [171.99606472]
 [ 87.90318577]
 [ 59.89088575]
 [ 63.48665645]
 [ 61.61773291]
 [136.22046273]
 [462.1446366 ]
 [407.90551873]
 [ 37.29022366]
 [ 37.38020449]]

In [129]:
y_pred_semNF.shape

(17, 1)

In [130]:
print(data_semNF["qtd_pag_estimado"])

0      48
1      48
2      98
3      48
4      46
5      46
6      46
7     198
8     110
9      68
10     75
11     70
12    114
13    460
14    420
15     48
16     48
Name: qtd_pag_estimado, dtype: int64

In [134]:
#y_pred_semNF = pd.Series(y_pred_semNF,name=["qtd_pag_inferido"])

resultado_comparativo =  pd.concat([data_semNF["qtd_pag_word"], data_semNF["qtd_pag_estimado"], pd.Series(y_pred_semNF.T[0])], axis=1) # REG LINEAR
#resultado_comparativo =  pd.concat([data_semNF["qtd_pag_word"], data_semNF["qtd_pag_estimado"], pd.Series(y_pred_semNF)], axis=1) # REG LOGISTICA

In [135]:
data_semNF_final =  pd.concat([data_semNF, pd.Series(y_pred_semNF.T[0])], axis=1) # REG LINEAR
#data_semNF_final =  pd.concat([data_semNF, pd.Series(y_pred_semNF)], axis=1) # REG LOGISTICA

In [136]:
data_semNF_final.rename(columns={0: 'QTD_PAG_INFERIDO'}, inplace = True)

In [137]:
data_semNF_final.head()

,id,entidade,fornecedor,complexidade,stat_pagto,qtd_pag_word,qtd_pag_estimado,qtd_pg_word,qtd_carc,qtd_tabela,qtd_image,qtd_estilos,qtd_carc_normal,QTD_PAG_INFERIDO
0,235832,0,0,1,0,34,48,34,70983,288,211,16.0,0.090455,54.467133
1,235876,0,0,1,0,30,48,30,23238,133,107,29.0,0.016805,39.790392
2,235878,0,0,0,0,68,98,67,87223,275,156,127.0,0.115507,77.295274
3,235880,0,0,1,0,26,48,26,17783,3,2,23.0,0.008390,37.374947
4,235881,0,0,1,0,23,46,23,14560,260,142,28.0,0.003418,31.296340

In [138]:
resultado_comparativo

    qtd_pag_word  qtd_pag_estimado           0
0             34                48   54.467133
1             30                48   39.790392
2             68                98   77.295274
3             26                48   37.374947
4             23                46   31.296340
5             22                46   30.431196
6             20                46   28.934659
7            142               198  171.996065
8             75               110   87.903186
9             38                68   59.890886
10            48                75   63.486656
11            45                70   61.617733
12            81               114  136.220463
13           424               460  462.144637
14           373               420  407.905519
15            29                48   37.290224
16            24                48   37.380204

In [139]:
data_semNF_final.to_excel("resultado_inferência_NGE-reg_linear_novo_LINEAR.xlsx",sheet_name='Inferencia por IA')