In [ ]:
# metodo de tratar tabelas

In [2]:
import os
import get_file_word_fim as gf
import datetime
import pandas as pd

#setar variáveis onde estão arquivos
fileExt = r".docx"
fileExt2 = r".doc"
fileDir_19 = r"/Users/wpessoa/repositorios/NGE/words_2019/"
fileDir_20 = r"/Users/wpessoa/repositorios/NGE/words_2020/"


fileDir_semNF = r"/Users/wpessoa/repositorios/NGE/words_semNota/"

# verificar se existe o diretório
print("Existe esse diretório? ",os.path.exists(fileDir_19)) 
print("Existe esse diretório? ",os.path.exists(fileDir_20)) 


#fileDir = r"/Users/wpessoa/repositorios/Fluxo_Editorial/words/"
#fileDir= r'/Users/walnerpessoa/repositories/Fluxo_Editorial/words'
files_array_19 = [_ for _ in os.listdir(fileDir_19) if _.endswith(fileExt)]
#files_array_19_2 = [_ for _ in os.listdir(fileDir_19) if _.endswith(fileExt2)]
#files_array_19=files_array_19_1+files_array_19_2


files_array_20 = [_ for _ in os.listdir(fileDir_20) if _.endswith(fileExt)]
#files_array_20_2 = [_ for _ in os.listdir(fileDir_20) if _.endswith(fileExt2)]
#files_array_20=files_array_20_1+files_array_20_2

print("Quantidade de arquivos do word no diretório: ",len(files_array_19))
print("Quantidade de arquivos do word no diretório: ",len(files_array_20))



# rodar método get_info para ler aquivos do Word e retornar features de cada arquivo
# argumentos (diretório e array dos arquivos word)
# retorna (NºID,Qtd_caracteres,Qtd_tabela,Qtd_image,data)

var_19=gf.get_info(fileDir_19,files_array_19)
var_20=gf.get_info(fileDir_20,files_array_20)

#print(var)

#Quantidade de arquivos do word no diretório:  58
# Quantidade de arquivos do word no diretório:  52

#Quantidade de arquivos do word no diretório:  56
#Quantidade de arquivos do word no diretório:  50

Existe esse diretório?  True
Existe esse diretório?  True
Quantidade de arquivos do word no diretório:  60
Quantidade de arquivos do word no diretório:  80
ID228354-CNI_ Estudo Mecanismo de Soluá∆o de Consulta Antecipada_vf+RevisaoGramatical.docx
ID235502-Investimentos_Roadmap_BrasilUK_v5_Normalizado.docx
ID232098-2019-09-16_30 CASOS_FINAL 20190820 (inglês).docx
ID225392-Manual Ouvidoria do SESI SENAI REVISADO POR DANUZIA - NORMALIZADOv2 - 06.11.18.docx
ID228307-Pesquisa Sindical 2018_Relatório_versão final.docx
ID224325-Reuso_PE-normalizado_revisado_final.docx
ID232211-Agendar for USA.docx
ID230571-10 Chamada_20190619 - - (1).docx
ID229536-Avanços da Gestão SESI-SENAI-IEL v10.docx
ID231772-Versão preliminar I-2027 MPE-2.docx
ID226842-20190115 Estudo_ApoioExportadorDefesaComercial_v08.docx
ID231928-Investimentos_Tributação_Roadmap_BrasilEUA_20190328_Normalizado_06092019_123259.docx
ID233550-2019-11-25_CNI Agências Reguladoras Subnacionais- v2 - normalização concluída.docx
ID228603-Posicao Mercosul PPT Argentina_v11.docx
ID228863-2019-03-25 _TratamentodaChinaComoEconomiadeMercado_NME_v04.docx
ID231316-Mexico_InteressesOfensivos_201907_Normalizado_v02.docx
ID229294 -Normatizado  Livro ESocial - empregado ajustado depois da DJ_revisado empresa externa.docx
ID231829-2019-08-20 Estudo_CustosAeroportuarios_Relatorio_v15_normalizado.docx
ID230908-2019-07-04 Alemanha_2019_v4.docx
ID231210-2019-09-06 NR 12 - Comentarios ao novo texto geral. edição para diagramação.docx
ID229323-Normatizado  Livro ESocial - empregado ajustado depois da DJ_revisado empresa externa.docx
ID000003-Estudo temático_Impactos da revolução digital Unesco_Unificado_19ago2019.docx
ID228837-Mercosul_Alteracao Tarifaria_201902_v09_Normalizado (1).docx
ID228437-Recuperacao_Energetica_normalizado_revisado.docx
ID230630-2019-06-24_Reuso PB_normalizada_V02.docx
ID233405-2019-11-14 1128 Cartilha licenciamento ambiental_V9_normalizado_revisado_14112019_180959.docx
ID233069-AgendaPara_MÇxico_2019.docx
ID233474-Ecommerce_ResultadosConsulta_v06_Normalizado.docx
ID000000-Manual de formatos - Oficial.docx
ID231055-AgendaPara_EstadosUnidos_2019 (1).docx
ID232596-CNI_DocumentodePosicao_Brexit_v11_Normalizado.docx
ID225531-Versão Revisada e Normalizada_FINAL.docx
ID230301-2019.06.05_reuso rj_V03.docx
ID233269-19.11 Relatorio Executivo FINAL_Normalizado.docx
ID228711-RELAToRIO SESI SENAI IEL 2018_PRELIMINAR_NORMALIZADO_2019.03.14.docx
ID231931-2019-08-26 Posiá∆o CNI_Reforma da OMC_v06_20190808_normalizado.docx
ID232943-CNI_FC_Estudo_FacilitacaoComercioMercosul_vlimpa_normalizada REVISADO_rp FINAL (2).docx
ID231201-2019-07-23_30 CASOS_FINAL REVISADO NORMALIZAÇÃO.docx
ID229345-OECD_CompatibilidadeSistemaBrasileiro_v08_Normalizado.docx
ID230277-19.05 Estudo final Esp gás_Nornalizado_Rev J (2).docx
ID231274-Versão Preliminar do Plano Estratégico_v10_enviado para Diret.docx
ID229428-Doc de Política Industrial Revisado - 02-04-2019_02052019_145149.docx
ID230874-Estudo_ProdutividadedasMultis_Normalizado.docx
ID232396-FinanciamentoeGarantias_BenchmarkingInternacional_v08_Normalizado.docx
ID232174-2019-08-23 AgendaPara_Japao_2019.docx
ID231938-AgendaPara_Alemanha_2019_Mark.docx
ID22703-FINAL_Agenda Jurídica da Indústria 2019 - STF (ÁBARIS)_31012019_145404.docx
ID230059-CNI_ConselhosUsuarios_Completa_20190510_vnormalizada-revisada (1).docx
ID225392-CNI_Atos Internacionais_201810_normalizado_final.docx
ID231431-Re£so ES_nor_rev.docx
ID224323-Reuso_CE-normalizado_revisado_final.docx
ID233263-2019-11-05 Boas praticas de parceria_Versao consolidada3_para editoração.docx
ID230385-Investimentos_ManualdeAcordosPrevidenci rio_v6_Normalizado.docx
ID232625-Guia do Docente_Editorado.docx
ID231890-Posicionamento sobre licenciamento ambiental VFinal.docx
ID232393-Guia Avaliação última versão v 02_10_2019 _ Normalizado (1).docx
ID231637-2019-08-09 CNI_CAM_Avancos&ImpactosParaBrasil_EstudoNormativoAduaneiro_20190718_v01r_limpa_ REVISADO.docx
ID233072-2019-10-22 AgendaPara_Argentina_2019.docx
ID232872-CNI_FC_GestaoRiscoOrgaosAnuentesComercioExterior_Estudo_vf.docx
ID227130-2019-01-18_Guia de Financiamento Climático_vs final (2).docx
ID235651-2020-06-16 AgendaPara_BRICS_2020_Normalizada (1).docx
ID236123-Carta_presidente_20201002_MC Precificação de Carbono  e Competitividade da Indústria_v01_atualizada (1).docx
ID235534-2020-06-02 AgendaPara_Japao_2020_Normalizada (3).docx
ID235502-Investimentos_Roadmap_BrasilUK_v5_Normalizado.docx
ID235880-AgendaPara_MÇxico_2020_Normalizada (1).docx
ID235665-Normas e Politicas de Uso_Revisado DJ_FINAL.docx
ID233694-Relatório Diretoria Jurídica 2018-1 - Cópia (1).docx
ID233896-2020-01-29 AII2020_Consolidação_V10.docx
ID235810-AgendaPara_China_Normalizada (1).docx
ID233899-Caderno de ações e resultados 2019 - Versão Editoração .docx
ID235305-Mercosul_ImpactosJuridicosSaidaBrasil_RelatorioCompleto_202003_v03_Normalizado (1).docx
ID233903-2020-05-02 Tradução Relatórios EUA e UE Distorções China_2020_v02 REVISADO_NORMALIZADO_sem comentários.docx
ID235520-2020-05-25 AgendaPara_Alemanha_2020_Normalizada (1).docx
ID235980-Educação Infantil  4 e 5  anos - Diagramar.docx
ID235512-2020-06-05 OCDE_EstudoConvergênciaInstrumentosMeioAmbiente_v10_normalizado (1).docx
ID233904-2020-03-06 Estudo CNI_ China  Subsídios chineses identificados em investigações sobre medidas compensatórias no mundo(459760.20) (003)_Normalizado.docx
ID235513-2020-05-14 GUIA_PPN-Corrigido_Final_normalizado REVISADO-Comentado (1).docx
ID235664-Governança de Dados_Revisado DJ_FINAL.docx
ID235511-2020-05-29 AgendaParaEUA_2020_normalizado.docx
ID235509-Investimentos_Estudo_Compatibilidade da cláusula de arbitragem com os ADTs celebrados pelo Brasil_Normalizado.docx
ID235142-2020-03-30 0922 Bioeconomia e a Indústria Brasileira_30-03-2020_normalizado_vf.docx
ID233900-Relatório Atividades 2019_SESI-SENAI-IEL_versão preliminar.docx
ID235985-EF ANOS FINAIS CONSOLIDADO.docx
ID233892-8- Templates.docx
ID235382-2020-05-20-1 Manual de eventos.docx
ID236105-2020-09-23 Estudo_NormasLegais_CNI_vers∆o_revisada_set2020 (1).docx
ID233909-2020-03-11 publicacao_caminho_estrategico_economia_circular (ingl.)_normalizado.docx
ID233867-06_12_2019_EFEITOS DA GESTÃO SOBRE A PRODUTIVIDADE - PARA PUBLICAÇÃO_Final_19122019_155125.docx
ID233884-Agenda Jurídica STF 2020 (versão PRELIMINAR).docx
ID235701-08-07-2020 2º GUIA - Tempo de Ensinar e Aprender Final - Validado e Revisado (1).docx
ID235650-2020-06-05 AgendaPara_Argentina_2020_Normalizada (1).docx
ID235353-2020-05-06 Estudo CNI _ Documento de POsição OMC sem Órgão de Apelação.docx
ID235313-2020-05-05 2320 CNI - Estudo - Protocolo de Nagoya - normalizado_ 06_05.docx
ID235983-EJA - ANOS INICIAIS_Diagramar.docx
ID233885-1- Metodol Rec Did - rev.docx
ID233893-Códigos_EstudoCNI_v10.docx
ID235905-EstudoRegimeEspecialServicos_NormalizacaoCompleta_20200831.docx
ID233891-7- Guia Microlearning - rev.docx
ID235909-CAMEX_Estudo1_consolidadoAI_normalizado.docx
ID235700-2020-06-26 1º GUIA - TEMPO DE PLANEJAR - Validado REVISADO.docx
ID235876-2020-05-25 AgendaPara_Alemanha_2020_Normalizada TRAD _rev.docx
ID235812-AgendaPara_India_Normalizada (2).docx
ID233905-Proposta da Industria 2020-2022 2020_03_04.docx
ID235798-2020-08-20 MINERACAO NO BRASIL RUMO A UMA INDUSTRIA PRODUTIVA_ SEGURA E SUSTENTA´VEL (1).docx
ID235986-EF ANOS INICIAIS CONSOLIDADO.docx
ID235831-Investimentos_Desempenhoexportadordasmultis_v5.docx
ID235874-2020-08-17 20200724_MC_GUIA FINANCIAMENTO_CLIMA_Aprovada_V01_NORMALIZADO.docx
ID235984-EJA - ENSINO MÉDIO - Diagramar.docx
ID235514-Guia Operacional MSEP - Ensino Superior_Final-normalizado-sandro_revisado 10 de junho de 2020 (2).docx
ID233890-6- Guia Adaptativo - rev.docx
ID235092-2020-03-20 CNI Dados Pessoais_cartilha (1) (1).docx
ID235806-20200721_MC_MDS Comp Ind_v01_Aprovada_Normalizado (1).docx
ID233908-ALI 2020 em 10 03 2020 Enviado para Editora.docx
ID233888-4- Guia Customizados - rev.docx
ID235882-AgendaPara_CoreiadoSul_Normalizada (1).docx
ID236159-2020-10-08 Violencia Autoprovocada - conteúdo revisado gramatica e abnt.docx
ID233895-2020-01-29 ProgramasAjuste_Posicao_202001_v05 (1) (2).docx
ID235710-2020-06-09 GUIA de operacionalização - PSAI sutentável_Adriana_Normalizado REVISADO (1) (1).docx

ID235881-AgendaPara_ReinoUnido_Normalizada (1).docx
ID233886-2- Metodol LD - rev.docx
ID235964-VF MINUTA DE PUBLICAÇÃO sobre teletrabalho em países selecionados vf rev setembro 04.docx
ID235469-2020-05-12 ROADMAP _FCBPR_BR-EUA_20200413 V3.docx
ID235878-20200817_Água_de_reúso_Normalizado.docx
ID235293-CooperacaoRegulatoriaManual_202004_Abares.docx
ID233907-Pocket Pauta Mínima em 10 03 2020 Enviado para Editorar.docx
ID235981-EJA - ANOS FINAIS - Diagramar.docx
ID233898-Planejamento Estratégico MEI 2020-24_17022020_095649.docx
ID235883-AgendaPara_Franáa_Normalizada (1).docx
ID236021-2020-06-02 AgendaPara_Japao_2020_Normalizada.docx
ID235519-CNI_ModelosAduaneirosGlobais&CooperacaoAduaneira_vfrevisado (1).docx
ID233889-5- Guia Autoinstrucionais - rev.docx
ID235652-2020-05-29 AGENDA FOR THE UNITED STATES_2020_normalizado.docx
ID235320-DCNs Engenharia_DOCUMENTO FINAL.docx
ID235811-2020-06-16 AgendaPara_BRICS_2020_Normalizada _rev.docx
ID233887-3- Guia CT e QB - rev.docx
ID235979-Educação Infantil  3 anos - Diagramar.docx
ID235495-[PCD_Publicacao_PT].docx
ID233906-Panorama Rede SESI EM_27 nov 2019_FINAL.docx
ID235832-2020-08-07 Difusão da I4.0 - Versão para publicação_revisao2.docx
ID236025-2020-09-16 Concorrência Justa e Defesa Comercial na crise_versão final (1).docx

In [4]:
# unindo lista 2019 com lista 2020
var=var_19+var_20

In [5]:
# converter veriável de retorno do método para Dataframe
#df = pd.DataFrame(var,columns=['Nº DA PLANILHA',"Qtd_carac","Qtd_tabela","Qtd_image","Data"])
df = pd.DataFrame(var,columns=['Nº DA PLANILHA',"Qtd_PG_word","Qtd_carac","Qtd_tabela","Qtd_image","Qtd_estilos", "Data"])

df.head()

,Nº DA PLANILHA,Qtd_PG_word,Qtd_carac,Qtd_tabela,Qtd_image,Qtd_estilos,Data
0,228354,76,129122,14,10,26,2019-02-27
1,235502,24,31123,21,17,23,2020-05-27
2,232098,195,413596,26,20,19,2019-09-16
3,225392,30,41144,28,24,23,2018-11-07
4,228307,62,43155,40,73,25,2019-02-26

In [6]:
# converter tipo para inteiros e data
df["Nº DA PLANILHA"] = pd.to_numeric(df["Nº DA PLANILHA"], errors='coerce')
df["Data"] = pd.to_datetime(df["Data"])

In [43]:
#Convertendo arquivo excel em dataframe

excelDir ="/Users/wpessoa/repositorios/Fluxo_Editorial/dados/"
excelFile_2019 = pd.read_excel(excelDir+'Exercicio_estimativa_de_paginas_2019_2020.xlsx',"EXECUTADO 2019")
#excelFile_2020 = pd.read_excel(excelDir+'Exercicio_estimativa_de_paginas_2019_2020.xlsx',"EXECUTADO 2020")
excelFile_2020 = pd.read_excel(excelDir+'Planilha de Acompanhamento Editoração 2020.xlsx',"ACOMPANHAMENTO", header=1)

In [44]:
###################################################
# FAZER MERGE COM excelFile_2020 & excelFile_2019
##################################################

In [45]:
frames = [excelFile_2019, excelFile_2020]
excelFile2 = pd.concat(frames)

In [46]:
# reindexar o index devido ter deletado algumas linhas
excelFile2.reset_index(drop=True, inplace=True)

In [96]:
# selecionando apenas colunas necessárias
#colunas=['ENTIDADE','PUBLICAÇÃO','Nº de páginas WORD','Nº de páginas estimado', 'COMPLEXIDADE','FORNECEDOR','Nº DA PLANILHA','STATUS DE PGTO','Nº de páginas finais']
colunas=['Nº DA PLANILHA', 'Nº de páginas finais']

excelFile_y = excelFile2[colunas]

In [97]:
excelFile_y.dtypes

Nº DA PLANILHA           int64
Nº de páginas finais    object
dtype: object

In [98]:
#excelFile2.set_index('Nº DA PLANILHA',inplace=True)

In [99]:
excelFile_y['Nº de páginas finais'].unique()

array(['140', '122', '52', '32', '48', 88, '66', '82', '92', '70', '96',
       '18', '40', '46', '68', '34', '28', '86', '84', '110', '116', '98',
       '340', '72', '112', '71', '100', '43', '76', '212', '74', '38',
       '42', '54', '104', '386', '126', '296', '196', 'RMSE', nan, '01',
       52, '30', '20', '22', '24', '176', '88', '---', '15', '108', '120',
       '57', '128', '168', '162', '36', '78', '44', '62', '90', '144',
       '64', '414', '398'], dtype=object)

In [100]:
# retirarvalores N0 de paginas finais = "---"
excelFile_y = excelFile_y[excelFile2['Nº de páginas finais']!="---"]
excelFile_y = excelFile_y[excelFile2['Nº de páginas finais']!="RMSE"]

<ipython-input-100-d12aaf12348c>:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  excelFile_y = excelFile_y[excelFile2['Nº de páginas finais']!="RMSE"]

In [101]:
# Verificar se tem alguma inconsistencia na planilha Excel - Quantidade de páginas por exemplo
# excelFile2.sort_values('Nº de páginas finais')

In [102]:
# verifiacando valores nulos
excelFile_y.isnull().sum()

Nº DA PLANILHA           0
Nº de páginas finais    60
dtype: int64

In [103]:
# retirar registro nulos
excelFile_y=excelFile_y.dropna()

In [104]:
# verifiacando valores nulos
excelFile_y.isnull().sum()

Nº DA PLANILHA          0
Nº de páginas finais    0
dtype: int64

In [105]:
excelFile_y.count()

Nº DA PLANILHA          156
Nº de páginas finais    156
dtype: int64

In [106]:
import numpy as np
excelFile_y["Nº DA PLANILHA"] = (pd.to_numeric(excelFile2["Nº DA PLANILHA"], errors='coerce').fillna(0).astype(np.int64))#,downcast='integer'))
#excelFile2["Nº DA PLANILHA"] = excelFile2["Nº DA PLANILHA"].astype('int64',errors='ignore')

In [107]:
excelFile_y.dtypes

Nº DA PLANILHA           int64
Nº de páginas finais    object
dtype: object

In [108]:
df

,Nº DA PLANILHA,Qtd_PG_word,Qtd_carac,Qtd_tabela,Qtd_image,Qtd_estilos,Data
0,228354.0,76,129122,14,10,26,2019-02-27
1,235502.0,24,31123,21,17,23,2020-05-27
2,232098.0,195,413596,26,20,19,2019-09-16
3,225392.0,30,41144,28,24,23,2018-11-07
4,228307.0,62,43155,40,73,25,2019-02-26
...,...,...,...,...,...,...,...
135,235979.0,45,72613,909,736,15,2020-09-14
136,235495.0,39,31612,919,749,25,2020-05-25
137,233906.0,78,118624,922,818,19,2020-03-09
138,235832.0,34,70983,924,822,16,2020-08-07
139,236025.0,24,33141,929,827,19,2020-09-16

In [109]:
# verificando quantidade de linhas
df['Nº DA PLANILHA'].count()

139

In [110]:
# -----> verificar valores NAN 
df.isnull().sum()

Nº DA PLANILHA    1
Qtd_PG_word       0
Qtd_carac         0
Qtd_tabela        0
Qtd_image         0
Qtd_estilos       0
Data              0
dtype: int64

In [111]:
# verificando quantidade de linhas com o coluna N0. da planilha igual a NaN
df[df['Nº DA PLANILHA'].isnull()]

,Nº DA PLANILHA,Qtd_PG_word,Qtd_carac,Qtd_tabela,Qtd_image,Qtd_estilos,Data
46,NaN,143,258920,427,690,5,2019-02-05

In [112]:
# verificando quantidade de linhas

excelFile_y['Nº DA PLANILHA'].count()

156

In [113]:
# -----> verificar valores NAN 
excelFile_y.isnull().sum()

Nº DA PLANILHA          0
Nº de páginas finais    0
dtype: int64

In [114]:
# verificando quantidade de linhas com o coluna N0. da planilha igual a NaN

excelFile_y[excelFile_y['Nº DA PLANILHA'].isnull()]

Empty DataFrame
Columns: [Nº DA PLANILHA, Nº de páginas finais]
Index: []

In [115]:
# UNIR arquivo do NGE com o método de leitura dos arquivos Word
#
# Atenção >>>>>>>> alguns arquivos não passaram pelo método de leitura dos arquivos word e irão gerar valores NAN
#
df_final = pd.merge(excelFile_y, df, on=['Nº DA PLANILHA'], how='left')

# PRECISO REVISAR O MERGE, POIS A COLUNA DATA DO DATASET df NÃO FOI ENCORPORADO NO DATASET df_final

In [116]:
# verificando quantidade de linhas

df_final['Nº DA PLANILHA'].count()

159

In [117]:
df_final.count()

Nº DA PLANILHA          159
Nº de páginas finais    159
Qtd_PG_word             141
Qtd_carac               141
Qtd_tabela              141
Qtd_image               141
Qtd_estilos             141
Data                    141
dtype: int64

In [118]:
# -----> verificar valores NAN 
df_final.isnull().sum()
# OS REGISTROS COM NAN NESSE CASO FORAM OS ARQUIVOS QUE ESTAVAM NO ARQUIVO EXCEL 
# E QUE NÃO TINHAM O AQUIVO WORD CORRESPONDENTE , OU SEJA NÃO FOI ENCONTRADO NA PASTA

Nº DA PLANILHA           0
Nº de páginas finais     0
Qtd_PG_word             18
Qtd_carac               18
Qtd_tabela              18
Qtd_image               18
Qtd_estilos             18
Data                    18
dtype: int64

In [119]:
df_final[df_final['Nº DA PLANILHA'].isnull()]

Empty DataFrame
Columns: [Nº DA PLANILHA, Nº de páginas finais, Qtd_PG_word, Qtd_carac, Qtd_tabela, Qtd_image, Qtd_estilos, Data]
Index: []

In [120]:
# lista dos arquivos do Excel que não tem arquivo do Word correspondente
    
    
df_final[df_final['Qtd_carac'].isnull()]

,Nº DA PLANILHA,Nº de páginas finais,Qtd_PG_word,Qtd_carac,Qtd_tabela,Qtd_image,Qtd_estilos,Data
4,225507,32,NaN,NaN,NaN,NaN,NaN,NaT
9,227979,92,NaN,NaN,NaN,NaN,NaN,NaT
13,228444,70,NaN,NaN,NaN,NaN,NaN,NaT
34,231378,71,NaN,NaN,NaN,NaN,NaN,NaT
36,1,43,NaN,NaN,NaN,NaN,NaN,NaT
37,2,43,NaN,NaN,NaN,NaN,NaN,NaT
50,232328,54,NaN,NaN,NaN,NaN,NaN,NaT
60,233002,386,NaN,NaN,NaN,NaN,NaN,NaT
68,228346,296,NaN,NaN,NaN,NaN,NaN,NaT
70,227031,196,NaN,NaN,NaN,NaN,NaN,NaT
91,233910,15,NaN,NaN,NaN,NaN,NaN,NaT
94,233839,120,NaN,NaN,NaN,NaN,NaN,NaT
96,235193,66,NaN,NaN,NaN,NaN,NaN,NaT
97,235195,57,NaN,NaN,NaN,NaN,NaN,NaT
98,235195,57,NaN,NaN,NaN,NaN,NaN,NaT
99,235195,57,NaN,NaN,NaN,NaN,NaN,NaT
104,235331,128,NaN,NaN,NaN,NaN,NaN,NaT
158,235813,24,NaN,NaN,NaN,NaN,NaN,NaT

In [121]:
# retirar registro nulos , OU SEJA RETIRAR OS DADOS QUE NÃO TINHAM NA PASTA DO WORD
df_final2=df_final.dropna()
# APAGOU AS LINHAS COM NAN

# outra alternativa seria preencher com valores as celulas com NaN 
# df_final.fillna(df_final.mean(0))

In [122]:
# -----> verificar valores NAN 
df_final2.isnull().sum()

Nº DA PLANILHA          0
Nº de páginas finais    0
Qtd_PG_word             0
Qtd_carac               0
Qtd_tabela              0
Qtd_image               0
Qtd_estilos             0
Data                    0
dtype: int64

In [123]:
df_final2.count()

Nº DA PLANILHA          141
Nº de páginas finais    141
Qtd_PG_word             141
Qtd_carac               141
Qtd_tabela              141
Qtd_image               141
Qtd_estilos             141
Data                    141
dtype: int64

In [124]:
df_final2

,Nº DA PLANILHA,Nº de páginas finais,Qtd_PG_word,Qtd_carac,Qtd_tabela,Qtd_image,Qtd_estilos,Data
0,224323,140,87,116142.0,505.0,742.0,60.0,2018-09-20
1,224325,122,82,108307.0,76.0,94.0,69.0,2018-09-20
2,225392,52,30,41144.0,28.0,24.0,23.0,2018-11-07
3,225392,52,42,62913.0,432.0,696.0,21.0,2018-11-05
5,225531,48,36,37548.0,270.0,456.0,17.0,2018-11-07
...,...,...,...,...,...,...,...,...
153,235513,52,52,56538.0,187.0,341.0,22.0,2020-06-03
154,235514,72,41,51127.0,733.0,553.0,18.0,2020-06-15
155,235700,44,37,40157.0,553.0,463.0,16.0,2020-07-09
156,235701,40,33,42499.0,447.0,406.0,15.0,2020-07-10
157,235710,48,33,28573.0,810.0,608.0,15.0,2020-07-14

In [125]:
#print(df_final["qtd_pag_word"],(df_final["qtd_carc"]/1430))

In [126]:
# reindexar o index devido ter deletado algumas linhas
df_final2.reset_index(drop=True, inplace=True)

In [136]:
df_final2.dtypes

Nº DA PLANILHA                   int64
Nº de páginas finais            object
Qtd_PG_word                      int64
Qtd_carac                        int64
Qtd_tabela                       int64
Qtd_image                        int64
Qtd_estilos                    float64
Data                    datetime64[ns]
dtype: object

In [128]:
df_final2.head()

,Nº DA PLANILHA,Nº de páginas finais,Qtd_PG_word,Qtd_carac,Qtd_tabela,Qtd_image,Qtd_estilos,Data
0,224323,140,87,116142.0,505.0,742.0,60.0,2018-09-20
1,224325,122,82,108307.0,76.0,94.0,69.0,2018-09-20
2,225392,52,30,41144.0,28.0,24.0,23.0,2018-11-07
3,225392,52,42,62913.0,432.0,696.0,21.0,2018-11-05
4,225531,48,36,37548.0,270.0,456.0,17.0,2018-11-07

In [147]:
df_final2['Nº de páginas finais'].unique()

array(['140', '122', '52', '48', 88, '66', '82', '70', '96', '18', '40',
       '46', '68', '34', '28', '86', '84', '110', '116', '98', '340',
       '72', '112', '92', '100', '76', '212', '74', '38', '42', '104',
       '126', '01', 52, '30', '22', '24', '176', '88', '296', '108',
       '168', '162', '54', '36', '78', '44', '62', '90', '144', '64',
       '414', '398'], dtype=object)

In [ ]:
#df_final2['Nº de páginas WORD'] = df_final2['Nº de páginas WORD'].astype('int')

In [140]:
df_final2[df_final2['Qtd_PG_word'] < 10]

Empty DataFrame
Columns: [Nº DA PLANILHA, Nº de páginas finais, Qtd_PG_word, Qtd_carac, Qtd_tabela, Qtd_image, Qtd_estilos, Data]
Index: []

In [139]:
# Verificar se tem alguma inconsistencia na planilha Excel - Quantidade de páginas por exemplo
#df_final2.sort_values('Nº de páginas WORD')

# eliminar linhas com menos de 10 páginas
filtro  = df_final2['Qtd_PG_word'] > 10
df_final2 = df_final2[filtro]

In [141]:
df_final2.dtypes

Nº DA PLANILHA                   int64
Nº de páginas finais            object
Qtd_PG_word                      int64
Qtd_carac                        int64
Qtd_tabela                       int64
Qtd_image                        int64
Qtd_estilos                    float64
Data                    datetime64[ns]
dtype: object

In [142]:
df_final2.count()

Nº DA PLANILHA          139
Nº de páginas finais    139
Qtd_PG_word             139
Qtd_carac               139
Qtd_tabela              139
Qtd_image               139
Qtd_estilos             139
Data                    139
dtype: int64

In [143]:
df_final2.columns

Index(['Nº DA PLANILHA', 'Nº de páginas finais', 'Qtd_PG_word', 'Qtd_carac',
       'Qtd_tabela', 'Qtd_image', 'Qtd_estilos', 'Data'],
      dtype='object')

In [148]:
# trocar type float por int
#df_final['Nº de páginas estimado'] = df_final['Nº de páginas estimado'].astype('int')
df_final2['Qtd_carac'] = df_final2['Qtd_carac'].astype('int')
df_final2["Qtd_PG_word"] = df_final2["Qtd_PG_word"].astype('int')
df_final2['Qtd_tabela'] = df_final2['Qtd_tabela'].astype('int')
df_final2['Qtd_image'] = df_final2['Qtd_image'].astype('int')

df_final2['Nº de páginas finais'] = df_final['Nº de páginas finais'].astype('int')

<ipython-input-148-4aa3c586d100>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final2['Qtd_carac'] = df_final2['Qtd_carac'].astype('int')
<ipython-input-148-4aa3c586d100>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final2["Qtd_PG_word"] = df_final2["Qtd_PG_word"].astype('int')
<ipython-input-148-4aa3c586d100>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final2['Qtd_tabela'] = df_final2['Qtd_tabela'].astype('int')
<ipython-input-148-4aa3c586d100>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final2['Qtd_image'] = df_final2['Qtd_image'].astype('int')
<ipython-input-148-4aa3c586d100>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final2['Nº de páginas finais'] = df_final['Nº de páginas finais'].astype('int')

In [149]:
df_final2.columns

Index(['Nº DA PLANILHA', 'Nº de páginas finais', 'Qtd_PG_word', 'Qtd_carac',
       'Qtd_tabela', 'Qtd_image', 'Qtd_estilos', 'Data'],
      dtype='object')

In [150]:
df_final2.dtypes

Nº DA PLANILHA                   int64
Nº de páginas finais             int64
Qtd_PG_word                      int64
Qtd_carac                        int64
Qtd_tabela                       int64
Qtd_image                        int64
Qtd_estilos                    float64
Data                    datetime64[ns]
dtype: object

In [151]:
#renomear colunas
#df_final.rename(columns={'Nº DA PLANILHA': 'id','ENTIDADE':"entidade",'FORNECEDOR':"fornecedor", 'COMPLEXIDADE':"complexidade",
#                         'STATUS DE PGTO':"stat_pagto",'Nº de páginas WORD':"qtd_pag_word", 
#                         'Nº de páginas estimado':"qtd_pag_estimado", 'Qtd_carac':"qtd_carc",
#       'Qtd_tabela':"qtd_tabela", 'Qtd_image': "qtd_image", 'Nº de páginas finais':"pag_final"} , inplace = True)

df_final2.rename(columns={'Nº DA PLANILHA': 'id',
                         'Qtd_carac':"qtd_carc","Qtd_PG_word":"qtd_pg_word",
       'Qtd_tabela':"qtd_tabela", 'Qtd_image': "qtd_image","Qtd_estilos":"qtd_estilos", 'Nº de páginas finais':"pag_final"} , inplace = True)

/Users/wpessoa/miniconda3/envs/py3/lib/python3.8/site-packages/pandas/core/frame.py:4293: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [152]:
print(len(df_final2[df_final2["pag_final"]>149]))
print(len(df_final2[(df_final2["pag_final"]>59) & (df_final2["pag_final"]<150)]))
print(len(df_final2[df_final2["pag_final"]<60]))

9
67
63

In [153]:
df_final2[df_final2["pag_final"]>120]

,id,pag_final,qtd_pg_word,qtd_carc,qtd_tabela,qtd_image,qtd_estilos,Data
0,224323,140,87,116142,505,742,60.0,2018-09-20
1,224325,122,82,108307,76,94,69.0,2018-09-20
27,231055,340,38,39556,222,443,23.0,2019-07-19
39,231928,212,34,56358,104,119,25.0,2019-09-06
47,232393,340,29,25364,560,839,16.0,2020-11-09
60,0,386,70,95656,220,438,17.0,2020-11-09
63,233895,126,56,87983,807,606,27.0,2020-01-29
70,233891,196,12,15633,540,457,10.0,2020-02-05
82,233906,176,78,118624,922,818,19.0,2020-03-09
88,0,296,70,95656,220,438,17.0,2020-11-09
104,235651,128,33,29683,2,2,16.0,2020-06-19
105,235664,168,40,45137,215,343,21.0,2020-07-15
106,235665,162,40,42151,39,25,22.0,2020-07-15
108,235810,122,23,16992,84,114,18.0,2020-07-27
136,235513,144,52,56538,187,341,22.0,2020-06-03

In [154]:
df_final2['tamanho_livro'] = 'NaN'
for index, row in df_final2.iterrows():
    #print(row["pag_final"])
    if row["pag_final"]>119:
        df_final2.loc[index,'tamanho_livro'] =  2
    elif row["pag_final"]>59 & row["pag_final"]<120:
        df_final2.loc[index,'tamanho_livro'] =  1
    else:  
        df_final2.loc[index,'tamanho_livro'] =  0

<ipython-input-154-3a996e022c6e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final2['tamanho_livro'] = 'NaN'
/Users/wpessoa/miniconda3/envs/py3/lib/python3.8/site-packages/pandas/core/indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [155]:
df_final2[df_final2['tamanho_livro']==0]

,id,pag_final,qtd_pg_word,qtd_carc,qtd_tabela,qtd_image,qtd_estilos,Data,tamanho_livro
4,225531,32,36,37548,270,456,17.0,2018-11-07,0
5,228711,48,77,101967,317,517,17.0,2019-03-28,0
12,228863,18,34,56363,118,135,71.0,2019-03-25,0
14,229294,40,18,16595,134,152,17.0,2019-04-17,0
17,229428,34,50,92363,405,645,26.0,2019-05-02,0
25,230874,48,22,19773,411,648,22.0,2019-07-09,0
28,231210,34,92,186373,153,261,38.0,2019-09-06,0
36,235502,43,24,31123,21,17,23.0,2020-05-27,0
37,235502,43,24,31123,19,22,23.0,2020-05-27,0
45,0,48,70,95656,220,438,17.0,2020-11-09,0
46,232396,42,92,134991,420,680,37.0,2019-10-02,0
48,232596,48,72,86532,246,451,55.0,2020-11-09,0
54,233069,40,24,19149,211,400,22.0,2019-10-24,0
62,233867,40,31,58108,374,403,17.0,2019-12-06,0
65,233886,34,50,71279,830,633,15.0,2020-02-05,0
66,233887,48,28,47904,902,689,14.0,2020-02-05,0
69,233890,40,21,29631,738,559,12.0,2020-02-05,0
71,233892,1,17,12032,346,378,32.0,2019-06-18,0
81,235092,24,43,66193,741,561,19.0,2020-03-24,0
97,235511,57,42,42503,217,345,27.0,2020-06-05,0
98,235519,57,59,122719,888,673,23.0,2020-05-26,0
99,235520,57,29,24182,139,207,29.0,2020-06-10,0
109,235811,48,34,29372,897,684,18.0,2020-08-03,0
117,235883,40,22,14344,880,665,29.0,2020-08-26,0
119,235798,48,142,247205,578,498,26.0,2020-08-20,0
128,235985,42,424,660609,317,378,27.0,2020-09-16,0
129,235986,48,374,586948,680,506,21.0,2020-09-16,0
137,235514,48,41,51127,733,553,18.0,2020-06-15,0

In [156]:
# gerar arquivo csv para arquivo tratado

df_final2.to_csv("nge_dados_input_final.csv",index=False )
df_final2.to_excel("nge_dados_input_final.xlsx",index=False,header=True )

#data = pd.read_csv("nge_dados_input.csv")
#df_final.to_csv(index=False)
#df_final.to_csv("nge_dados_input.csv", data = imprimir_ano)

In [ ]:
# FIM MÉTODO..... RODADR O TRINEMANTO DE MACHINE LEARNING =>   machine_learning_NGE