In [51]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

#Importando o modelo machine learnig
from sklearn.linear_model import LinearRegression
from sklearn import metrics
import pickle

In [52]:
# importar csv da base de jobs sem nota fiscal ou seja sem o valor final de páginas confirmado

data_semNF = pd.read_csv("nge_dados_input_semNF.csv")

In [53]:
data_semNF.head()

,id,entidade,fornecedor,complexidade,stat_pagto,qtd_pag_word,qtd_pag_estimado,qtd_pg_word,qtd_carc,qtd_tabela,qtd_image,qtd_estilos,tamanho_livro
0,235806,0,0,0,0,64,90,64,82304,317,157,25,1
1,235832,0,0,1,0,34,48,34,70983,372,232,16,0
2,235874,0,0,1,0,44,48,44,69155,296,148,27,1
3,235876,0,0,1,0,30,48,30,23238,154,109,29,1
4,235878,0,0,0,0,68,98,67,87223,336,175,127,1

In [54]:
#
# normalizar a quantidade de caracteres
#
data_semNF.loc[:,'qtd_carc_normal'] = pd.Series((data_semNF.qtd_carc-data_semNF.qtd_carc.min())/(data_semNF.qtd_carc.max()-data_semNF.qtd_carc.min()))

In [55]:
data_semNF.count()

id                  22
entidade            22
fornecedor          22
complexidade        22
stat_pagto          22
qtd_pag_word        22
qtd_pag_estimado    22
qtd_pg_word         22
qtd_carc            22
qtd_tabela          22
qtd_image           22
qtd_estilos         22
tamanho_livro       22
qtd_carc_normal     22
dtype: int64

In [56]:
#colunas_X= ['id','qtd_pag_word', 'qtd_pag_estimado', 'qtd_carc','qtd_tabela','qtd_image']
# walner # colunas_X= ['id','entidade','complexidade', 'qtd_pag_estimado', 'qtd_pag_word', 'qtd_carc','qtd_tabela','qtd_image',"qtd_estilos",'qtd_carc_normal']

#colunas_y=['id',  'pag_final']

# walner # X = data_semNF[colunas_X]

In [57]:
# método train_test_split, Scikit-Learn 
# walner # X_train, X_test = train_test_split(X,  test_size=0.10,random_state=1) # feito com 0,10 e agora com 0,20

In [58]:
# walner # X_train.columns

In [59]:
# mantendo algumas features para compara resultados no final no arquivo X_train_ref
# walner # X_test_ref = X_test
# walner # X_train_ref= X_train

#X_test = X_test_ref[['qtd_pag_word', 'qtd_carc','qtd_tabela','qtd_image']]
#X_test = X_test_ref[['complexidade', 'qtd_pag_word', 'qtd_carc','qtd_tabela','qtd_image','qtd_carc_normal']]
# walner # X_test = X_test_ref[['complexidade','entidade','qtd_pag_word', 'qtd_tabela','qtd_image', 'qtd_carc_normal']]
#X_train = X_train_ref[['qtd_pag_word', 'qtd_carc','qtd_tabela','qtd_image']]
#X_train = X_train_ref[['complexidade', 'qtd_pag_word', 'qtd_carc','qtd_tabela','qtd_image','qtd_carc_normal']]
# walner # X_train = X_train_ref[['complexidade','entidade','qtd_pag_word', 'qtd_tabela','qtd_image', 'qtd_carc_normal']]

In [60]:
# USANDO ARQUIVO TREINADO MODELO REGRESSÃO LINEAR
 
# load the model from disk
#filename ='finalized_model-linreg.sav'
filename ='finalized_model-linreg3.sav'

#filename ='finalized_model-forest4a.sav'
# filename = 'finalized_model-2.sav'
#filename = 'finalized_model-log.sav'

#filename = 'finalized_model-forest3a.sav'
loaded_model_f = pickle.load(open(filename, 'rb'))



#result = loaded_model.score(X_test, Y_test)
#print(result)

In [61]:
#data_semNF = pd.read_csv("nge_dados_input_semNF.csv")
#data_semNF = data_semNF[['id', 'entidade', 'fornecedor', 'complexidade', 'stat_pagto',
#        'qtd_carc', 'qtd_tabela','qtd_image', 'qtd_estilos','qtd_pag_word','qtd_pag_estimado']]

In [62]:
data_semNF.head()

,id,entidade,fornecedor,complexidade,stat_pagto,qtd_pag_word,qtd_pag_estimado,qtd_pg_word,qtd_carc,qtd_tabela,qtd_image,qtd_estilos,tamanho_livro,qtd_carc_normal
0,235806,0,0,0,0,64,90,64,82304,317,157,25,1,0.107919
1,235832,0,0,1,0,34,48,34,70983,372,232,16,0,0.090455
2,235874,0,0,1,0,44,48,44,69155,296,148,27,1,0.087635
3,235876,0,0,1,0,30,48,30,23238,154,109,29,1,0.016805
4,235878,0,0,0,0,68,98,67,87223,336,175,127,1,0.115507

In [63]:
data_semNF.columns

Index(['id', 'entidade', 'fornecedor', 'complexidade', 'stat_pagto',
       'qtd_pag_word', 'qtd_pag_estimado', 'qtd_pg_word', 'qtd_carc',
       'qtd_tabela', 'qtd_image', 'qtd_estilos', 'tamanho_livro',
       'qtd_carc_normal'],
      dtype='object')

In [64]:
#
# normalizar a quantidade de caracteres
#
# data_semNF.loc[:,'qtd_carc_normal'] = pd.Series((data.qtd_carc-data.qtd_carc.min())/(data.qtd_carc.max()-data.qtd_carc.min()))

In [75]:
#colunas_X= ['qtd_pag_word', 'qtd_tabela','qtd_image']
#colunas_X= ['qtd_pag_word', 'qtd_carc','qtd_tabela','qtd_image']
#colunas_X= ['qtd_pag_word', 'qtd_tabela','qtd_image','qtd_carc_normal']
#colunas_X= ['qtd_pag_word', 'qtd_tabela','qtd_image',"qtd_estilos", 'qtd_carc_normal']
#colunas_X= ['complexidade','entidade','qtd_pag_word', 'qtd_tabela','qtd_image', 'qtd_carc'] # FOREST
#colunas_X= ['qtd_pag_word', 'qtd_tabela','qtd_image',"qtd_estilos", 'qtd_carc_normal'] # REG LOG
#colunas_X= ['qtd_pag_word', 'qtd_tabela','qtd_image','qtd_carc_normal'] # REG LINEAR
#colunas_X= ['qtd_pag_word', 'qtd_tabela','qtd_image',"qtd_estilos", 'qtd_carc_normal'] # REG LINEAR 2
#colunas_X= ['qtd_pag_word', 'qtd_pg_word','qtd_tabela','qtd_image','qtd_carc']# FORST
#colunas_X= ['qtd_pag_word', 'qtd_tabela','qtd_image',"qtd_estilos", 'qtd_carc_normal'] #REG LOGISTICA
#colunas_X= [ 'qtd_pag_word','qtd_pg_word','qtd_tabela','qtd_image',"qtd_estilos", 'qtd_carc_normal','tamanho_livro']# REG LINEAR 2

#colunas_X= ['qtd_pag_word', 'qtd_pg_word','qtd_tabela','qtd_image','qtd_carc','tamanho_livro']# FOREST
#colunas_X= ['complexidade','entidade','qtd_pag_word', 'qtd_pg_word','qtd_tabela','qtd_image', 'qtd_carc','tamanho_livro']#FEREST
colunas_X= [ 'qtd_pag_word','qtd_pg_word','qtd_tabela','qtd_image', 'qtd_carc_normal','tamanho_livro']# REG LINEAR 2




X_semNF= data_semNF[colunas_X]

In [76]:
X_semNF

,qtd_pag_word,qtd_pg_word,qtd_tabela,qtd_image,qtd_carc_normal,tamanho_livro
0,64,64,317,157,0.107919,1
1,34,34,372,232,0.090455,0
2,44,44,296,148,0.087635,1
3,30,30,154,109,0.016805,1
4,68,67,336,175,0.115507,1
5,26,26,3,2,0.008390,0
6,23,23,321,161,0.003418,1
7,22,22,361,179,0.003085,1
8,20,20,319,159,0.000000,1
9,142,142,175,132,0.362292,2
10,75,75,147,96,0.131568,1
11,38,38,152,100,0.097482,1
12,48,48,323,163,0.093295,0
13,45,45,370,228,0.092970,1
14,81,11,12,65,0.233122,0
15,28,28,359,177,0.082142,1
16,30,30,315,150,0.101918,1
17,424,424,107,75,1.000000,2
18,373,374,277,140,0.886372,2
19,30,30,128,77,0.084149,1
20,29,29,363,181,0.016100,1
21,24,24,377,237,0.032081,0

In [77]:
X_semNF.dtypes

qtd_pag_word         int64
qtd_pg_word          int64
qtd_tabela           int64
qtd_image            int64
qtd_carc_normal    float64
tamanho_livro        int64
dtype: object

In [78]:
print(X_semNF.shape)

(22, 6)

In [79]:
#Fazendo predições no conjunto de teste
y_pred_semNF = loaded_model_f.predict(X_semNF)

In [80]:
print(y_pred_semNF)

[[ 80.39899114]
 [ 52.9384034 ]
 [ 64.53822674]
 [ 43.51974847]
 [ 84.23927419]
 [ 34.96682093]
 [ 37.01742764]
 [ 36.30630774]
 [ 34.58673986]
 [177.30442855]
 [ 91.2366712 ]
 [ 62.43619719]
 [ 62.70327014]
 [ 65.45054319]
 [120.12947044]
 [ 53.6216967 ]
 [ 58.38273571]
 [461.92832627]
 [410.61707728]
 [ 55.35697677]
 [ 42.86354762]
 [ 36.67683275]]

In [81]:
y_pred_semNF.shape

(22, 1)

In [82]:
print(data_semNF["qtd_pag_estimado"])

0      90
1      48
2      48
3      48
4      98
5      48
6      46
7      46
8      46
9     198
10    110
11     68
12     75
13     70
14    114
15     48
16     48
17    460
18    420
19     48
20     48
21     48
Name: qtd_pag_estimado, dtype: int64

In [83]:
#y_pred_semNF = pd.Series(y_pred_semNF,name=["qtd_pag_inferido"])

resultado_comparativo =  pd.concat([data_semNF["qtd_pag_word"], data_semNF["qtd_pag_estimado"], pd.Series(y_pred_semNF.T[0])], axis=1) # REG LINEAR
#resultado_comparativo =  pd.concat([data_semNF["qtd_pag_word"], data_semNF["qtd_pag_estimado"], pd.Series(y_pred_semNF)], axis=1) # REG LOGISTICA

In [84]:
data_semNF_final =  pd.concat([data_semNF, pd.Series(y_pred_semNF.T[0])], axis=1) # REG LINEAR
#data_semNF_final =  pd.concat([data_semNF, pd.Series(y_pred_semNF)], axis=1) # REG LOGISTICA

In [85]:
data_semNF_final.rename(columns={0: 'QTD_PAG_INFERIDO'}, inplace = True)

In [86]:
data_semNF_final.head()

,id,entidade,fornecedor,complexidade,stat_pagto,qtd_pag_word,qtd_pag_estimado,qtd_pg_word,qtd_carc,qtd_tabela,qtd_image,qtd_estilos,tamanho_livro,qtd_carc_normal,QTD_PAG_INFERIDO
0,235806,0,0,0,0,64,90,64,82304,317,157,25,1,0.107919,80.398991
1,235832,0,0,1,0,34,48,34,70983,372,232,16,0,0.090455,52.938403
2,235874,0,0,1,0,44,48,44,69155,296,148,27,1,0.087635,64.538227
3,235876,0,0,1,0,30,48,30,23238,154,109,29,1,0.016805,43.519748
4,235878,0,0,0,0,68,98,67,87223,336,175,127,1,0.115507,84.239274

In [87]:
resultado_comparativo

    qtd_pag_word  qtd_pag_estimado           0
0             64                90   80.398991
1             34                48   52.938403
2             44                48   64.538227
3             30                48   43.519748
4             68                98   84.239274
5             26                48   34.966821
6             23                46   37.017428
7             22                46   36.306308
8             20                46   34.586740
9            142               198  177.304429
10            75               110   91.236671
11            38                68   62.436197
12            48                75   62.703270
13            45                70   65.450543
14            81               114  120.129470
15            28                48   53.621697
16            30                48   58.382736
17           424               460  461.928326
18           373               420  410.617077
19            30                48   55.356977
20            29                48   42.863548
21            24                48   36.676833

In [88]:
data_semNF_final.to_excel("resultado_inferência_NGE-reg_linear_novo_FOREST9.xlsx",sheet_name='Inferencia por IA')