In [ ]:
# metodo de tratar tabelas

In [1]:
import os
import get_file_word as gf
import datetime
import pandas as pd

#setar variáveis onde estão arquivos
fileExt = r".docx"
fileExt2 = r".doc"
fileDir_19 = r"/Users/wpessoa/repositorios/NGE/words_2019/"
fileDir_20 = r"/Users/wpessoa/repositorios/NGE/words_2020/"


fileDir_semNF = r"/Users/wpessoa/repositorios/NGE/words_semNota/"

# verificar se existe o diretório
print("Existe esse diretório? ",os.path.exists(fileDir_19)) 
print("Existe esse diretório? ",os.path.exists(fileDir_20)) 


#fileDir = r"/Users/wpessoa/repositorios/Fluxo_Editorial/words/"
#fileDir= r'/Users/walnerpessoa/repositories/Fluxo_Editorial/words'
files_array_19 = [_ for _ in os.listdir(fileDir_19) if _.endswith(fileExt)]
#files_array_19_2 = [_ for _ in os.listdir(fileDir_19) if _.endswith(fileExt2)]
#files_array_19=files_array_19_1+files_array_19_2


files_array_20 = [_ for _ in os.listdir(fileDir_20) if _.endswith(fileExt)]
#files_array_20_2 = [_ for _ in os.listdir(fileDir_20) if _.endswith(fileExt2)]
#files_array_20=files_array_20_1+files_array_20_2

print("Quantidade de arquivos do word no diretório: ",len(files_array_19))
print("Quantidade de arquivos do word no diretório: ",len(files_array_20))



# rodar método get_info para ler aquivos do Word e retornar features de cada arquivo
# argumentos (diretório e array dos arquivos word)
# retorna (NºID,Qtd_caracteres,Qtd_tabela,Qtd_image,data)

var_19=gf.get_info(fileDir_19,files_array_19)
var_20=gf.get_info(fileDir_20,files_array_20)

#print(var)

Existe esse diretório?  True
Existe esse diretório?  True
Quantidade de arquivos do word no diretório:  58
Quantidade de arquivos do word no diretório:  52

In [2]:
#
#
# converter arquivo DOC para arquivo DOCX -> AINDA NÃO FUNCIONA
#
#

# https://stackoverflow.com/questions/38468442/multiple-doc-to-docx-file-conversion-using-python
from glob import glob
import re
import os
import win32com.client as win32
from win32com.client import constants

# Create list of paths to .doc files
paths = glob('C:\\path\\to\\doc\\files\\**\\*.doc', recursive=True)

def save_as_docx(path):
    # Opening MS Word
    word = win32.gencache.EnsureDispatch('Word.Application')
    doc = word.Documents.Open(path)
    doc.Activate ()

    # Rename path with .docx
    new_file_abs = os.path.abspath(path)
    new_file_abs = re.sub(r'\.\w+$', '.docx', new_file_abs)

    # Save and Close
    word.ActiveDocument.SaveAs(
        new_file_abs, FileFormat=constants.wdFormatXMLDocument
    )
    doc.Close(False)

for path in paths:
    save_as_docx(files_array_19_2)

ModuleNotFoundError: No module named 'win32com'

In [ ]:
#files_array_19_2

- Existe esse diretório?  True
- Existe esse diretório?  True
- Quantidade de arquivos do word no diretório:  58
- Quantidade de arquivos do word no diretório:  35

In [3]:
print(type(var_19))

<class 'list'>

In [4]:
# unindo lista 2019 com lista 2020
var=var_19+var_20

In [5]:
# converter veriável de retorno do método para Dataframe
#df = pd.DataFrame(var,columns=['Nº DA PLANILHA',"Qtd_carac","Qtd_tabela","Qtd_image","Data"])
df = pd.DataFrame(var,columns=['Nº DA PLANILHA',"Qtd_carac","Qtd_tabela","Qtd_image","Qtd_estilos", "Data"])

df.head()

  Nº DA PLANILHA  Qtd_carac  Qtd_tabela  Qtd_image  Qtd_estilos        Data
0         228354     129122          14         10           26  2019-02-27
1         235502      31123          21         17           23  2020-05-27
2         232098     413596          26         20           19  2019-09-16
3         225392      41144          28         24           23  2018-11-07
4         228307      43155          40         73           25  2019-02-26

In [6]:
df

    Nº DA PLANILHA  Qtd_carac  Qtd_tabela  Qtd_image  Qtd_estilos        Data
0           228354     129122          14         10           26  2019-02-27
1           235502      31123          21         17           23  2020-05-27
2           232098     413596          26         20           19  2019-09-16
3           225392      41144          28         24           23  2018-11-07
4           228307      43155          40         73           25  2019-02-26
..             ...        ...         ...        ...          ...         ...
105         235320     103663         455        444           20  2020-05-21
106         235811      29372         457        446           18  2020-08-03
107         233887      47904         462        451           14  2020-02-05
108         235495      31612         472        464           25  2020-05-25
109         233906     118624         475        533           19  2020-03-09

[110 rows x 6 columns]

In [7]:
# verificando tipo das variáveis
df.dtypes

Nº DA PLANILHA    object
Qtd_carac          int64
Qtd_tabela         int64
Qtd_image          int64
Qtd_estilos        int64
Data              object
dtype: object

In [8]:
# converter tipo para inteiros e data
df["Nº DA PLANILHA"] = pd.to_numeric(df["Nº DA PLANILHA"], errors='coerce')
df["Data"] = pd.to_datetime(df["Data"])

In [9]:
df.dtypes

Nº DA PLANILHA           float64
Qtd_carac                  int64
Qtd_tabela                 int64
Qtd_image                  int64
Qtd_estilos                int64
Data              datetime64[ns]
dtype: object

In [10]:
#Convertendo arquivo excel em dataframe

excelDir ="/Users/wpessoa/repositorios/Fluxo_Editorial/dados/"
excelFile_2019 = pd.read_excel(excelDir+'Exercicio_estimativa_de_paginas_2019_2020.xlsx',"EXECUTADO 2019")
excelFile_2020 = pd.read_excel(excelDir+'Exercicio_estimativa_de_paginas_2019_2020.xlsx',"EXECUTADO 2020")

In [11]:
len(excelFile_2020.columns)

26

In [12]:
len(excelFile_2019.columns)

28

In [13]:
###################################################
# FAZER MERGE COM excelFile_2020 & excelFile_2019
##################################################

In [14]:
frames = [excelFile_2019, excelFile_2020]
excelFile2 = pd.concat(frames)

In [15]:
# reindexar o index devido ter deletado algumas linhas
excelFile2.reset_index(drop=True, inplace=True)

In [16]:
# selecionando apenas colunas necessárias
colunas=['ENTIDADE','PUBLICAÇÃO','Nº de páginas WORD','Nº de páginas estimado', 'COMPLEXIDADE','FORNECEDOR','Nº DA PLANILHA','STATUS DE PGTO','Nº de páginas finais']
excelFile2 = excelFile2[colunas]

In [17]:
excelFile2.columns

Index(['ENTIDADE', 'PUBLICAÇÃO', 'Nº de páginas WORD',
       'Nº de páginas estimado', 'COMPLEXIDADE', 'FORNECEDOR',
       'Nº DA PLANILHA', 'STATUS DE PGTO', 'Nº de páginas finais'],
      dtype='object')

In [18]:
excelFile2.dtypes

ENTIDADE                   object
PUBLICAÇÃO                 object
Nº de páginas WORD         object
Nº de páginas estimado    float64
COMPLEXIDADE               object
FORNECEDOR                 object
Nº DA PLANILHA             object
STATUS DE PGTO             object
Nº de páginas finais       object
dtype: object

In [19]:
excelFile2.dtypes

ENTIDADE                   object
PUBLICAÇÃO                 object
Nº de páginas WORD         object
Nº de páginas estimado    float64
COMPLEXIDADE               object
FORNECEDOR                 object
Nº DA PLANILHA             object
STATUS DE PGTO             object
Nº de páginas finais       object
dtype: object

In [20]:
#excelFile2.set_index('Nº DA PLANILHA',inplace=True)

In [21]:
excelFile2

,ENTIDADE,PUBLICAÇÃO,Nº de páginas WORD,Nº de páginas estimado,COMPLEXIDADE,FORNECEDOR,Nº DA PLANILHA,STATUS DE PGTO,Nº de páginas finais
0,CNI,Reuso CE,87,140.0,Alta,Editorar,224323,Pago,140
1,CNI,Reuso PE,82,122.0,Alta,Editorar,224325,Pago,122
2,CNI,Processo De Internalização Dos Atos Internacio...,41,70.0,Média,Editorar,225392,Pago,52
3,CNI,Manual de orientações da ouvidoria do Sesi e d...,30,45.0,Baixa,Editorar,225507,Pago,32
4,CNI,Guia de Propriedade Intelectual para o Jornalista,36,48.0,Baixa,Editorar,225531,Pago,48
...,...,...,...,...,...,...,...,...,...
130,SENAI,Guia de Operacionalização da MSEP,56,104.0,Alta,Icomunicação,235514,Pago,72
131,SENAI,MSEP / 1º Guia da Prática Pedagógica,38,48.0,Baixa,Icomunicação,235700,Pago,44
132,SENAI,MSEP / 2º Guia da Prática Pedagógica,33,44.0,Baixa,Icomunicação,235701,Pago,40
133,SENAI,Guia de Operalização PSAI Sustentável,33,72.0,Baixa,Icomunicação,235710,Pago,48
134,SENAI,Introdução ao método do emprego apoiado,12,24.0,Baixa,Icomunicação,235813,Pago,24

In [22]:
excelFile2.describe()

       Nº de páginas estimado
count              129.000000
mean                93.953488
std                 72.398297
min                  1.000000
25%                 48.000000
50%                 75.000000
75%                110.000000
max                440.000000

In [52]:
# Verificar se tem alguma inconsistencia na planilha Excel - Quantidade de páginas por exemplo
excelFile2.sort_values('Nº de páginas WORD')

,ENTIDADE,PUBLICAÇÃO,Nº de páginas WORD,Nº de páginas estimado,COMPLEXIDADE,FORNECEDOR,Nº DA PLANILHA,STATUS DE PGTO,Nº de páginas finais
75,CNI,Relatório de Atividades da DJ,1,1.0,Alta,Editorar,233694,Pago,1
82,SENAI,Guia Autoinstrucionais,10,40.0,Baixa,Editorar,233889,Pago,20
134,SENAI,Introdução ao método do emprego apoiado,12,24.0,Baixa,Icomunicação,235813,Pago,24
84,SENAI,Guia Microlearning,12,35.0,Baixa,Editorar,233891,Pago,22
95,CNI,Cartilha de Licenciamento Ambiental,15,15.0,Baixa,Editorar,233910,Pago,15
...,...,...,...,...,...,...,...,...,...
92,CNI,Agenda Legislativa 2020,207,310.0,Alta,Editorar,233908,Pago,296
26,CNI,30 Casos de Inovação MIOLO,214,420.0,---,Editorar,231201,Pago,340
38,SESI,Estudo e prospectiva para a indústria,216,300.0,Alta,Editorar,3,Pago,212
66,CNI,Agenda Legislativa da Indústria 2019,316,440.0,Alta,Icomunicação,228346,Pago,296
58,SENAI,Catálogo Itinenário,543,400.0,Alta,Editorar,233002,Pago,386

In [24]:
excelFile2['Nº de páginas finais'].unique()

array(['140', '122', '52', '32', '48', 88, '66', '82', '92', '70', '96',
       '18', '40', '46', '68', '34', '28', '86', '84', '110', '116', '98',
       '340', '72', '112', '71', '100', '43', '76', '212', '74', '38',
       '42', '54', '104', '386', '126', '296', '196', 'RMSE', nan, 1, 52,
       66, 86, 68, 46, 30, 20, 22, 24, 176, 84, 98, 38, 296, 76, 15, 108,
       120, 57, 82, 168, 162, 54, 48, 100, 36, 78, 40, 44, 62, 110, 42,
       72], dtype=object)

In [53]:
# Verificar se tem alguma inconsistencia na planilha Excel - Quantidade de páginas por exemplo
excelFile2.sort_values('Nº de páginas finais')

TypeError: '<' not supported between instances of 'int' and 'str'

In [26]:
# verifiacando valores nulos
excelFile2.isnull().sum()

ENTIDADE                  6
PUBLICAÇÃO                6
Nº de páginas WORD        3
Nº de páginas estimado    6
COMPLEXIDADE              6
FORNECEDOR                3
Nº DA PLANILHA            6
STATUS DE PGTO            6
Nº de páginas finais      5
dtype: int64

In [27]:
# retirar registro nulos
excelFile2=excelFile2.dropna()

In [28]:
# verifiacando valores nulos
excelFile2.isnull().sum()

ENTIDADE                  0
PUBLICAÇÃO                0
Nº de páginas WORD        0
Nº de páginas estimado    0
COMPLEXIDADE              0
FORNECEDOR                0
Nº DA PLANILHA            0
STATUS DE PGTO            0
Nº de páginas finais      0
dtype: int64

In [29]:
excelFile2.dtypes

ENTIDADE                   object
PUBLICAÇÃO                 object
Nº de páginas WORD         object
Nº de páginas estimado    float64
COMPLEXIDADE               object
FORNECEDOR                 object
Nº DA PLANILHA             object
STATUS DE PGTO             object
Nº de páginas finais       object
dtype: object

In [30]:
import numpy as np
excelFile2["Nº DA PLANILHA"] = (pd.to_numeric(excelFile2["Nº DA PLANILHA"], errors='coerce').fillna(0).astype(np.int64))#,downcast='integer'))
#excelFile2["Nº DA PLANILHA"] = excelFile2["Nº DA PLANILHA"].astype('int64',errors='ignore')

<ipython-input-30-8fdfc85dce57>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  excelFile2["Nº DA PLANILHA"] = (pd.to_numeric(excelFile2["Nº DA PLANILHA"], errors='coerce').fillna(0).astype(np.int64))#,downcast='integer'))

In [31]:
excelFile2.dtypes

ENTIDADE                   object
PUBLICAÇÃO                 object
Nº de páginas WORD         object
Nº de páginas estimado    float64
COMPLEXIDADE               object
FORNECEDOR                 object
Nº DA PLANILHA              int64
STATUS DE PGTO             object
Nº de páginas finais       object
dtype: object

In [32]:
df.dtypes

Nº DA PLANILHA           float64
Qtd_carac                  int64
Qtd_tabela                 int64
Qtd_image                  int64
Qtd_estilos                int64
Data              datetime64[ns]
dtype: object

In [33]:
excelFile2

,ENTIDADE,PUBLICAÇÃO,Nº de páginas WORD,Nº de páginas estimado,COMPLEXIDADE,FORNECEDOR,Nº DA PLANILHA,STATUS DE PGTO,Nº de páginas finais
0,CNI,Reuso CE,87,140.0,Alta,Editorar,224323,Pago,140
1,CNI,Reuso PE,82,122.0,Alta,Editorar,224325,Pago,122
2,CNI,Processo De Internalização Dos Atos Internacio...,41,70.0,Média,Editorar,225392,Pago,52
3,CNI,Manual de orientações da ouvidoria do Sesi e d...,30,45.0,Baixa,Editorar,225507,Pago,32
4,CNI,Guia de Propriedade Intelectual para o Jornalista,36,48.0,Baixa,Editorar,225531,Pago,48
...,...,...,...,...,...,...,...,...,...
130,SENAI,Guia de Operacionalização da MSEP,56,104.0,Alta,Icomunicação,235514,Pago,72
131,SENAI,MSEP / 1º Guia da Prática Pedagógica,38,48.0,Baixa,Icomunicação,235700,Pago,44
132,SENAI,MSEP / 2º Guia da Prática Pedagógica,33,44.0,Baixa,Icomunicação,235701,Pago,40
133,SENAI,Guia de Operalização PSAI Sustentável,33,72.0,Baixa,Icomunicação,235710,Pago,48
134,SENAI,Introdução ao método do emprego apoiado,12,24.0,Baixa,Icomunicação,235813,Pago,24

In [34]:
df

     Nº DA PLANILHA  Qtd_carac  Qtd_tabela  Qtd_image  Qtd_estilos       Data
0          228354.0     129122          14         10           26 2019-02-27
1          235502.0      31123          21         17           23 2020-05-27
2          232098.0     413596          26         20           19 2019-09-16
3          225392.0      41144          28         24           23 2018-11-07
4          228307.0      43155          40         73           25 2019-02-26
..              ...        ...         ...        ...          ...        ...
105        235320.0     103663         455        444           20 2020-05-21
106        235811.0      29372         457        446           18 2020-08-03
107        233887.0      47904         462        451           14 2020-02-05
108        235495.0      31612         472        464           25 2020-05-25
109        233906.0     118624         475        533           19 2020-03-09

[110 rows x 6 columns]

In [62]:
# unir arquivo do NGE com o método de leitura dos arquivos Word
#
# Atenção >>>>>>>> alguns arquivos não passaram pelo método de leitura dos arquivos word e irão gerar valores NAN
#
df_final = pd.merge(excelFile2, df, on=['Nº DA PLANILHA'], how='left')

In [63]:
# colocando ordem das colunas adequada
excelFile2.columns
#colunas_final = ['Nº DA PLANILHA','ENTIDADE',  'FORNECEDOR','COMPLEXIDADE', 'STATUS DE PGTO',  'Nº de páginas WORD','Nº de páginas estimado', 'Qtd_carac','Qtd_tabela', 'Qtd_image','Nº de páginas finais' ]
colunas_final = ['Nº DA PLANILHA','ENTIDADE',  'FORNECEDOR','COMPLEXIDADE', 'STATUS DE PGTO',  'Nº de páginas WORD','Nº de páginas estimado', 'Qtd_carac','Qtd_tabela', 'Qtd_image',"Qtd_estilos",'Nº de páginas finais' ]
df_final = df_final[colunas_final]

In [64]:
# -----> verificar valores NAN 
df_final.isnull().sum()
# OS REGISTROS COM NAN NESSE CASO FORAM OS ARQUIVOS WORD QUE NÃO FOI ENCONTRADO.

Nº DA PLANILHA             0
ENTIDADE                   0
FORNECEDOR                 0
COMPLEXIDADE               0
STATUS DE PGTO             0
Nº de páginas WORD         0
Nº de páginas estimado     0
Qtd_carac                 21
Qtd_tabela                21
Qtd_image                 21
Qtd_estilos               21
Nº de páginas finais       0
dtype: int64

In [65]:
# retirar registro nulos
df_final=df_final.dropna()
# APAGOU AS LINHAS COM NAN

In [66]:
# -----> verificar valores NAN 
df_final.isnull().sum()

Nº DA PLANILHA            0
ENTIDADE                  0
FORNECEDOR                0
COMPLEXIDADE              0
STATUS DE PGTO            0
Nº de páginas WORD        0
Nº de páginas estimado    0
Qtd_carac                 0
Qtd_tabela                0
Qtd_image                 0
Qtd_estilos               0
Nº de páginas finais      0
dtype: int64

In [67]:
df_final

,Nº DA PLANILHA,ENTIDADE,FORNECEDOR,COMPLEXIDADE,STATUS DE PGTO,Nº de páginas WORD,Nº de páginas estimado,Qtd_carac,Qtd_tabela,Qtd_image,Qtd_estilos,Nº de páginas finais
0,224323,CNI,Editorar,Alta,Pago,87,140.0,116142.0,470.0,685.0,60.0,140
1,224325,CNI,Editorar,Alta,Pago,82,122.0,108307.0,76.0,94.0,69.0,122
2,225392,CNI,Editorar,Média,Pago,41,70.0,41144.0,28.0,24.0,23.0,52
3,225392,CNI,Editorar,Média,Pago,41,70.0,62913.0,397.0,639.0,21.0,52
5,225531,CNI,Editorar,Baixa,Pago,36,48.0,37548.0,233.0,397.0,17.0,48
...,...,...,...,...,...,...,...,...,...,...,...,...
126,235514,SENAI,Icomunicação,Alta,Pago,56,104.0,51127.0,356.0,365.0,18.0,72
127,235700,SENAI,Icomunicação,Baixa,Pago,38,48.0,40157.0,339.0,325.0,16.0,44
128,235701,SENAI,Icomunicação,Baixa,Pago,33,44.0,42499.0,293.0,303.0,15.0,40
129,235710,SENAI,Icomunicação,Baixa,Pago,33,72.0,28573.0,413.0,391.0,15.0,48
130,235813,SENAI,Icomunicação,Baixa,Pago,12,24.0,940.0,432.0,415.0,4.0,24

In [68]:
#print(df_final["qtd_pag_word"],(df_final["qtd_carc"]/1430))

In [69]:
# reindexar o index devido ter deletado algumas linhas
df_final.reset_index(drop=True, inplace=True)

In [70]:
#colunas_final = ['Nº DA PLANILHA','ENTIDADE', 'PUBLICAÇÃO', 'FORNECEDOR','COMPLEXIDADE', 'STATUS DE PGTO', 'Data', 'Nº de páginas WORD', 'Nº de páginas estimado', 'Qtd_carac','Qtd_tabela', 'Qtd_image','Nº de páginas finais' ]
#df_final_num = df_final[colunas_final]

In [71]:
df_final.dtypes

Nº DA PLANILHA              int64
ENTIDADE                   object
FORNECEDOR                 object
COMPLEXIDADE               object
STATUS DE PGTO             object
Nº de páginas WORD         object
Nº de páginas estimado    float64
Qtd_carac                 float64
Qtd_tabela                float64
Qtd_image                 float64
Qtd_estilos               float64
Nº de páginas finais       object
dtype: object

In [72]:
df_final.head()

,Nº DA PLANILHA,ENTIDADE,FORNECEDOR,COMPLEXIDADE,STATUS DE PGTO,Nº de páginas WORD,Nº de páginas estimado,Qtd_carac,Qtd_tabela,Qtd_image,Qtd_estilos,Nº de páginas finais
0,224323,CNI,Editorar,Alta,Pago,87,140.0,116142.0,470.0,685.0,60.0,140
1,224325,CNI,Editorar,Alta,Pago,82,122.0,108307.0,76.0,94.0,69.0,122
2,225392,CNI,Editorar,Média,Pago,41,70.0,41144.0,28.0,24.0,23.0,52
3,225392,CNI,Editorar,Média,Pago,41,70.0,62913.0,397.0,639.0,21.0,52
4,225531,CNI,Editorar,Baixa,Pago,36,48.0,37548.0,233.0,397.0,17.0,48

In [73]:
# alterar campos typo string para categóricos 
df_final['ENTIDADE'] = df_final['ENTIDADE'].astype('category')
df_final['COMPLEXIDADE'] = df_final['COMPLEXIDADE'].astype('category')
df_final['FORNECEDOR'] = df_final['FORNECEDOR'].astype('category')
df_final['STATUS DE PGTO'] = df_final['STATUS DE PGTO'].astype('category')

In [74]:
# SOBRE O AVISO: A value is trying to be set on a copy of a slice from a dataframe
# https://paulovasconcellos.com.br/o-que-%C3%A9-a-value-is-trying-to-be-set-on-a-copy-of-a-slice-from-a-dataframe-e85f744d8be1

In [75]:
# alterar campos typo categóricos para numérico
# aplicando .cat.codes em cada uma dessas colunas
df_final['ENTIDADE'] = df_final['ENTIDADE'].cat.codes
df_final['COMPLEXIDADE'] = df_final['COMPLEXIDADE'].cat.codes
df_final['FORNECEDOR'] = df_final['FORNECEDOR'].cat.codes
df_final['STATUS DE PGTO'] = df_final['STATUS DE PGTO'].cat.codes

In [76]:
df_final['Nº de páginas WORD'] = df_final['Nº de páginas WORD'].astype('int')

In [77]:
# Verificar se tem alguma inconsistencia na planilha Excel - Quantidade de páginas por exemplo
df_final.sort_values('Nº de páginas WORD')

# eliminar linhas com menos de 10 páginas
filtro  = df_final['Nº de páginas WORD'] > 10
df_final = df_final[filtro]

In [78]:
df_final.dtypes

Nº DA PLANILHA              int64
ENTIDADE                     int8
FORNECEDOR                   int8
COMPLEXIDADE                 int8
STATUS DE PGTO               int8
Nº de páginas WORD          int64
Nº de páginas estimado    float64
Qtd_carac                 float64
Qtd_tabela                float64
Qtd_image                 float64
Qtd_estilos               float64
Nº de páginas finais       object
dtype: object

In [79]:
df_final.head()

,Nº DA PLANILHA,ENTIDADE,FORNECEDOR,COMPLEXIDADE,STATUS DE PGTO,Nº de páginas WORD,Nº de páginas estimado,Qtd_carac,Qtd_tabela,Qtd_image,Qtd_estilos,Nº de páginas finais
0,224323,0,0,1,0,87,140.0,116142.0,470.0,685.0,60.0,140
1,224325,0,0,1,0,82,122.0,108307.0,76.0,94.0,69.0,122
2,225392,0,0,3,0,41,70.0,41144.0,28.0,24.0,23.0,52
3,225392,0,0,3,0,41,70.0,62913.0,397.0,639.0,21.0,52
4,225531,0,0,2,0,36,48.0,37548.0,233.0,397.0,17.0,48

In [80]:
df_final.columns

Index(['Nº DA PLANILHA', 'ENTIDADE', 'FORNECEDOR', 'COMPLEXIDADE',
       'STATUS DE PGTO', 'Nº de páginas WORD', 'Nº de páginas estimado',
       'Qtd_carac', 'Qtd_tabela', 'Qtd_image', 'Qtd_estilos',
       'Nº de páginas finais'],
      dtype='object')

In [81]:
# trocar type float por int
#df_final['Nº DA PLANILHA'] = df_final['Nº DA PLANILHA'].astype('int')
#df_final['Nº DA PLANILHA'] = df_final['Nº DA PLANILHA'].astype('int')

In [82]:
# inserir zeros no lugar do valor NAN
#df_final['Qtd_carac']= df_final['Qtd_carac'].fillna(0)
#df_final['Qtd_tabela'] = df_final['Qtd_tabela'].fillna(0)
#df_final['Qtd_image'] = df_final['Qtd_image'].fillna(0)

In [83]:
# trocar type float por int
#df_final['Nº de páginas estimado'] = df_final['Nº de páginas estimado'].astype('int')
df_final['Qtd_carac'] = df_final['Qtd_carac'].astype('int')
df_final['Qtd_tabela'] = df_final['Qtd_tabela'].astype('int')
df_final['Qtd_image'] = df_final['Qtd_image'].astype('int')

df_final['Nº de páginas finais'] = df_final['Nº de páginas finais'].astype('int')

<ipython-input-83-0c697c469c6d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['Qtd_carac'] = df_final['Qtd_carac'].astype('int')
<ipython-input-83-0c697c469c6d>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['Qtd_tabela'] = df_final['Qtd_tabela'].astype('int')
<ipython-input-83-0c697c469c6d>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['Qtd_image'] = df_final['Qtd_image'].astype('int')
<ipython-input-83-0c697c469c6d>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['Nº de páginas finais'] = df_final['Nº de páginas finais'].astype('int')

In [84]:
df_final.columns

Index(['Nº DA PLANILHA', 'ENTIDADE', 'FORNECEDOR', 'COMPLEXIDADE',
       'STATUS DE PGTO', 'Nº de páginas WORD', 'Nº de páginas estimado',
       'Qtd_carac', 'Qtd_tabela', 'Qtd_image', 'Qtd_estilos',
       'Nº de páginas finais'],
      dtype='object')

In [85]:
df_final.dtypes

Nº DA PLANILHA              int64
ENTIDADE                     int8
FORNECEDOR                   int8
COMPLEXIDADE                 int8
STATUS DE PGTO               int8
Nº de páginas WORD          int64
Nº de páginas estimado    float64
Qtd_carac                   int64
Qtd_tabela                  int64
Qtd_image                   int64
Qtd_estilos               float64
Nº de páginas finais        int64
dtype: object

In [86]:
#renomear colunas
#df_final.rename(columns={'Nº DA PLANILHA': 'id','ENTIDADE':"entidade",'FORNECEDOR':"fornecedor", 'COMPLEXIDADE':"complexidade",
#                         'STATUS DE PGTO':"stat_pagto",'Nº de páginas WORD':"qtd_pag_word", 
#                         'Nº de páginas estimado':"qtd_pag_estimado", 'Qtd_carac':"qtd_carc",
#       'Qtd_tabela':"qtd_tabela", 'Qtd_image': "qtd_image", 'Nº de páginas finais':"pag_final"} , inplace = True)

df_final.rename(columns={'Nº DA PLANILHA': 'id','ENTIDADE':"entidade",'FORNECEDOR':"fornecedor", 'COMPLEXIDADE':"complexidade",
                         'STATUS DE PGTO':"stat_pagto",'Nº de páginas WORD':"qtd_pag_word", 
                         'Nº de páginas estimado':"qtd_pag_estimado", 'Qtd_carac':"qtd_carc",
       'Qtd_tabela':"qtd_tabela", 'Qtd_image': "qtd_image","Qtd_estilos":"qtd_estilos", 'Nº de páginas finais':"pag_final"} , inplace = True)

/Users/wpessoa/miniconda3/envs/py3/lib/python3.8/site-packages/pandas/core/frame.py:4293: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [87]:
# gerar arquivo csv para arquivo tratado

df_final.to_csv("nge_dados_input.csv",index=False )

#data = pd.read_csv("nge_dados_input.csv")
#df_final.to_csv(index=False)
#df_final.to_csv("nge_dados_input.csv", data = imprimir_ano)